<aside class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}
      Welcome to the Go Cloud Development Kit!
      {{end}}
      </p>
    </div>
    <hr/>
    <nav>
      <ul class="sidebar-nav">
        {{ range sort .Site.RegularPages -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
      <a href="https://github.com/google/go-cloud">
        <img class="stickcenter" src="{{ .Site.BaseURL }}/gh.png"></img>
        <img class="stickcenter" src="{{ .Site.BaseURL }}/gh.png"></img>
      </a>
    </nav>
  </div>
</aside>
