---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/1549660952067354","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt","name":"blob-for-delimiters-abcdir1abca.txt","bucket":"go-cloud-blob-test-bucket","generation":"1549660952067354","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-08T21:22:32.066Z","updated":"2019-02-08T21:22:32.066Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-08T21:22:32.066Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt?generation=1549660952067354&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/1549660952067354/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-abcdir1abca.txt","generation":"1549660952067354","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJr6x/SIreACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/1549660952067354/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-abcdir1abca.txt","generation":"1549660952067354","entity":"project-editors-892942638129","role":"OWNER","proje[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-abcdir1abc","blob-for-delimiters-abcdir2abc"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcf.txt/1549660954599902","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcf.txt","name":"blob-for-delimiters-abcf.txt","bucket":"go-cloud-blob-test-bucket","generation":"1549660954599902","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-08T21:22:3[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abcdir1abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-abcdir1abcsubdirabc"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/15496609520673[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abcdir1abcsubdirabc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abcsubdirabcc.txt/1549660953064265","selfLink":"https://www.googleapi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1&pageToken=&prefix=blob-for-delimiters-abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","nextPageToken":"Ch5ibG9iLWZvci1kZWxpbWl0ZXJzLWFiY2RpcjFhYmM=","prefixes":["blob-for-delimiters-abcdir1abc"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1&pageToken=Ch5ibG9iLWZvci1kZWxpbWl0ZXJzLWFiY2RpcjFhYmM%3D&prefix=blob-for-delimiters-abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","nextPageToken":"Ch5ibG9iLWZvci1kZWxpbWl0ZXJzLWFiY2RpcjJhYmM=","prefixes":["blob-for-delimiters-abcdir2abc"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1&pageToken=Ch5ibG9iLWZvci1kZWxpbWl0ZXJzLWFiY2RpcjJhYmM%3D&prefix=blob-for-delimiters-abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcf.txt/1549660954599902","selfLink":"https://ww[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir2abce.txt?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: "--a3c41e0e59547a965c2fda9839466132a920f89a044a19e820b644c2f2dc\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"blob-for-delimiters-abcdir2abce.txt\"}\n\r\n--a3c41e0e59547a965c2fda9839466132a920f89a044a19e820b644c2f2dc\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--a3c41e0e59547a965c2fda9839466132a920f89a044a19e8[...]
