---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/1539896906873913","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt","name":"blob-for-delimiters-abcdir1abca.txt","bucket":"go-cloud-blob-test-bucket","generation":"1539896906873913","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-18T21:08:26.873Z","updated":"2018-10-18T21:08:26.873Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-18T21:08:26.873Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt?generation=1539896906873913&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/1539896906873913/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-abcdir1abca.txt","generation":"1539896906873913","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CLn4/4DzkN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/1539896906873913/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcdir1abca.txt/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-abcdir1abca.txt","generation":"1539896906873913","entity":"project-editors-892942638129","role":"OWNER","proje[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-abcdir1abc","blob-for-delimiters-abcdir2abc"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcf.txt/1539896907314869","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-abcf.txt","name":"blob-for-delimiters-abcf.txt","bucket":"go-cloud-blob-test-bucket","generation":"1539896907314869","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-18T21:08:2[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abcdir1abc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-abcdir1abcsubdirabc"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abca.txt/15398969068739[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=abc&maxResults=1000&pageToken=&prefix=blob-for-delimiters-abcdir1abcsubdirabc&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-abcdir1abcsubdirabcc.txt/1539896907064981","selfLink":"https://www.googleapi[...]
[...]
