---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1552581505012351","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt","name":"blob-for-delimiters-\\dir1\\a.txt","bucket":"go-cloud-blob-test-bucket","generation":"1552581505012351","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-03-14T16:38:25.012Z","updated":"2019-03-14T16:38:25.012Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-03-14T16:38:25.012Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt?generation=1552581505012351&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1552581505012351/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-\\dir1\\a.txt","generation":"1552581505012351","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CP+k3eiIguECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1552581505012351/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-\\dir1\\a.txt","generation":"1552581505012351","entity":"project-editors-892942638129","role":"OWNER","projectTe[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-\\dir1\\","blob-for-delimiters-\\dir2\\"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\f.txt/1552581505676921","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cf.txt","name":"blob-for-delimiters-\\f.txt","bucket":"go-cloud-blob-test-bucket","generation":"1552581505676921","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-03-14T16:38:25.676Z[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5Cdir1%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-\\dir1\\subdir\\"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1552581505012351","[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5Cdir1%5Csubdir%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\subdir\\c.txt/1552581505257786","selfLink":"https://www.googleapis.c[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1&pageToken=&prefix=blob-for-delimiters-%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","nextPageToken":"ChpibG9iLWZvci1kZWxpbWl0ZXJzLVxkaXIxXA==","prefixes":["blob-for-delimiters-\\dir1\\"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1&pageToken=ChpibG9iLWZvci1kZWxpbWl0ZXJzLVxkaXIxXA%3D%3D&prefix=blob-for-delimiters-%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","nextPageToken":"ChpibG9iLWZvci1kZWxpbWl0ZXJzLVxkaXIyXA==","prefixes":["blob-for-delimiters-\\dir2\\"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1&pageToken=ChpibG9iLWZvci1kZWxpbWl0ZXJzLVxkaXIyXA%3D%3D&prefix=blob-for-delimiters-%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\f.txt/1552581505676921","selfLink":"https://www.g[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir2%5Ce.txt?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: "--4df4c0876c573afda4c394709b283a2b1d19a449d0cb3ae39f3f32eaec52\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"blob-for-delimiters-\\\\dir2\\\\e.txt\"}\n\r\n--4df4c0876c573afda4c394709b283a2b1d19a449d0cb3ae39f3f32eaec52\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--4df4c0876c573afda4c394709b283a2b1d19a449d0cb3a[...]
