---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1539896905259071","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt","name":"blob-for-delimiters-\\dir1\\a.txt","bucket":"go-cloud-blob-test-bucket","generation":"1539896905259071","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-18T21:08:25.258Z","updated":"2018-10-18T21:08:25.258Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-18T21:08:25.258Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt?generation=1539896905259071&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1539896905259071/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-\\dir1\\a.txt","generation":"1539896905259071","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CL+wnYDzkN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1539896905259071/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cdir1%5Ca.txt/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-\\dir1\\a.txt","generation":"1539896905259071","entity":"project-editors-892942638129","role":"OWNER","projectTe[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-\\dir1\\","blob-for-delimiters-\\dir2\\"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\f.txt/1539896906108214","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%5Cf.txt","name":"blob-for-delimiters-\\f.txt","bucket":"go-cloud-blob-test-bucket","generation":"1539896906108214","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-18T21:08:26.107Z[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5Cdir1%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-\\dir1\\subdir\\"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\a.txt/1539896905259071","[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%5C&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%5Cdir1%5Csubdir%5C&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-\\dir1\\subdir\\c.txt/1539896905596132","selfLink":"https://www.googleapis.c[...]
[...]
