---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%2F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-/dir1/a.txt/1549660940554818","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%2Fdir1%2Fa.txt","name":"blob-for-delimiters-/dir1/a.txt","bucket":"go-cloud-blob-test-bucket","generation":"1549660940554818","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-08T21:22:20.554Z","updated":"2019-02-08T21:22:20.554Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-08T21:22:20.554Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%2Fdir1%2Fa.txt?generation=1549660940554818&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-/dir1/a.txt/1549660940554818/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%2Fdir1%2Fa.txt/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-/dir1/a.txt","generation":"1549660940554818","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CMKkie+IreACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-delimiters-/dir1/a.txt/1549660940554818/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%2Fdir1%2Fa.txt/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-delimiters-/dir1/a.txt","generation":"1549660940554818","entity":"project-editors-892942638129","role":"OWNER","projectTeam":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%2F&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%2F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-/dir1/","blob-for-delimiters-/dir2/"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-/f.txt/1549660943405208","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%2Ff.txt","name":"blob-for-delimiters-/f.txt","bucket":"go-cloud-blob-test-bucket","generation":"1549660943405208","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-08T21:22:23.403Z","upd[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%2F&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%2Fdir1%2F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["blob-for-delimiters-/dir1/subdir/"],"items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-/dir1/a.txt/1549660940554818","selfL[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%2F&maxResults=1000&pageToken=&prefix=blob-for-delimiters-%2Fdir1%2Fsubdir%2F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-/dir1/subdir/c.txt/1549660941560417","selfLink":"https://www.googleapis.com/[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%2F&maxResults=1&pageToken=&prefix=blob-for-delimiters-%2F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","nextPageToken":"ChpibG9iLWZvci1kZWxpbWl0ZXJzLS9kaXIxLw==","prefixes":["blob-for-delimiters-/dir1/"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%2F&maxResults=1&pageToken=ChpibG9iLWZvci1kZWxpbWl0ZXJzLS9kaXIxLw%3D%3D&prefix=blob-for-delimiters-%2F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","nextPageToken":"ChpibG9iLWZvci1kZWxpbWl0ZXJzLS9kaXIyLw==","prefixes":["blob-for-delimiters-/dir2/"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%2F&maxResults=1&pageToken=ChpibG9iLWZvci1kZWxpbWl0ZXJzLS9kaXIyLw%3D%3D&prefix=blob-for-delimiters-%2F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-delimiters-/f.txt/1549660943405208","selfLink":"https://www.go[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-delimiters-%2Fdir2%2Fe.txt?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: "--1916024169d37e750069f872d6454406b0551c6aff6d4415a0d5e351eefa\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"blob-for-delimiters-/dir2/e.txt\"}\n\r\n--1916024169d37e750069f872d6454406b0551c6aff6d4415a0d5e351eefa\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--1916024169d37e750069f872d6454406b0551c6aff6d4415a0d5[...]
