---
version: 1
interactions:
- request:
    body: "--4faccadff33bdb789694a95b64ee7ee386f74a67ec6cdab81e6a89391752\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"as-test\"}\n\r\n--4faccadff33bdb789694a95b64ee7ee386f74a67ec6cdab81e6a89391752\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--4faccadff33bdb789694a95b64ee7ee386f74a67ec6cdab81e6a89391752--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=4faccadff33bdb789694a95b64ee7ee386f74a67ec6cdab81e6a89391752
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/as-test/1539645453497353","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test","name":"as-test","bucket":"go-cloud-blob-test-bucket","generation":"1539645453497353","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-15T23:17:33.496Z","updated":"2018-10-15T23:17:33.496Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-15T23:17:33.496Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/as-test?generation=1539645453497353&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539645453497353/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539645453497353","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CIno16LKid4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539645453497353/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539645453497353","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CIno16LKid4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539645453497353/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539645453497353","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CIno16LKid4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539645453497353/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539645453497353","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CIno16LKid4CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"CIno16LKid4CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CIno16LKid4CEAE=
      X-Google-Apiary-Auth-Expires:
      - "1539645753000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hhlaxbai11:4171,/bns/hi/borg/hi/bns/blobstore2/bitpusher/16.scotty,acsfoc4-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=DSDFW8yIHYqnxgOG5LjwDQ
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfoc4-v6:443,/bns/hi/borg/hi/bns/blobstore2/bitpusher/16.scotty,acsfoc4-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hi/borg/hi/bns/blobstore2/bitpusher/16:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5LkdsdzNCdG55bFQtTUdCZW42TFZLRVZHcnRodzU2V3V1aDk1ak9sZFEtUEFZcUJydGZsRkFfY191NEIweVFVdW1DZG5oNVFtYmNSc0FWeFBscTdYQTcydml3RG0wdHI5MTRlSlU3MFhkMEV2NEdOeElUNEh0ZG9RdnRBcE9NdzAEOg0xL1IyYlZDRmpHNUh-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/as-test/1539645453497353","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test","name":"as-test","bucket":"go-cloud-blob-test-bucket","generation":"1539645453497353","metageneration":"1","con[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/as-test
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Mon, 15 Oct 2018 23:17:33 GMT
      X-Goog-Generation:
      - "1539645453497353"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Google-Backends:
      - /bns/hi/borg/hi/bns/cloud-storage/prod-cloud-storage-frontend.frontend/24,/bns/hg/borg/hg/bns/blobstore2/bitpusher/42.scotty,acsfot20-v6:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=DSDFW7nkJOORxgOWhLiIDw
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfot20-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/42.scotty,acsfot20-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/42:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1539645753000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hilaxcau12:4228,/bns/hi/borg/hi/bns/blobstore2/bitpusher/19.scotty,acsfoc4-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=DSDFW93QKqSmxgOesJAY
      X-Google-Gfe-Request-Trace:
      - acsfoc4-v6:443,/bns/hi/borg/hi/bns/blobstore2/bitpusher/19.scotty,acsfoc4-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hi/borg/hi/bns/blobstore2/bitpusher/19:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5LkdsdzNCdG55bFQtTUdCZW42TFZLRVZHcnRodzU2V3V1aDk1ak9sZFEtUEFZcUJydGZsRkFfY191NEIweVFVdW1DZG5oNVFtYmNSc0FWeFBscTdYQTcydml3RG0wdHI5MTRlSlU3MFhkMEV2NEdOeElUNEh0ZG9RdnRBcE9NdzAEOg0xL1IyYlZDRmpHNUh-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
