---
version: 1
interactions:
- request:
    body: "--eab2d63bbc7fa0d6cda43b676373e261dfe0233f8063ef9c2f5e685c4a38\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"mydir/as-test\"}\n\r\n--eab2d63bbc7fa0d6cda43b676373e261dfe0233f8063ef9c2f5e685c4a38\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--eab2d63bbc7fa0d6cda43b676373e261dfe0233f8063ef9c2f5e685c4a38--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=eab2d63bbc7fa0d6cda43b676373e261dfe0233f8063ef9c2f5e685c4a38
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/mydir/as-test/1554917562045802","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test","name":"mydir/as-test","bucket":"go-cloud-blob-test-bucket","generation":"1554917562045802","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-10T17:32:42.045Z","updated":"2019-04-10T17:32:42.045Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-10T17:32:42.045Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test?generation=1554917562045802&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/mydir/as-test/1554917562045802/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"mydir/as-test","generation":"1554917562045802","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COqqw6eHxuECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/mydir/as-test/1554917562045802/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"mydir/as-test","generation":"1554917562045802","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COqqw6eHxuECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/mydir/as-test/1554917562045802/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"mydir/as-test","generation":"1554917562045802","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COqqw6eHxuECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/mydir/as-test/1554917562045802/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"mydir/as-test","generation":"1554917562045802","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"COqqw6eHxuECEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"COqqw6eHxuECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COqqw6eHxuECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/mydir/as-test/1554917562045802","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test","name":"mydir/as-test","bucket":"go-cloud-blob-test-bucket","generation":"155491756204580[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/mydir/as-test
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Wed, 10 Apr 2019 17:32:42 GMT
      X-Goog-Generation:
      - "1554917562045802"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=%2F&maxResults=1000&pageToken=&prefix=mydir&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","prefixes":["mydir/"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=mydir%2Fas-test&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/mydir/as-test/1554917562045802","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test","name":"mydir/as-test","bucket":"go-cloud-blob-test-bucket","generation":"1554917562045802","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-10T17:32:42.045Z","updated":"2019-04-10T17:32:42.045Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-10T17:32:42.0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/key-does-not-exist
    method: GET
  response:
    body: '<?xml version=''1.0'' encoding=''UTF-8''?><Error><Code>NoSuchKey</Code><Message>The
      specified key does not exist.</Message><Details>No such object: go-cloud-blob-test-bucket/key-does-not-exist</Details></Error>'
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - agent_rejected
      X-Guploader-Upload-Result:
      - agent_rejected
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test/rewriteTo/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test-copy?alt=json&prettyPrint=false&projection=full
    method: POST
  response:
    body: '{"kind":"storage#rewriteResponse","totalBytesRewritten":"11","objectSize":"11","done":true,"resource":{"kind":"storage#object","id":"go-cloud-blob-test-bucket/mydir/as-test-copy/1554917562692056","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test-copy","name":"mydir/as-test-copy","bucket":"go-cloud-blob-test-bucket","generation":"1554917562692056","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-10T17:32:42.691Z","updated":"2019-04-10T17:32:42.691Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test-copy?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/mydir%2Fas-test?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
