---
version: 1
interactions:
- request:
    body: "--288fd43e4760d3feb8491d0901196db21aeec4954696658fc1589f2b9833\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentLanguage\":\"nl\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"as-test\"}\n\r\n--288fd43e4760d3feb8491d0901196db21aeec4954696658fc1589f2b9833\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--288fd43e4760d3feb8491d0901196db21aeec4954696658fc1589f2b9833--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=288fd43e4760d3feb8491d0901196db21aeec4954696658fc1589f2b9833
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/as-test/1539885030992317","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test","name":"as-test","bucket":"go-cloud-blob-test-bucket","generation":"1539885030992317","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-18T17:50:30.991Z","updated":"2018-10-18T17:50:30.991Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-18T17:50:30.991Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/as-test?generation=1539885030992317&alt=media","contentLanguage":"nl","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539885030992317/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539885030992317","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CL3TkeLGkN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539885030992317/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539885030992317","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CL3TkeLGkN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539885030992317/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539885030992317","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CL3TkeLGkN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/as-test/1539885030992317/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"as-test","generation":"1539885030992317","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CL3TkeLGkN4CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"CL3TkeLGkN4CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CL3TkeLGkN4CEAE=
      X-Google-Apiary-Auth-Expires:
      - "1539885330000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hglaxaba10:4455,/bns/hg/borg/hg/bns/blobstore2/bitpusher/58.scotty,acsfou15-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=5sfIW-qVLauSxgOa_YHoBg
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfou15-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/58.scotty,acsfou15-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/58:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5LkdsdzZCdDVnM1p5MFptRkhPTHZWa3N6TzV4M0cwdjBsS01BWlc1OHNLQkRmN29nYUplVXczTk1nZDVZZS1pRkEwY0VHYkF3a2lYZEI0UDU1bGR1TE81dGRQZXdsb28wSUhfamt5cjVLNVJaOGVMcllvamkwS01yc013Z3dnQTAEOg0xL1IyYlZDRmpHNUh-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/as-test/1539885030992317","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test","name":"as-test","bucket":"go-cloud-blob-test-bucket","generation":"1539885030992317","metageneration":"1","con[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/as-test
    method: GET
  response:
    body: hello world
    headers:
      Content-Language:
      - nl
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Thu, 18 Oct 2018 17:50:30 GMT
      X-Goog-Generation:
      - "1539885030992317"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Google-Backends:
      - /bns/hg/borg/hg/bns/cloud-storage/prod-cloud-storage-frontend.frontend/37,/bns/hg/borg/hg/bns/blobstore2/bitpusher/64.scotty,acsfog17-v6:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=58fIW7rcDaORxgON4pDYAg
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfog17-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/64.scotty,acsfog17-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/64:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=as-test&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/as-test/1539885030992317","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test","name":"as-test","bucket":"go-cloud-blob-test-bucket","generation":"1539885030992317","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-18T17:50:30.991Z","updated":"2018-10-18T17:50:30.991Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-18T17:50:30.991Z","size":"11","md[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/as-test?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1539885330000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hilaxcaq4:4252,/bns/hg/borg/hg/bns/blobstore2/bitpusher/1.scotty,acsfou15-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=58fIW9ikJcyVxgOjqabIAw
      X-Google-Gfe-Request-Trace:
      - acsfou15-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/1.scotty,acsfou15-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/1:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5LkdsdzZCdDVnM1p5MFptRkhPTHZWa3N6TzV4M0cwdjBsS01BWlc1OHNLQkRmN29nYUplVXczTk1nZDVZZS1pRkEwY0VHYkF3a2lYZEI0UDU1bGR1TE81dGRQZXdsb28wSUhfamt5cjVLNVJaOGVMcllvamkwS01yc013Z3dnQTAEOg0xL1IyYlZDRmpHNUh-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
