---
version: 1
interactions:
- request:
    body: '{"alg":"RSA-OAEP-256","value":"malformed cipher message"}'
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://go-cloud.vault.azure.net/keys/test1//decrypt?api-version=7.0
    method: POST
  response:
    body: '{"error":{"code":"BadParameter","message":"Content of ''value'' is not
      base64url.\r\nProperty ''value'' is required.\r\n"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: ""
