---
version: 1
interactions:
- request:
    body: '{"Name":"variable-for-as"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183824Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"ParameterNotFound"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 7e406cbb-06df-478f-a636-ca0990bf35f9
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"Name":"variable-for-as","Overwrite":true,"Type":"String","Value":"hello
      world"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183824Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 07626941-fa32-4273-a75e-c329dc179d43
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"variable-for-as"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183824Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/variable-for-as","LastModifiedDate":1.545158304774E9,"Name":"variable-for-as","Type":"String","Value":"hello
      world","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - d037505e-7a6d-4a45-bca0-aa28688448cd
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["variable-for-as"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183824Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.545158304774E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"variable-for-as","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - df8b8004-c99a-4293-a910-dd88c616735d
    status: 200 OK
    code: 200
    duration: ""
[...]
