---
version: 1
interactions:
- request:
    body: '{"Name":"variable-for-as"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183823Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"ParameterNotFound"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 588ea753-9abc-4ed2-a6c0-3288f5d10fec
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"Name":"variable-for-as","Overwrite":true,"Type":"String","Value":"hello
      world"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183823Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 590cb5de-2e2f-42dd-a89e-803b6dfbdc67
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"variable-for-as"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183824Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/variable-for-as","LastModifiedDate":1.545158304049E9,"Name":"variable-for-as","Type":"String","Value":"hello
      world","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 5b73bbc4-389c-49c0-9954-4e2b4b32acbb
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["variable-for-as"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181218T183824Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.545158304049E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"variable-for-as","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - a0258302-bd0f-4147-9043-6eef1e973cae
    status: 200 OK
    code: 200
    duration: ""
[...]
