---
version: 1
interactions:
- request:
    body: "--156303bb67f7f1f219ed0dff7c7ba75b8ea45f715d19cf57021171329a5a\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys`\"}\n\r\n--156303bb67f7f1f219ed0dff7c7ba75b8ea45f715d19cf57021171329a5a\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--156303bb67f7f1f219ed0dff7c7ba75b8ea45f715d19cf57021171329a5a--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=156303bb67f7f1f219ed0dff7c7ba75b8ea45f715d19cf57021171329a5a
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys`/1549910384574492","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60","name":"weird-keys`","bucket":"go-cloud-blob-test-bucket","generation":"1549910384574492","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:44.574Z","updated":"2019-02-11T18:39:44.574Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:44.574Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60?generation=1549910384574492&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1549910384574492/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1549910384574492","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJyAoI+qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1549910384574492/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1549910384574492","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CJyAoI+qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1549910384574492/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1549910384574492","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CJyAoI+qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1549910384574492/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1549910384574492","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CJyAoI+qtOACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CJyAoI+qtOACEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CJyAoI+qtOACEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%60
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:44 GMT
      X-Goog-Generation:
      - "1549910384574492"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys`/1549910384574492","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60","name":"weird-keys`","bucket":"go-cloud-blob-test-bucket","generation":"1549910384574492","meta[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%60?Expires=1549913984&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=WXMCwROOO3uJPtMJoxriZ0T0Ia58EzouQkNIuHmB9Kg3iDE542iM%2BQWS181%2FX8NPLZJ%2F5kZDWkk4f3PJ4U%2FuGq4z1tUKcwmxYd1b%2B6kXla529FznCw27%2B4CtnxFNgVLGAU%2FlYHYLLMvaIDQyHeyjqy5WQV%2BmEPqSdJjHBp2uDX2joLAPsBKgoe%2FjzfU%2FSgnF5Ccn0g5hK1S1AZ00YodFwLr2f5QooRVTP5FsCYx%2BswxdxCERd5UAbtTu5NvxJ5%2BufliV3kHgSCPpVdTqrTnelYCGDg7u8aYkCbjGlx%2B0I9qxbLMhZDGP%2B0aA2%2B%2Bcd6LiVAVgVpdrw3NexM4qwZSPxg%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:44 GMT
      X-Goog-Generation:
      - "1549910384574492"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
