---
version: 1
interactions:
- request:
    body: "--05a80a6cc632abfc70e3944f2071dd1286c87ee7709523b5aac5c097d80a\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys[\\\\]^_\"}\n\r\n--05a80a6cc632abfc70e3944f2071dd1286c87ee7709523b5aac5c097d80a\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--05a80a6cc632abfc70e3944f2071dd1286c87ee7709523b5aac5c097d80a--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=05a80a6cc632abfc70e3944f2071dd1286c87ee7709523b5aac5c097d80a
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1549910386855658","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_","name":"weird-keys[\\]^_","bucket":"go-cloud-blob-test-bucket","generation":"1549910386855658","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:46.855Z","updated":"2019-02-11T18:39:46.855Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:46.855Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_?generation=1549910386855658&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1549910386855658/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1549910386855658","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COqdq5CqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1549910386855658/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1549910386855658","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COqdq5CqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1549910386855658/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1549910386855658","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COqdq5CqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1549910386855658/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1549910386855658","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"COqdq5CqtOACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"COqdq5CqtOACEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COqdq5CqtOACEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%5B%5C%5D%5E_
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:46 GMT
      X-Goog-Generation:
      - "1549910386855658"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1549910386855658","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_","name":"weird-keys[\\]^_","bucket":"go-cloud-blob-test-bucket","genera[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%5B%5C%5D%5E_?Expires=1549913987&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=N6%2Bv57q%2BqdrxcJHO0pcvNzq%2B1MdpCH85sVrlxN8HESBq%2BK%2FB5sDlCyqY0FSdLz7R1dLS9AQ8aiPSwHDOUEKimp1l2%2FSshFgWd9FxJUhQyEuR9VEziJhZlh%2BvnbVJjriZWS0j0noRUQzND%2BLERnBawHZeD%2B7evidd7GBpr5Ef%2B8h4M3Xx8zr%2BqPBEHRYPYHMEe27HDPPsxtSK5ttjf8A3dmfLauQBNNoyykSacluhLhOXzXP2WcKNCGQRTb0TeKpI5oJxbeR8%2FJrCcCEgrPU2p9OAt4Z6KMRIy49foM%2BxDIqyZGMWRi1ahWF85tazgpmAManbEMntNfCuAqjV9tk%2BmQ%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:46 GMT
      X-Goog-Generation:
      - "1549910386855658"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
