---
version: 1
interactions:
- request:
    body: "--b8c54246f32fd634d4151cd3e38570df295a4e1e1f8e1d49d46dcd1561fb\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys\\u0000\\u0001\\u0002\\u0003\\u0004\\u0005\\u0006\\u0007\\u0008\\t__0xa__\\u000b\\u000c__0xd__\\u000e\\u000f\"}\n\r\n--b8c54246f32fd634d4151cd3e38570df295a4e1e1f8e1d49d46dcd1561fb\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--b8c54246f32fd634d4151cd3e38570df295a4e1e1f8e1d49d46dcd1561fb--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=b8c54246f32fd634d4151cd3e38570df295a4e1e1f8e1d49d46dcd1561fb
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f/1555606698066915","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F","name":"weird-keys\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f","bucket":"go-cloud-blob-test-bucket","generation":"1555606698066915","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:18.066Z","updated":"2019-04-18T16:58:18.066Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:18.066Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F?generation=1555606698066915&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f/1555606698066915/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f","generation":"1555606698066915","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COOHmMWO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f/1555606698066915/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys\u0000\u0001\u0002\u0003\u00[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:18 GMT
      X-Goog-Generation:
      - "1555606698066915"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f/1555606698066915","selfLink":"https://www.googleapis.com/storage/v1/b/[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F?Expires=1555610298&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=X%2FHroIWO1A6GBxfraUrvr8yVonnzCYydDhCzqfy0qEIphGnPDZEySH47kca5ENmIseCgn9I9fezqK2HbXeHF5hNmU8RAjNKVv1fqGuvNgETa4zUw8%2BCC4mj1WD2Ra0aTPBHHV9%2B%2BsxCMjUi2ip7gjGZfcJmMp9qNcAEscyLrT2nega3xsyzu6UMaXoy1YSXqc%2F6I2uskDUCJpkNidhB%2Br2crWXMx3OCUNxGFjRGP8ljk69JkK%2FQxBuGXLD%2BQWzSFtyFNrZR529TwpPNEJAF3OmKC5oOTL8sS5HrzeU5u54RYNi1dUyQcSi3sL3Ie787cnNmvydqJJ3GwbWYDOvn6Aw%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:18 GMT
      X-Goog-Generation:
      - "1555606698066915"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
