---
version: 1
interactions:
- request:
    body: "--deb593860d1723cba2331d19934c0d9710173e740c62ebd1ec4d6ac670e8\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys`\"}\n\r\n--deb593860d1723cba2331d19934c0d9710173e740c62ebd1ec4d6ac670e8\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--deb593860d1723cba2331d19934c0d9710173e740c62ebd1ec4d6ac670e8--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=deb593860d1723cba2331d19934c0d9710173e740c62ebd1ec4d6ac670e8
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys`/1555606699591386","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60","name":"weird-keys`","bucket":"go-cloud-blob-test-bucket","generation":"1555606699591386","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:19.591Z","updated":"2019-04-18T16:58:19.591Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:19.591Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60?generation=1555606699591386&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1555606699591386/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1555606699591386","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CNqN9cWO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1555606699591386/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1555606699591386","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CNqN9cWO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1555606699591386/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1555606699591386","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CNqN9cWO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys`/1555606699591386/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys`","generation":"1555606699591386","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CNqN9cWO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CNqN9cWO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CNqN9cWO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%60
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:19 GMT
      X-Goog-Generation:
      - "1555606699591386"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys`/1555606699591386","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60","name":"weird-keys`","bucket":"go-cloud-blob-test-bucket","generation":"1555606699591386","meta[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%60?Expires=1555610300&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=NMpO266nLnTbm%2BbTKalBi6DRpNKRiFa3FS7HbUoz5GQnInhIiByJAFVhAxjFpAjs%2B2vfssQ%2BIfHX854Q2klEp%2Bzwmurdl5dkjbpAsibp8HNyTJaceaeDyEFU7gn6Vt1ps4CqwnZ9%2Blqr9THn4U9WhNy%2B0dtxaXuuBZ9xFugDXvi65aY85EC72zg5bPLi9WuF73V0q0XUiNJYeM%2BG5B%2BW1RQeWa45eg0w%2BOcnr2SpVPhkxc3FsMxxFjQ5jCp0%2BY2F0vjTY77AYy%2BWUuhyxDE7i7wVfT4KGjaZoPZ%2FLf%2FZWvQFkNM3h8j2tN6t6n0QVLBt4BWjQQXT9jrLGgRm4qrI6w%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:19 GMT
      X-Goog-Generation:
      - "1555606699591386"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%60?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
