---
version: 1
interactions:
- request:
    body: "--81957b346d2fc8803b49456a37efa270fcb3e8cf705daafea068c1148322\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys
      !\\\"#$%\\u0026'()*+,-./\"}\n\r\n--81957b346d2fc8803b49456a37efa270fcb3e8cf705daafea068c1148322\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--81957b346d2fc8803b49456a37efa270fcb3e8cf705daafea068c1148322--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=81957b346d2fc8803b49456a37efa270fcb3e8cf705daafea068c1148322
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys !\"#$%&''()*+,-.//1555606701098467","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F","name":"weird-keys
      !\"#$%&''()*+,-./","bucket":"go-cloud-blob-test-bucket","generation":"1555606701098467","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:21.098Z","updated":"2019-04-18T16:58:21.098Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:21.098Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F?generation=1555606701098467&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys
      !\"#$%&''()*+,-.//1555606701098467/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys
      !\"#$%&''()*+,-./","generation":"1555606701098467","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COOL0caO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys
      !\"#$%&''()*+,-.//1555606701098467/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys
      !\"#$%&''()*+,-./","generation":"1555606701098467","entity":"project-editors-892942638129","role":"OWNER","pro[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%20%21%22%23$%25&%27%28%29%2A+,-./
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:21 GMT
      X-Goog-Generation:
      - "1555606701098467"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20%21%22%23%24%25%26%27%28%29%2A%2B%2C-.%2F?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys !\"#$%&''()*+,-.//1555606701098467","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F","name":"wei[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%20%21%22%23$%25&%27%28%29%2A+,-./?Expires=1555610301&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=WTS%2FTt9NjCom9HWYhVgMtvEjJ4TNvQ9P6jCgGVjG48InWfhTGNE7VjIKMoAOuuZMK5OithT2nH%2FDQvxJHzsrCb97UhPiAYU0tKYwBjoRnJY3Gp8e2dLN8VaQLsK2Sxf3tgSOcNZ1iyHlB3g9rbgtss1QR2P%2FQ9YqUV2urd3wraTK4fCPcalB5dBj2H1BnYd%2BkZtEybpn2GDXqWCqYycNE4SlF0N3hQMzokUY4CWYtViwqMa09IsAHi%2FUsi3%2BvCVCvIQZRZBBnLsZPezc1aoMNNexzRhUfxIAeHWCWZpOtERaG7Gv3PrD6OdSh7N2ZrOvo1j2Or1hjdIA2aSHU74krQ%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:21 GMT
      X-Goog-Generation:
      - "1555606701098467"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20%21%22%23%24%25%26%27%28%29%2A%2B%2C-.%2F?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
