---
version: 1
interactions:
- request:
    body: "--07a9b125c6de8d06cc8c28f05a32fc6dea914056e8613387af9333cd0f14\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys !\\\"#$%\\u0026'()*+,-./\"}\n\r\n--07a9b125c6de8d06cc8c28f05a32fc6dea914056e8613387af9333cd0f14\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--07a9b125c6de8d06cc8c28f05a32fc6dea914056e8613387af9333cd0f14--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=07a9b125c6de8d06cc8c28f05a32fc6dea914056e8613387af9333cd0f14
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys !\"#$%&''()*+,-.//1549910382827669","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F","name":"weird-keys
      !\"#$%&''()*+,-./","bucket":"go-cloud-blob-test-bucket","generation":"1549910382827669","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:42.827Z","updated":"2019-02-11T18:39:42.827Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:42.827Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F?generation=1549910382827669&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys
      !\"#$%&''()*+,-.//1549910382827669/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys
      !\"#$%&''()*+,-./","generation":"1549910382827669","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJWxtY6qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys
      !\"#$%&''()*+,-.//1549910382827669/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys
      !\"#$%&''()*+,-./","generation":"1549910382827669","entity":"project-editors-892942638129","role":"OWNER","pro[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%20%21%22%23$%25&%27%28%29%2A+,-./
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:42 GMT
      X-Goog-Generation:
      - "1549910382827669"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20%21%22%23%24%25%26%27%28%29%2A%2B%2C-.%2F?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys !\"#$%&''()*+,-.//1549910382827669","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20!%22%23$%25&''()*%2B,-.%2F","name":"wei[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%20%21%22%23$%25&%27%28%29%2A+,-./?Expires=1549913983&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=aJGxRKhmm4djsSEUW06yopMhmHNr%2FXP8EjJZEYqwH78Mp1OuFgDiy6%2FaFlPj5cqywGDuHoeZsJxi9IR2wuJ80nY%2FoJa2sQQTkM4ZRS4iJgKPtwiAXpb%2FbhvCgfMOcJfU1UYxAQgP5%2F632Mk0iUgB0RSsFt%2B0UpQhruV2%2Ba0iTnJTbgU3wF7VTobzCDqT3WMlz5Be9ks6tWeaUvysTzBXhaOn44UD5RE6eygHKRxye6mGe1ZlWm0dRmWpeMJ7Mbt3HiGVmF1SitcMlptfHrSSIZ0eyQDubg6g2DHQyHg5jkC1myW7onXZ3yP2OJVvmOB3HBm30bcDW2LOv7RLL5BX5g%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:42 GMT
      X-Goog-Generation:
      - "1549910382827669"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%20%21%22%23%24%25%26%27%28%29%2A%2B%2C-.%2F?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
