---
version: 1
interactions:
- request:
    body: "--38e33fafafe479e3777531609e9ea52c22505f4eb9b4af95b75a342ab24c\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys{|}~\x7F\"}\n\r\n--38e33fafafe479e3777531609e9ea52c22505f4eb9b4af95b75a342ab24c\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--38e33fafafe479e3777531609e9ea52c22505f4eb9b4af95b75a342ab24c--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=38e33fafafe479e3777531609e9ea52c22505f4eb9b4af95b75a342ab24c
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1555606705565593","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F","name":"weird-keys{|}~\u007f","bucket":"go-cloud-blob-test-bucket","generation":"1555606705565593","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:25.564Z","updated":"2019-04-18T16:58:25.564Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:25.564Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F?generation=1555606705565593&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1555606705565593/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1555606705565593","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJnf4ciO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1555606705565593/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1555606705565593","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CJnf4ciO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1555606705565593/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1555606705565593","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CJnf4ciO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1555606705565593/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1555606705565593","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CJnf4ciO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CJnf4ciO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CJnf4ciO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%7B%7C%7D~%7F
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:25 GMT
      X-Goog-Generation:
      - "1555606705565593"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1555606705565593","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F","name":"weird-keys{|}~\u007f","bucket":"go-cloud-blob-test-bucket"[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%7B%7C%7D~%7F?Expires=1555610306&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=Prudk1R%2F8JQ2Pm%2B07tMhz51%2B4l3M0YBbRqDtX87yp7lQORN9QwyFBLzlhNhrzQ%2BVlU7BMEF0q4XtGhfp8aaF63IB2YFyhKT3EC4KfpGk6urN4ZuBvnCb5NPrRGyaFky3TX%2BQtyXuwrWcxw%2BAbd3tMoVWSGhwKFSW%2BOuU2HdcOGkDZ4txJBg%2BfMWK7%2BC74DQ%2F8Drmcxr13q6WLdhQfbvfzKP87pji%2FR6uIpjmjoetSYnDDS2WLl4MEQFKOiiBREEvj%2BsDYyexChGCYymTBpGB9g%2BDFejhIfANp68M4a1E7vNhtDsHdIF4DMWRuO%2BLjWC9VlRNdrxvbiRf1rKVM2ypow%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:25 GMT
      X-Goog-Generation:
      - "1555606705565593"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
