---
version: 1
interactions:
- request:
    body: "--9a22bcf09a9b721c499e778ea48430dfdc7b1b45e5df77067d3b451688d6\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys@\"}\n\r\n--9a22bcf09a9b721c499e778ea48430dfdc7b1b45e5df77067d3b451688d6\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--9a22bcf09a9b721c499e778ea48430dfdc7b1b45e5df77067d3b451688d6--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=9a22bcf09a9b721c499e778ea48430dfdc7b1b45e5df77067d3b451688d6
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys@/1549910383726434","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@","name":"weird-keys@","bucket":"go-cloud-blob-test-bucket","generation":"1549910383726434","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:43.726Z","updated":"2019-02-11T18:39:43.726Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:43.726Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@?generation=1549910383726434&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1549910383726434/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1549910383726434","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COKe7I6qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1549910383726434/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1549910383726434","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COKe7I6qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1549910383726434/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1549910383726434","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COKe7I6qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1549910383726434/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1549910383726434","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"COKe7I6qtOACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"COKe7I6qtOACEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COKe7I6qtOACEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys@
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:43 GMT
      X-Goog-Generation:
      - "1549910383726434"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%40?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys@/1549910383726434","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@","name":"weird-keys@","bucket":"go-cloud-blob-test-bucket","generation":"1549910383726434","metage[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys@?Expires=1549913984&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=DPBH%2BAUHhjDdLyfojYlKJ%2BTxQSwVNAjC%2Bfvq92qdNi0iW9vl6Vs886Y14rxhwvin77Mj53xl1AhIbLtj%2FfOHl4aDPvenuOnnPtPFSSFojoo3ywwkZrZcybGpEB4PCwTPXG2eeCHhlVmbepDLfnAtZ9I2ptT8PdUwAzwmvc39BCtkPrPAWFGBEWLRf5ErHme6cXPwH1sBAa%2FjVsA3leJsR3hRBzhwDU7bqvFFsm%2FNzu9YjtR0Rg3LWrD%2BOrzIHs4mUz%2FzSTwPqRl5KLDMLjlVXVqLMSU9Zi8Cm5c2WHiwD7fMxOgtO5IIIA%2F1ZmQlHA7IwUJgEzfqckmBAZU5qLAgqw%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:43 GMT
      X-Goog-Generation:
      - "1549910383726434"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%40?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
