---
version: 1
interactions:
- request:
    body: "--5f69cd3fafb3fcb75f304bf5763b2fed032c8dd1a09e67dc2a2da6bac1e7\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys:;\\u003c=\\u003e?\"}\n\r\n--5f69cd3fafb3fcb75f304bf5763b2fed032c8dd1a09e67dc2a2da6bac1e7\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--5f69cd3fafb3fcb75f304bf5763b2fed032c8dd1a09e67dc2a2da6bac1e7--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=5f69cd3fafb3fcb75f304bf5763b2fed032c8dd1a09e67dc2a2da6bac1e7
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1555606708584735","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F","name":"weird-keys:;\u003c=\u003e?","bucket":"go-cloud-blob-test-bucket","generation":"1555606708584735","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:28.584Z","updated":"2019-04-18T16:58:28.584Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:28.584Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F?generation=1555606708584735&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1555606708584735/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys:;\u003c=\u003e?","generation":"1555606708584735","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJ+CmsqO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1555606708584735/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys:;\u003c=\u003e?","generation":"1555606708584735","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys:;%3C=%3E%3F
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:28 GMT
      X-Goog-Generation:
      - "1555606708584735"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%3A%3B%3C%3D%3E%3F?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1555606708584735","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F","name":"weird-keys:;\u003c=\u003e?","bucket":"go-cloud-b[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys:;%3C=%3E%3F?Expires=1555610309&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=iemO1tt758vojAK5pwdSVc6uJQWBJ6xb7adUsVjes4qPrqpAUJWX%2BRcLD7kf4WzVwSHiTPRf7MkTGfzMkLNJ3Rr6vtCn18m%2BTZABcX2x1QwUPPMUgp8TEO1IlX5k1SUvCdNhgenkCm2JYUL6pxigfME5FJlcKy8di9hhGGbGz4wlx1QQJ8anfcunmgaHPYHFYuNyUQ%2BzpFzskwKMiFJ93srx6pOLdQBP2AlEviBZUxukvf7RbjBt74%2FnTA8dKJlaxGliWYZIaeNSpMTfibYjQq%2BxEn%2BB%2BBzY6w46Qa5TBhIGgBRng0ur77e0yrcvHf2gGvuBA0aBKPa3q28Bodc6kQ%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:28 GMT
      X-Goog-Generation:
      - "1555606708584735"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%3A%3B%3C%3D%3E%3F?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
