---
version: 1
interactions:
- request:
    body: "--ebec8c13417c3247a57d36420d6efd6fcfb219ceeedf4d4dfbf1ea8d52ca\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys:;\\u003c=\\u003e?\"}\n\r\n--ebec8c13417c3247a57d36420d6efd6fcfb219ceeedf4d4dfbf1ea8d52ca\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--ebec8c13417c3247a57d36420d6efd6fcfb219ceeedf4d4dfbf1ea8d52ca--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ebec8c13417c3247a57d36420d6efd6fcfb219ceeedf4d4dfbf1ea8d52ca
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1549910386202791","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F","name":"weird-keys:;\u003c=\u003e?","bucket":"go-cloud-blob-test-bucket","generation":"1549910386202791","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:46.202Z","updated":"2019-02-11T18:39:46.202Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:46.202Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F?generation=1549910386202791&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1549910386202791/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys:;\u003c=\u003e?","generation":"1549910386202791","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKexg5CqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1549910386202791/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys:;\u003c=\u003e?","generation":"1549910386202791","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys:;%3C=%3E%3F
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:46 GMT
      X-Goog-Generation:
      - "1549910386202791"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%3A%3B%3C%3D%3E%3F?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys:;\u003c=\u003e?/1549910386202791","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys:;%3C=%3E%3F","name":"weird-keys:;\u003c=\u003e?","bucket":"go-cloud-b[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys:;%3C=%3E%3F?Expires=1549913986&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=KGExiCIX0k%2FH%2FLFQdNbdpn1kIJc0G29cR8OC%2FqD1tZ1iJ1CnP4VcsVHYAdjS773Q5OVf9OaR49A3zGeRnq4v1W2BBOVUqQKtSNK6KcIpCMW4TWW0ZdX2m97yomEII88Gy6X29gaTLm18f62Rzk0tqmT8wxL4loq4mI373Jihxp5LU%2Fq9bJkEvhTzdmzehAOIte5j8GLm2I7%2F0jfT418zMSUShEz6RkB0CKTAzihLiTaP%2BVEm7iamtOcFS4KWrQaobu4ZoQasx%2Bfazwm670C8BN%2FcCew%2BK89cU%2BN77EDNbEOZOlYtygDQYEsOEIQYSL8fTvAx7TEvQ%2BzF%2FnU5raxDQg%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:46 GMT
      X-Goog-Generation:
      - "1549910386202791"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%3A%3B%3C%3D%3E%3F?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
