---
version: 1
interactions:
- request:
    body: "--87b06ca8ba78f2d66d78a445bab9935e6f22747022c8e255e8bf8dc63d81\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys@\"}\n\r\n--87b06ca8ba78f2d66d78a445bab9935e6f22747022c8e255e8bf8dc63d81\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--87b06ca8ba78f2d66d78a445bab9935e6f22747022c8e255e8bf8dc63d81--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=87b06ca8ba78f2d66d78a445bab9935e6f22747022c8e255e8bf8dc63d81
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys@/1555606704823169","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@","name":"weird-keys@","bucket":"go-cloud-blob-test-bucket","generation":"1555606704823169","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:24.822Z","updated":"2019-04-18T16:58:24.822Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:24.822Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@?generation=1555606704823169&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1555606704823169/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1555606704823169","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CIG3tMiO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1555606704823169/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1555606704823169","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CIG3tMiO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1555606704823169/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1555606704823169","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CIG3tMiO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys@/1555606704823169/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys@","generation":"1555606704823169","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CIG3tMiO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CIG3tMiO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CIG3tMiO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys@
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:24 GMT
      X-Goog-Generation:
      - "1555606704823169"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%40?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys@/1555606704823169","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys@","name":"weird-keys@","bucket":"go-cloud-blob-test-bucket","generation":"1555606704823169","metage[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys@?Expires=1555610305&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=OtRz%2BxMdestc9ourqB6z8wTDFtfpUF7XIfC42X6clgGIFa1CT0IxHhxVPTGsh%2FOkahV%2FwVRWEBr%2FqzeS58ADHP1y0HZkvOMw%2FVmWp%2Bg4JwQMDAexU3cnhxFuC0tvcHcU4XE7n1OdbnvNL3VsEFZ1FobJUBnomON%2B5KP85s07tfALc7YRuosS7QHh4NrImwWg4NywrXXwz4nQmIU5P8eUUgJ%2Bm7gKFfTY5QM0bc5Gzk6OccHsHGhJRbIsL%2Fpv0Q5m%2BtHkBHDU4UunmOQ%2FhnkcO6oThNOiL%2FRhh%2FD5isRyioeJgz3J%2FQ9ZummoL83Ob4AwSd89iQs20d6tl3Vov8A1AA%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:24 GMT
      X-Goog-Generation:
      - "1555606704823169"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%40?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
