---
version: 1
interactions:
- request:
    body: "--334de9688ca752b6d5872e70f519c3a98c1f70c16ffb55e4bed3aaec83f6\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys{|}~\x7F\"}\n\r\n--334de9688ca752b6d5872e70f519c3a98c1f70c16ffb55e4bed3aaec83f6\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--334de9688ca752b6d5872e70f519c3a98c1f70c16ffb55e4bed3aaec83f6--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=334de9688ca752b6d5872e70f519c3a98c1f70c16ffb55e4bed3aaec83f6
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1549910381355884","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F","name":"weird-keys{|}~\u007f","bucket":"go-cloud-blob-test-bucket","generation":"1549910381355884","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:41.355Z","updated":"2019-02-11T18:39:41.355Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:41.355Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F?generation=1549910381355884&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1549910381355884/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1549910381355884","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COzG242qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1549910381355884/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1549910381355884","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COzG242qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1549910381355884/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1549910381355884","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COzG242qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1549910381355884/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys{|}~\u007f","generation":"1549910381355884","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"COzG242qtOACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"COzG242qtOACEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COzG242qtOACEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%7B%7C%7D~%7F
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:41 GMT
      X-Goog-Generation:
      - "1549910381355884"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys{|}~\u007f/1549910381355884","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F","name":"weird-keys{|}~\u007f","bucket":"go-cloud-blob-test-bucket"[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%7B%7C%7D~%7F?Expires=1549913981&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=T3WKeuFf7WjuVpaj54Twgl9t1NA1q22Z16UZv5u%2BZPOE9Dia2a3sUnWjxdSOTuive04W2d6T5Xmx2aYWi61oiQBTqoBX%2F%2FghkKP3%2Fx2gDaGV8Cf0zcJdFtK%2BBn1piAfCvFEJ1CoKW9%2FRmjrat3tmCek%2Bkvg2cUGAXJNNhrue4yYMJYj0p6ZETvOsYxPS39SeQs4zQaVt%2BzNLtyTapXCOf5AWFnQf%2B%2F9m%2FnMmZHFG4bdSfeKczKRyHGrybTkPpqlBkWyO%2FxyTv7mHGBLaXrBUfJakoJ7zRkvTXXrfYDab1ufpGgcxBxmsJGKRJs28mxOPw3FRfCl0%2BCtKhJpZJ8MDOw%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:41 GMT
      X-Goog-Generation:
      - "1549910381355884"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%7B%7C%7D~%7F?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
