---
version: 1
interactions:
- request:
    body: "--e9b7c92a42c2dc110a5c14155893c930ea696462649c280523f9c115fcae\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys[\\\\]^_\"}\n\r\n--e9b7c92a42c2dc110a5c14155893c930ea696462649c280523f9c115fcae\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--e9b7c92a42c2dc110a5c14155893c930ea696462649c280523f9c115fcae--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=e9b7c92a42c2dc110a5c14155893c930ea696462649c280523f9c115fcae
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1555606701830682","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_","name":"weird-keys[\\]^_","bucket":"go-cloud-blob-test-bucket","generation":"1555606701830682","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:21.830Z","updated":"2019-04-18T16:58:21.830Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:21.830Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_?generation=1555606701830682&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1555606701830682/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1555606701830682","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJrk/caO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1555606701830682/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1555606701830682","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CJrk/caO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1555606701830682/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1555606701830682","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CJrk/caO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1555606701830682/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys[\\]^_","generation":"1555606701830682","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CJrk/caO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CJrk/caO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CJrk/caO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%5B%5C%5D%5E_
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:21 GMT
      X-Goog-Generation:
      - "1555606701830682"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys[\\]^_/1555606701830682","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_","name":"weird-keys[\\]^_","bucket":"go-cloud-blob-test-bucket","genera[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%5B%5C%5D%5E_?Expires=1555610302&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=qKvnwUQRV8kDFZkChYtqH56uZPz4qeOSwJ467rNILto3wbqKQHtRyIET7CGN8f%2FFR6a%2FWdXOtWK0%2FCETGMxGJVKQI58N9ZjDo4ndGI717ix%2F7b3gBG6sf%2BDhgDO893icHa9MqBgTGLWc2ETPjluxAuMFWtMfGi9PX%2BANYKm%2FbXhvNjTKfDv61sFAH9U0uznZe6KVdopfc6e4Ggt3dKp%2FaHbhguKYgo%2B2nN5FnNNG3SGQNMUxpbMX%2F2nVjpSogAaabZ2dEO4PkVxw2pfVskWsBtJf6XLekJFdJxnjWqrmiTs4oEBXMwXBvA038bmVoG6icK5Xg5AhRuHYf%2FDRowX5iw%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:21 GMT
      X-Goog-Generation:
      - "1555606701830682"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%5B%5C%5D%5E_?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
