---
version: 1
interactions:
- request:
    body: "--ce3f9c6150faade691571b43631d595b21c60956083f5e7fdc85869e419b\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo\\\\bar\\\\baz\"}\n\r\n--ce3f9c6150faade691571b43631d595b21c60956083f5e7fdc85869e419b\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--ce3f9c6150faade691571b43631d595b21c60956083f5e7fdc85869e419b--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ce3f9c6150faade691571b43631d595b21c60956083f5e7fdc85869e419b
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540582436252010","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz","name":"weird-keysfoo\\bar\\baz","bucket":"go-cloud-blob-test-bucket","generation":"1540582436252010","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-26T19:33:56.251Z","updated":"2018-10-26T19:33:56.251Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-26T19:33:56.251Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz?generation=1540582436252010&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540582436252010/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\\bar\\baz","generation":"1540582436252010","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COrS8ObspN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540582436252010/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\\bar\\baz","generation":"1540582436252010","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294263[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%5Cbar%5Cbaz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Fri, 26 Oct 2018 19:33:56 GMT
      X-Goog-Generation:
      - "1540582436252010"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Google-Backends:
      - /bns/hi/borg/hi/bns/cloud-storage/prod-cloud-storage-frontend.frontend/43,/bns/hg/borg/hg/bns/blobstore2/bitpusher/24.scotty,acsfof19-v6:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=JGzTW8bcEOGZxgP0_Ze4BQ
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfof19-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/24.scotty,acsfof19-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/24:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=weird-keysfoo%5Cbar%5Cbaz&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540582436252010","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz","name":"weird-keysfoo\\bar\\baz","bucket":"go-cloud-blob-test-bucket","generation":"1540582436252010","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-26T19:33:56.251Z","updated":"2018-10-26T19:33:56.251Z","storageClass":"REGIONAL","timeStorageClassU[...]
