---
version: 1
interactions:
- request:
    body: "--cf3ba299e29be168016efdb93fff9f3bf755bdc366c351ee089a351360bc\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo\\\\bar\\\\baz\"}\n\r\n--cf3ba299e29be168016efdb93fff9f3bf755bdc366c351ee089a351360bc\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--cf3ba299e29be168016efdb93fff9f3bf755bdc366c351ee089a351360bc--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=cf3ba299e29be168016efdb93fff9f3bf755bdc366c351ee089a351360bc
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540853897527865","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz","name":"weird-keysfoo\\bar\\baz","bucket":"go-cloud-blob-test-bucket","generation":"1540853897527865","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-29T22:58:17.527Z","updated":"2018-10-29T22:58:17.527Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-29T22:58:17.527Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz?generation=1540853897527865&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540853897527865/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\\bar\\baz","generation":"1540853897527865","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CLmE2ongrN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540853897527865/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\\bar\\baz","generation":"1540853897527865","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294263[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%5Cbar%5Cbaz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 29 Oct 2018 22:58:17 GMT
      X-Goog-Generation:
      - "1540853897527865"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=weird-keysfoo%5Cbar%5Cbaz&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\\bar\\baz/1540853897527865","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%5Cbar%5Cbaz","name":"weird-keysfoo\\bar\\baz","bucket":"go-cloud-blob-test-bucket","generation":"1540853897527865","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-29T22:58:17.527Z","updated":"2018-10-29T22:58:17.527Z","storageClass":"REGIONAL","timeStorageClassU[...]
