---
version: 1
interactions:
- request:
    body: "--65620a8ff5dd1253a5b0b12052350c22c18a5a972bf1777269adf86b970f\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys..\\\\foo\\\\..\\\\bar\\\\..\\\\..\\\\baz..\\\\\"}\n\r\n--65620a8ff5dd1253a5b0b12052350c22c18a5a972bf1777269adf86b970f\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--65620a8ff5dd1253a5b0b12052350c22c18a5a972bf1777269adf86b970f--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=65620a8ff5dd1253a5b0b12052350c22c18a5a972bf1777269adf86b970f
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\..\\bar\\..\\..\\baz..\\/1549910375433583","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C","name":"weird-keys..\\foo\\..\\bar\\..\\..\\baz..\\","bucket":"go-cloud-blob-test-bucket","generation":"1549910375433583","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:35.433Z","updated":"2019-02-11T18:39:35.433Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:35.433Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C?generation=1549910375433583&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\..\\bar\\..\\..\\baz..\\/1549910375433583/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys..\\foo\\..\\bar\\..\\..\\baz..\\","generation":"1549910375433583","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CO+K8oqqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\..\\bar\\..\\..\\baz..\\/1549910375433583/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys..\\foo\\..\\bar\\..\\..\\baz..\\","generation":"1549910375433583","entity":"project-editors-8929[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:35 GMT
      X-Goog-Generation:
      - "1549910375433583"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\..\\bar\\..\\..\\baz..\\/1549910375433583","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C?Expires=1549913975&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=WtgIZCsI5aK550wlCJWVHayt5Me2t8DtDKXVj4r89xI5z0J5tZvvxkDyw7E1MaRi9BsFMFYvCh%2F9EH%2FquXHydiLi2dBZglcuSWEBiLOvIq5a05%2FxolE4kWEYgHwareZ2a%2BVc5nKpnhbR5rF25lF2LHXJNJjCgQDF1gdGyEjAp%2BAbztJCFQNBMVDzug5KLTtM4QGOql1mKBGed8uPD2hp%2F%2FUyM9wK4hQ%2FrJglOtu2S64ak5V7hWFlFzzXZq%2Bujalkdiq0OMosUybOC67UO7W7UoMa7uQjDGdEouk2sM%2FqN0I9R%2FVGFwmfiHg%2FkYDd0gatj300fF297GiNnB18ML2VoA%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:35 GMT
      X-Goog-Generation:
      - "1549910375433583"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C..%5Cbar%5C..%5C..%5Cbaz..%5C?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
