---
version: 1
interactions:
- request:
    body: "--5c07b25273455c68bd8ae7d29947966487e259cabca17dc1bffc52344610\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo/bar/baz\"}\n\r\n--5c07b25273455c68bd8ae7d29947966487e259cabca17dc1bffc52344610\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--5c07b25273455c68bd8ae7d29947966487e259cabca17dc1bffc52344610--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=5c07b25273455c68bd8ae7d29947966487e259cabca17dc1bffc52344610
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo/bar/baz/1540853896660287","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2Fbar%2Fbaz","name":"weird-keysfoo/bar/baz","bucket":"go-cloud-blob-test-bucket","generation":"1540853896660287","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-29T22:58:16.659Z","updated":"2018-10-29T22:58:16.659Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-29T22:58:16.659Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2Fbar%2Fbaz?generation=1540853896660287&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo/bar/baz/1540853896660287/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2Fbar%2Fbaz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo/bar/baz","generation":"1540853896660287","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CL+KpYngrN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo/bar/baz/1540853896660287/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2Fbar%2Fbaz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo/bar/baz","generation":"1540853896660287","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CL+KpYngrN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo/bar/baz/1540853896660287/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2Fbar%2Fbaz/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo/bar/baz","generation":"1540853896660287","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CL+KpYngrN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo/bar/baz/1540853896660287/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2Fbar%2Fbaz/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo/bar/baz","generation":"1540853896660287","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CL+KpYngrN4CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CL+KpYngrN4CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CL+KpYngrN4CEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo/bar/baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 29 Oct 2018 22:58:16 GMT
      X-Goog-Generation:
      - "1540853896660287"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=weird-keysfoo%2Fbar%2Fbaz&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo/bar/baz/1540853896660287","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2Fbar%2Fbaz","name":"weird-keysfoo/bar/baz","bucket":"go-cloud-blob-test-bucket","generation":"1540853896660287","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-29T22:58:16.659Z","updated":"2018-10-29T22:58:16.659Z","storageClass":"REGIONAL","timeStorageClassUpdat[...]
