---
version: 1
interactions:
- request:
    body: "--ad002fe52ff1cbd57b043d13aa056f7c66fd0f161b3c95ed5c65c3bcaed3\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys~!@#$%^\\u0026*()_+`-=[]{}|;':\\\",/.\\u003c\\u003e?\"}\n\r\n--ad002fe52ff1cbd57b043d13aa056f7c66fd0f161b3c95ed5c65c3bcaed3\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--ad002fe52ff1cbd57b043d13aa056f7c66fd0f161b3c95ed5c65c3bcaed3--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ad002fe52ff1cbd57b043d13aa056f7c66fd0f161b3c95ed5c65c3bcaed3
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?/1544129424661032","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys~!@%23$%25%5E&*()_%2B%60-=%5B%5D%7B%7D%7C;'':%22,%2F.%3C%3E%3F","name":"weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?","bucket":"go-cloud-blob-test-bucket","generation":"1544129424661032","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-12-06T20:50:24.660Z","updated":"2018-12-06T20:50:24.660Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-12-06T20:50:24.660Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys~!@%23$%25%5E&*()_%2B%60-=%5B%5D%7B%7D%7C;'':%22,%2F.%3C%3E%3F?generation=1544129424661032&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?/1544129424661032/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys~!@%23$%25%5E&*()_%2B%60-=%5B%5D%7B%7D%7C;'':%22,%2F.%3C%3E%3F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?","generation":"1544129424661032","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKi04K6KjN8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?/1544129424661032/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys~!@%23$%25%5E&*()_%2B%60-=%5B%5D%7B%7D%7C;'':%22,%2F.%3C%3E%3F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?","generation":"154412[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys~%21@%23$%25%5E&%2A%28%29_+%60-=%5B%5D%7B%7D%7C;%27:%22,/.%3C%3E%3F
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 06 Dec 2018 20:50:24 GMT
      X-Goog-Generation:
      - "1544129424661032"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=weird-keys~%21%40%23%24%25%5E%26%2A%28%29_%2B%60-%3D%5B%5D%7B%7D%7C%3B%27%3A%22%2C%2F.%3C%3E%3F&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?/1544129424661032","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys~!@%23$%25%5E&*()_%2B%60-=%5B%5D%7B%7D%7C;'':%22,%2F.%3C%3E%3F","name":"weird-keys~!@#$%^&*()_+`-=[]{}|;'':\",/.\u003c\u003e?","bucket":"go-cloud-blob-test-bucket","generation":"1544129424661032","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"[...]
