---
version: 1
interactions:
- request:
    body: "--c37601557bb52a128188a5044ead9ab14f2682e8458d5d3148292d6dd658\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keysfoo\\\"bar\\\"baz\"}\n\r\n--c37601557bb52a128188a5044ead9ab14f2682e8458d5d3148292d6dd658\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--c37601557bb52a128188a5044ead9ab14f2682e8458d5d3148292d6dd658--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=c37601557bb52a128188a5044ead9ab14f2682e8458d5d3148292d6dd658
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1555606696449403","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-test-bucket","generation":"1555606696449403","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:16.449Z","updated":"2019-04-18T16:58:16.449Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:16.449Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?generation=1555606696449403&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1555606696449403/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1555606696449403","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CPuqtcSO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1555606696449403/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1555606696449403","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294263[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%22bar%22baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:16 GMT
      X-Goog-Generation:
      - "1555606696449403"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1555606696449403","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-te[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%22bar%22baz?Expires=1555610297&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=Z7SMtXsEHgplP%2BS%2FMtBXdJ2Sc6tT86yceKXOMURSBv3frG61nFaWPxbYZKx1BHFAUUrt1b%2FUZ%2BRh72VOoP58aNdoTdzeInEH74Hp%2BAmEjBHig0j3jUNEZYPBmPA4%2Bw1PJU%2FG0YSO7zfnie2LpYrElsvvZ%2BVD6bqEO69ylhGrrz5Ce%2BjuFjf5QcyhEtuZ4npSO%2Bz1qhb9hFZ9s%2FjvNj7N3brA6N1H9YfDSWub%2BuVDYyCdASvZLzLKwUTdciuNKJT3w6IGiD4Amrhh6b%2FUgesyMBV0MeVmLwnj2eOh6MdS4Q2SHmBYw5qf%2BwuF1TKBI38%2Fat9vSVS7vK8jFfIRyJBkAg%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:16 GMT
      X-Goog-Generation:
      - "1555606696449403"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
