---
version: 1
interactions:
- request:
    body: "--347da1c521676820e5762fe4ff5bc6f247eb21e1590481e24c67537be411\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo\\\"bar\\\"baz\"}\n\r\n--347da1c521676820e5762fe4ff5bc6f247eb21e1590481e24c67537be411\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--347da1c521676820e5762fe4ff5bc6f247eb21e1590481e24c67537be411--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=347da1c521676820e5762fe4ff5bc6f247eb21e1590481e24c67537be411
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1549910379829298","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-test-bucket","generation":"1549910379829298","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:39.829Z","updated":"2019-02-11T18:39:39.829Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:39.829Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?generation=1549910379829298&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1549910379829298/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1549910379829298","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CLKw/oyqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1549910379829298/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1549910379829298","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294263[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%22bar%22baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:39 GMT
      X-Goog-Generation:
      - "1549910379829298"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1549910379829298","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-te[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%22bar%22baz?Expires=1549913980&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=gQ2%2BM01mJel7%2Fi8%2BES0ELAryYU2wfS6yUoykucK6RDRVqrdPMXoPRxlY%2FkTMuCkmqsLRCeivhikRlpKuz0uvbkC0zyFe9l7V45%2Fq7dPejvjNWYW%2F1pHzmgS%2FO2YJkBgRwUpxGuRhd%2BqwFsisSLAxaB2Osxgppu83%2Fi8nmcNyq5e9hHtUu1v%2BG%2BkfQVst9tMrGvjQtuK2QKm77kn1Z3N2EP073sGyFlqPJ%2BdZjKJLCOjpSzBa8J2RnPOo1fYnw20hPvf7VFE5GikCfyiTOT%2BcH9D5WTKGPIqT4OEs9gi42y%2FTS9xCKyk%2FRGyCJH2qEr7rhZHtyF%2BlRCGPaQm2fySAnQ%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:39 GMT
      X-Goog-Generation:
      - "1549910379829298"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
