---
version: 1
interactions:
- request:
    body: "--dc670433bc4f2febf54f87d6a0c0078da38d0738be6fd6ee17cfdf742fb8\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo\\\"bar\\\"baz\"}\n\r\n--dc670433bc4f2febf54f87d6a0c0078da38d0738be6fd6ee17cfdf742fb8\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--dc670433bc4f2febf54f87d6a0c0078da38d0738be6fd6ee17cfdf742fb8--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=dc670433bc4f2febf54f87d6a0c0078da38d0738be6fd6ee17cfdf742fb8
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1540582437139633","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-test-bucket","generation":"1540582437139633","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-26T19:33:57.139Z","updated":"2018-10-26T19:33:57.139Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-26T19:33:57.139Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?generation=1540582437139633&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1540582437139633/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1540582437139633","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CLHppufspN4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1540582437139633/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1540582437139633","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294263[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%22bar%22baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Fri, 26 Oct 2018 19:33:57 GMT
      X-Goog-Generation:
      - "1540582437139633"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Google-Backends:
      - /bns/hg/borg/hg/bns/cloud-storage/prod-cloud-storage-frontend.frontend/35,/bns/hg/borg/hg/bns/blobstore2/bitpusher/17.scotty,acsfof19-v6:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=JWzTW9b2CcKSxgOXwou4CA
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfof19-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/17.scotty,acsfof19-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/17:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=weird-keysfoo%22bar%22baz&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1540582437139633","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-test-bucket","generation":"1540582437139633","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-26T19:33:57.139Z","updated":"2018-10-26T19:33:57.139Z","storageClass":"REGIONAL","timeStorageClassU[...]
