---
version: 1
interactions:
- request:
    body: "--93008d077fb5f2c7c302761c8d9e94fb88c23cab1ed37d02e7fa7a49ee06\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo\\\"bar\\\"baz\"}\n\r\n--93008d077fb5f2c7c302761c8d9e94fb88c23cab1ed37d02e7fa7a49ee06\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--93008d077fb5f2c7c302761c8d9e94fb88c23cab1ed37d02e7fa7a49ee06--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=93008d077fb5f2c7c302761c8d9e94fb88c23cab1ed37d02e7fa7a49ee06
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1545086979380160","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-test-bucket","generation":"1545086979380160","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-12-17T22:49:39.379Z","updated":"2018-12-17T22:49:39.379Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-12-17T22:49:39.379Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz?generation=1545086979380160&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1545086979380160/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1545086979380160","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CMCntsT5p98CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1545086979380160/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo\"bar\"baz","generation":"1545086979380160","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"89294263[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%22bar%22baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 17 Dec 2018 22:49:39 GMT
      X-Goog-Generation:
      - "1545086979380160"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=weird-keysfoo%22bar%22baz&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo\"bar\"baz/1545086979380160","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%22bar%22baz","name":"weird-keysfoo\"bar\"baz","bucket":"go-cloud-blob-test-bucket","generation":"1545086979380160","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-12-17T22:49:39.379Z","updated":"2018-12-17T22:49:39.379Z","storageClass":"REGIONAL","timeStorageClassU[...]
