---
version: 1
interactions:
- request:
    body: "--f7749894c95737b4f56b85235758cfdfd94669a398f7d05fbc5b28689e74\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys..\\\\foo\\\\\\\\bar\\\\\\\\\\\\baz\"}\n\r\n--f7749894c95737b4f56b85235758cfdfd94669a398f7d05fbc5b28689e74\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--f7749894c95737b4f56b85235758cfdfd94669a398f7d05fbc5b28689e74--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=f7749894c95737b4f56b85235758cfdfd94669a398f7d05fbc5b28689e74
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1549910378977755","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz","name":"weird-keys..\\foo\\\\bar\\\\\\baz","bucket":"go-cloud-blob-test-bucket","generation":"1549910378977755","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:38.977Z","updated":"2019-02-11T18:39:38.977Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:38.977Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?generation=1549910378977755&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1549910378977755/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys..\\foo\\\\bar\\\\\\baz","generation":"1549910378977755","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CNuzyoyqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1549910378977755/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys..\\foo\\\\bar\\\\\\baz","generation":"1549910378977755","entity":"project-editors-892942638129","role":"OWNER","proje[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:38 GMT
      X-Goog-Generation:
      - "1549910378977755"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1549910378977755","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz","name":"weird-keys..\[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?Expires=1549913979&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=VJC5W%2BRyOUphpL9lrnEY%2BHhzPPB0BnRNzEHGvbKltunEu3GOnXTWpVXrl8sFItHiOa1Me5RsI4gM5cJAWeABbgVAu952aWt394GsPg0uqaKIPS9j1FJKbylGuAK3uIxB%2BV20cvLF8go9fBy%2FkZBc1t52a7eN6TsMPT8nluDZMsI2MB9BjtjSM%2F1jmAY0%2FD7LJh06s9gfCSPfOulfDBucs5%2FscZg8m1wLj7T5h%2BiYfJKR5QqynV7vwvr5HBzpIkm2y1z9EVcMgerbf9Zb7zQRo2NQNhUUl8wpL32cw7dL0rSfORXlJ5qUQ98WoiKPYRPySURL7aaeeqRtq4J4bq87zg%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:38 GMT
      X-Goog-Generation:
      - "1549910378977755"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
