---
version: 1
interactions:
- request:
    body: "--e3b26895a761bb71149a58995cc9574a046641f4ce371091ca1a04117c20\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keysfoo//bar///baz\"}\n\r\n--e3b26895a761bb71149a58995cc9574a046641f4ce371091ca1a04117c20\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--e3b26895a761bb71149a58995cc9574a046641f4ce371091ca1a04117c20--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=e3b26895a761bb71149a58995cc9574a046641f4ce371091ca1a04117c20
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1555606702555129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz","name":"weird-keysfoo//bar///baz","bucket":"go-cloud-blob-test-bucket","generation":"1555606702555129","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:22.554Z","updated":"2019-04-18T16:58:22.554Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:22.554Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz?generation=1555606702555129&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1555606702555129/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo//bar///baz","generation":"1555606702555129","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CPn/qceO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1555606702555129/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo//bar///baz","generation":"1555606702555129","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo//bar///baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:22 GMT
      X-Goog-Generation:
      - "1555606702555129"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1555606702555129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz","name":"weird-keysfoo//bar///baz","bucke[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo//bar///baz?Expires=1555610303&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=gGk0bn6xVQtkE%2BONsjIiV6NLn8ZcML%2Fl1ndTWt%2F69PDttI87q1gQIGFHVulPQ2fwr7c%2FLvq4hXzOp9yMqDDpXVi%2BtmxPG7syE11w7YjqVpWY9jWU4QPDo%2FqyNfPi3E09fe3hFtj4RzpURW5XrkMqjyOnaTUcU7kOTypOYTbihgENXYZWCAJslIbRDD2qlXTF6zNNwCoqIrACliYNG1CN69tTrw7TtbOmSsafyEaF868D%2BATFeED23fdFSE7J2fewwTdEywCnQyHkMyTi2Zz3OvR9hRd2iK1mNjwnQxO%2FEXw1UBXcIwWHyLk7ihv%2F6Gqbj9iFX6f7VZJlw5mDegDWuw%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:22 GMT
      X-Goog-Generation:
      - "1555606702555129"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
