---
version: 1
interactions:
- request:
    body: "--45ed3ff7c55fdd885d5375222ae812b4c8c05dcfc030c91e4bbadf702529\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo//bar///baz\"}\n\r\n--45ed3ff7c55fdd885d5375222ae812b4c8c05dcfc030c91e4bbadf702529\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--45ed3ff7c55fdd885d5375222ae812b4c8c05dcfc030c91e4bbadf702529--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=45ed3ff7c55fdd885d5375222ae812b4c8c05dcfc030c91e4bbadf702529
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1549910378235127","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz","name":"weird-keysfoo//bar///baz","bucket":"go-cloud-blob-test-bucket","generation":"1549910378235127","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:38.234Z","updated":"2019-02-11T18:39:38.234Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:38.234Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz?generation=1549910378235127&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1549910378235127/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo//bar///baz","generation":"1549910378235127","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CPeJnYyqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1549910378235127/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo//bar///baz","generation":"1549910378235127","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo//bar///baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:38 GMT
      X-Goog-Generation:
      - "1549910378235127"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo//bar///baz/1549910378235127","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz","name":"weird-keysfoo//bar///baz","bucke[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo//bar///baz?Expires=1549913978&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=LoRcL4sHfi5zeGoc0AgRXLBpi6PDySjhM%2FpMTpuC9mUaay0nbSUDH13jN%2FR03xZIAfIl2Eb17r4ExqntxBbbuRtWbJ2sbVF5WsgqVOaFUpCf6Yj2%2BZHXpPYE2iOrIVSr2XuKnDQXYJeRNX9XgSC7TDEKLks2MWbULi5drAgKW2YSkkVxNu5tE%2FpaApOo%2BZl%2Fvt%2FNWfOD9I0k9YjtTICzWqinMOyiYv2vxWZ7ysTN%2Fx78szyJiRzVGNOblrpOz5a%2FHamprDY86MSuJw32PKAxQDUuTB3CNftD4HUJ5ZpEhsDIb%2FPG%2Bsrcg2p5jx%2FdmzTtr57xn959EycdYOCvN2oxDg%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:38 GMT
      X-Goog-Generation:
      - "1549910378235127"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%2F%2Fbar%2F%2F%2Fbaz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
