---
version: 1
interactions:
- request:
    body: "--1d312cff30ea718438d1ca94f3e28fcdfaa3b868487168ae9eec2a53c459\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys..\\\\foo\\\\\\\\bar\\\\\\\\\\\\baz\"}\n\r\n--1d312cff30ea718438d1ca94f3e28fcdfaa3b868487168ae9eec2a53c459\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--1d312cff30ea718438d1ca94f3e28fcdfaa3b868487168ae9eec2a53c459--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=1d312cff30ea718438d1ca94f3e28fcdfaa3b868487168ae9eec2a53c459
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1555606707867565","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz","name":"weird-keys..\\foo\\\\bar\\\\\\baz","bucket":"go-cloud-blob-test-bucket","generation":"1555606707867565","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:27.867Z","updated":"2019-04-18T16:58:27.867Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:27.867Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?generation=1555606707867565&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1555606707867565/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys..\\foo\\\\bar\\\\\\baz","generation":"1555606707867565","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CK2f7smO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1555606707867565/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys..\\foo\\\\bar\\\\\\baz","generation":"1555606707867565","entity":"project-editors-892942638129","role":"OWNER","proje[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:27 GMT
      X-Goog-Generation:
      - "1555606707867565"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys..\\foo\\\\bar\\\\\\baz/1555606707867565","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz","name":"weird-keys..\[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?Expires=1555610308&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=mcnRRQRu%2F6eRVKMoGSwtgo9cWXeEcip1cKePg%2BXUzCbL1xJISiKyWuuIpHBzk2BruM5aq2NzKLYMRkpaEYFk4v4gk1nYhjV5DN02AeDr%2FctQIq1bmjMCu%2F5Mb6Upf%2FO4%2BCFWT9hmTq5rhPZQYE1urd16GxCGE%2BeRWyy0xuH54oVgqiZxtRjDm5KaYX%2Bix72e4SDW2QQB9uZX2uF%2BbyzDLzFYaarhom%2FIMgcVwuW%2BwY%2BemadA2ExgyQMHqKtrU2OA8kX%2Bh2A0Lv2kGXHcOsKbDz4DK4c2FHIIUGvqUlDp%2BLmmVUkWKpQTnHuvitPnCIdHCA9Y5xEMu5k7BEPtTlYD3A%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:27 GMT
      X-Goog-Generation:
      - "1555606707867565"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys..%5Cfoo%5C%5Cbar%5C%5C%5Cbaz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
