---
version: 1
interactions:
- request:
    body: "--06c88411ca1df81bd166f8e0259297db07ee40564689b34d77df8e8646d8\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keysfoo bar baz\"}\n\r\n--06c88411ca1df81bd166f8e0259297db07ee40564689b34d77df8e8646d8\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--06c88411ca1df81bd166f8e0259297db07ee40564689b34d77df8e8646d8--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=06c88411ca1df81bd166f8e0259297db07ee40564689b34d77df8e8646d8
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1549910382142210","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz","name":"weird-keysfoo
      bar baz","bucket":"go-cloud-blob-test-bucket","generation":"1549910382142210","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:42.141Z","updated":"2019-02-11T18:39:42.141Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:42.141Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz?generation=1549910382142210&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1549910382142210/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo
      bar baz","generation":"1549910382142210","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CILGi46qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1549910382142210/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo
      bar baz","generation":"1549910382142210","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%20bar%20baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:42 GMT
      X-Goog-Generation:
      - "1549910382142210"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1549910382142210","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz","name":"weird-keysfoo
      bar baz","bucket":"go-cloud[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%20bar%20baz?Expires=1549913982&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=NEFJ5jXouyU%2FfSSbn7EGfPfBu4mcvjeNt0uSEtL%2BbAnllKjNLAbziontxDna%2Fvqi76cbIgK%2Fn2VTXyzVU3OUzKbYLfLYBNWfdUbSqVUT0aTTDdtskZxdR3Pw1hfkVCW9ymBL9MW6hrQvA5VWX%2BY%2B8vXTgyrcd9sCmysugsoWkpTH9MD78RM4dwFA0xDEqBWjq19WzYDC4aCS%2BFQFQg1M%2Bc%2FtmL7IoJU4A1SYIQO93tsDFsF0LRqBsxktnYuswiRU5mQLObPIFp5JvHOoyIZT46eM%2Bpr3lTPxP%2BHJqpCZU%2B%2FnVdqc9JCA0tkPO7qFKXfBA4sh%2BLkQ7Bdi7b4bPQvnBA%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:42 GMT
      X-Goog-Generation:
      - "1549910382142210"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
