---
version: 1
interactions:
- request:
    body: "--49d46efb3377360e2377fb26a0ebd4fac0a63f8c5b7822894f736a1d3e50\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keysfoo
      bar baz\"}\n\r\n--49d46efb3377360e2377fb26a0ebd4fac0a63f8c5b7822894f736a1d3e50\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--49d46efb3377360e2377fb26a0ebd4fac0a63f8c5b7822894f736a1d3e50--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=49d46efb3377360e2377fb26a0ebd4fac0a63f8c5b7822894f736a1d3e50
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1555606700385390","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz","name":"weird-keysfoo
      bar baz","bucket":"go-cloud-blob-test-bucket","generation":"1555606700385390","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:20.384Z","updated":"2019-04-18T16:58:20.384Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:20.384Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz?generation=1555606700385390&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1555606700385390/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo
      bar baz","generation":"1555606700385390","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CO7IpcaO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1555606700385390/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keysfoo
      bar baz","generation":"1555606700385390","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%20bar%20baz
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:20 GMT
      X-Goog-Generation:
      - "1555606700385390"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keysfoo
      bar baz/1555606700385390","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz","name":"weird-keysfoo
      bar baz","bucket":"go-cloud[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keysfoo%20bar%20baz?Expires=1555610300&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=biog6CgDVGeOrMYoLD5oq%2FWFhUVKCV9ImyGYw20bJrUWcuyyDbHSCAGe%2FAxd91MCjYP7Nqt0HTZn45JcZD%2BWuOCidpAEwHLXK2Kc6jWOBMc%2FvFt8Yed9qe2sTXizecV4WwnY%2BvE0BmU71r8WwcPSmEil7%2BUGtklJ%2FRXnCVklpvjV8ezXYRRJesVXFASn0fuXdQUDJUcbDXZHIehyU6ik5PRGDmlnMYJDGXvEtf9jUBzSRvCpnwWXW2anwfKWgB3oRAWHvfCn%2BGNqx0oegRw8bOq2mXT0mCI1Y0iKZJRumz96M33hZKA%2FjGMubSkzI4RsvAZh2gfqSRc%2FIWQ5z%2FmYAw%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:20 GMT
      X-Goog-Generation:
      - "1555606700385390"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keysfoo%20bar%20baz?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
