---
version: 1
interactions:
- request:
    body: "--5f14c8091817750bb0c98078875688cd67f71ac4dfb45039d835e4afc934\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys12345\"}\n\r\n--5f14c8091817750bb0c98078875688cd67f71ac4dfb45039d835e4afc934\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--5f14c8091817750bb0c98078875688cd67f71ac4dfb45039d835e4afc934--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=5f14c8091817750bb0c98078875688cd67f71ac4dfb45039d835e4afc934
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys12345/1549910376186850","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345","name":"weird-keys12345","bucket":"go-cloud-blob-test-bucket","generation":"1549910376186850","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:36.186Z","updated":"2019-02-11T18:39:36.186Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:36.186Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345?generation=1549910376186850&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1549910376186850/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1549910376186850","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COKHoIuqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1549910376186850/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1549910376186850","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COKHoIuqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1549910376186850/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1549910376186850","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COKHoIuqtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1549910376186850/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1549910376186850","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"COKHoIuqtOACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"COKHoIuqtOACEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COKHoIuqtOACEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys12345
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:36 GMT
      X-Goog-Generation:
      - "1549910376186850"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys12345/1549910376186850","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345","name":"weird-keys12345","bucket":"go-cloud-blob-test-bucket","generation":"15499103761[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys12345?Expires=1549913976&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=G5AbkzY2xxQx0a1IA2UOuHuEckTHZRjRdKcuUKrZ5WqvqmuPfa0b%2BB35UNbEeGbMCqSf99YWv2SXIgm9SBDOFdEO19YD3qX8fPC3bKzODypKY79hrgXlbxdKq%2BDAXZhnkKpR%2B%2BHviY%2FKCW%2BRToUOelm0HpqDZiRwvKopGC5E3NxkL6062sw%2B9ul0lGwouLJBSli7kpaxjOSRpHl8gqtfWzOVeYVbwWxRv9KMpdg9VJjzNLhcmyynYI3Jr0rLe1sSFm7MyS27yCia6ewx4Yju8C7cniwDczhb4k2UrrApBdlcIw1cYSjuuEui5A9DVygFIc2FDaZunK6IjBVJRYtOwg%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:36 GMT
      X-Goog-Generation:
      - "1549910376186850"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
