---
version: 1
interactions:
- request:
    body: "--19ad6147791fa09cf9d4268c3b1c9f4b4b9cff6caf1ce208b985fe8cfbb6\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys12345\"}\n\r\n--19ad6147791fa09cf9d4268c3b1c9f4b4b9cff6caf1ce208b985fe8cfbb6\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--19ad6147791fa09cf9d4268c3b1c9f4b4b9cff6caf1ce208b985fe8cfbb6--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=19ad6147791fa09cf9d4268c3b1c9f4b4b9cff6caf1ce208b985fe8cfbb6
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys12345/1555606697207090","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345","name":"weird-keys12345","bucket":"go-cloud-blob-test-bucket","generation":"1555606697207090","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:17.206Z","updated":"2019-04-18T16:58:17.206Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:17.206Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345?generation=1555606697207090&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1555606697207090/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1555606697207090","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CLLK48SO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1555606697207090/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1555606697207090","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CLLK48SO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1555606697207090/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1555606697207090","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CLLK48SO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys12345/1555606697207090/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys12345","generation":"1555606697207090","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CLLK48SO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CLLK48SO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CLLK48SO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys12345
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:17 GMT
      X-Goog-Generation:
      - "1555606697207090"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys12345/1555606697207090","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345","name":"weird-keys12345","bucket":"go-cloud-blob-test-bucket","generation":"15556066972[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys12345?Expires=1555610297&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=QiOvg1mphQO%2F4EYXGXdSQL3%2BTMqgJWHzl1C0d%2FntgV7pABBBZtlQe48dMOYRaNQ1nUm5EzjhIyrn22zLFzn1tvkSTO7Zyoq9h2qJCvqU7je8nFU%2Fxlr12SaPfcIRU0pQ%2BQJhtgDH1IKxqx9t3aSCuspN7xXEuIwnBcn1ERrxgeYtcuCNE57nthWmOcVUeebUPhh%2FhqvNTcdSTDAWkB%2BeoIrrtMkw90e5VtVcgn2E2%2FmE2nCWTa%2FekI2Tpn9frLyvB%2FqKGro%2FUexVO5D5ZpaJkfc6hfMta2mIXvu19Rf1F%2FGhIrHKYALH4ZdnhaOF%2Bjcrs0xnWd%2Fqu5XiXKPJLH%2FCfw%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:17 GMT
      X-Goog-Generation:
      - "1555606697207090"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys12345?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
