---
version: 1
interactions:
- request:
    body: "--be6530f98178c7125b0464fc56d22ad29d48493c1a8958c046d3a095a1ff\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys☺☺☺☺☺☺☺☺☺☺\"}\n\r\n--be6530f98178c7125b0464fc56d22ad29d48493c1a8958c046d3a095a1ff\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--be6530f98178c7125b0464fc56d22ad29d48493c1a8958c046d3a095a1ff--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=be6530f98178c7125b0464fc56d22ad29d48493c1a8958c046d3a095a1ff
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺☺☺☺☺☺☺☺/1545086980038234","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA","name":"weird-keys☺☺☺☺☺☺☺☺☺☺","bucket":"go-cloud-blob-test-bucket","generation":"1545086980038234","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-12-17T22:49:40.037Z","updated":"2018-12-17T22:49:40.037Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-12-17T22:49:40.037Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA?generation=1545086980038234&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺☺☺☺☺☺☺☺/1545086980038234/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺☺☺☺☺☺☺☺","generation":"1545086980038234","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CNq83sT5p98CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺☺☺☺☺☺☺☺/1545086980038234/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺☺☺☺☺☺☺☺","generation":"1545086980038234","entity":"project-editors-[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 17 Dec 2018 22:49:40 GMT
      X-Goog-Generation:
      - "1545086980038234"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=weird-keys%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺☺☺☺☺☺☺☺/1545086980038234","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA%E2%98%BA","name":"weird-keys☺☺☺☺☺☺☺☺☺☺","bucket":"go-cloud-blob-test-bucket","generation":"1545086980038234","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-12-17T22:49:40.037Z","updated":"2[...]
