---
version: 1
interactions:
- request:
    body: "--b4bff5dca12f426be683eafb70b86eb0723f7bc419f11893d73e8795dffa\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"weird-keys☺☺☺\"}\n\r\n--b4bff5dca12f426be683eafb70b86eb0723f7bc419f11893d73e8795dffa\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--b4bff5dca12f426be683eafb70b86eb0723f7bc419f11893d73e8795dffa--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=b4bff5dca12f426be683eafb70b86eb0723f7bc419f11893d73e8795dffa
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1549910385329294","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA","name":"weird-keys☺☺☺","bucket":"go-cloud-blob-test-bucket","generation":"1549910385329294","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-11T18:39:45.328Z","updated":"2019-02-11T18:39:45.328Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-11T18:39:45.328Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?generation=1549910385329294&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1549910385329294/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1549910385329294","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CI6Jzo+qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1549910385329294/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1549910385329294","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CI6Jzo+qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1549910385329294/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1549910385329294","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CI6Jzo+qtOACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1549910385329294/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1549910385329294","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CI6Jzo+qtOACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CI6Jzo+qtOACEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CI6Jzo+qtOACEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:45 GMT
      X-Goog-Generation:
      - "1549910385329294"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1549910385329294","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA","name":"weird-keys☺☺☺","bucket":"go-cloud-blo[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?Expires=1549913985&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=EG9XpN%2BMn%2FpltuTOjLyMj1eM26UQCd%2F9zSbjfMCpLaRGpOcpH4ZeMkiMXlmYPi7tC7562MYoTWt5mXL1ftAZ6N3BLZPHq1jul2BT%2BDUo2hxPltQcaNo%2FR18CIVE%2FcDc3IMObiiB80EsqIOOPgb0Bs4T7gXFJ3Re%2FPDXfAl8BrKvYLt0CkWlwzHMV7RcVrYVMK2itKQ%2FqjwHqISiOsQz7CEagn4us31khk55zNuQbYR4X683Ho0dBW0oZPOVBiaTsIxx%2BEG0fca8A46RkGStMvNv4WA%2Bub3bCFASy4RMHl07hTcuJIrKihtfH0lN1Tx%2Bi5w3EhQCDLUgSWuOMuUHAYQ%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Mon, 11 Feb 2019 18:39:45 GMT
      X-Goog-Generation:
      - "1549910385329294"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
