---
version: 1
interactions:
- request:
    body: "--624482ff9236d96f5a37b6efdc1bbbeae25b728dd11367d234ab203afb56\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"weird-keys☺☺☺\"}\n\r\n--624482ff9236d96f5a37b6efdc1bbbeae25b728dd11367d234ab203afb56\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--624482ff9236d96f5a37b6efdc1bbbeae25b728dd11367d234ab203afb56--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=624482ff9236d96f5a37b6efdc1bbbeae25b728dd11367d234ab203afb56
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1555606704179273","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA","name":"weird-keys☺☺☺","bucket":"go-cloud-blob-test-bucket","generation":"1555606704179273","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:24.178Z","updated":"2019-04-18T16:58:24.178Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:24.178Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?generation=1555606704179273&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1555606704179273/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1555606704179273","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CMmQjciO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1555606704179273/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1555606704179273","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CMmQjciO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1555606704179273/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1555606704179273","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CMmQjciO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1555606704179273/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"weird-keys☺☺☺","generation":"1555606704179273","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CMmQjciO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CMmQjciO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CMmQjciO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:24 GMT
      X-Goog-Generation:
      - "1555606704179273"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/weird-keys☺☺☺/1555606704179273","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA","name":"weird-keys☺☺☺","bucket":"go-cloud-blo[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?Expires=1555610304&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=mnKacDLr4Yi3EfPqEc9Fa12ViJLguIsnzoR4jqTNdo9ls8HNjnUibnN%2F5jgzyjNi%2F8t%2F8ilNVOiW2IXJQpHGQ7iTo%2BvNufsJM7UWPl3yT5bTy7FVAm3Vh3pXhWzchGqCHKq4JfICs9NuZJKqGrr%2FUAxW5HmRQInqEipRFSAPOSy%2FRxYBLkDTapibL6p6xsL9e6VStSXXr7%2FqVyd5UeKMfSVYJ2tkuWuoH0AvUVQHaIr6h%2BD2UBE9IqHryuljbfO4nKDGU%2B8I3KCZqSsfwjI8ConsWWXRUxV7ybaz3hf0miDpgx0g1Xrbd0zKEIfoo6K3gLHD3OjtniNQkVh0ay2PkQ%3D%3D
    method: GET
  response:
    body: hello
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:24 GMT
      X-Goog-Generation:
      - "1555606704179273"
      X-Goog-Hash:
      - crc32c=mnG7TA==
      - md5=XUFAKrxLKna5cZ2REBfFkg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "5"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/weird-keys%E2%98%BA%E2%98%BA%E2%98%BA?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
