---
version: 1
interactions:
- request:
    body: "--e984fb8e9d846323f39180c4ef7627b95bbdcf81c72e2173f66cdd39ffd9\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"PiWWCnnbxptnTNTsZ6csYg==\",\"name\":\"blob-for-deleting\"}\n\r\n--e984fb8e9d846323f39180c4ef7627b95bbdcf81c72e2173f66cdd39ffd9\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nHello world\r\n--e984fb8e9d846323f39180c4ef7627b95bbdcf81c72e2173f66cdd39ffd9--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=e984fb8e9d846323f39180c4ef7627b95bbdcf81c72e2173f66cdd39ffd9
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-deleting/1555606695195557","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting","name":"blob-for-deleting","bucket":"go-cloud-blob-test-bucket","generation":"1555606695195557","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:15.195Z","updated":"2019-04-18T16:58:15.195Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:15.195Z","size":"11","md5Hash":"PiWWCnnbxptnTNTsZ6csYg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting?generation=1555606695195557&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-deleting/1555606695195557/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-deleting","generation":"1555606695195557","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKXn6MOO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-deleting/1555606695195557/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-deleting","generation":"1555606695195557","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CKXn6MOO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-deleting/1555606695195557/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-deleting","generation":"1555606695195557","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CKXn6MOO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-deleting/1555606695195557/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-deleting","generation":"1555606695195557","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CKXn6MOO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"crUfeA==","etag":"CKXn6MOO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CKXn6MOO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-deleting
    method: GET
  response:
    body: '<?xml version=''1.0'' encoding=''UTF-8''?><Error><Code>NoSuchKey</Code><Message>The
      specified key does not exist.</Message><Details>No such object: go-cloud-blob-test-bucket/blob-for-deleting</Details></Error>'
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - agent_rejected
      X-Guploader-Upload-Result:
      - agent_rejected
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: '{"error":{"errors":[{"domain":"global","reason":"notFound","message":"No
      such object: go-cloud-blob-test-bucket/blob-for-deleting","debugInfo":"com.google.net.rpc3.RpcException:
      cloud.bigstore.ResponseCode.ErrorCode::OBJECT_NOT_FOUND: No such object: go-cloud-blob-test-bucket/blob-for-deleting\n\tat
      com.google.cloud.bigstore.common.BigstoreException.toRpc3Exception(BigstoreException.java:144)\n\tat
      com.google.cloud.bigstore.common.BigstoreException.throwRpc3OnError(BigstoreException.java:301)\n\tat
      com.google.cloud.bigstore.api.json.handlers.objects.DeleteObject.handleRequestReceived(DeleteObject.java:88)\n\tat
[...]
