---
version: 1
interactions:
- request:
    body: "--d7c5fbe5aef97f4111ccfe8c26296545136a8e6e8b807593e09e9dc5e0e4\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-deleting\"}\n\r\n--d7c5fbe5aef97f4111ccfe8c26296545136a8e6e8b807593e09e9dc5e0e4\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nHello world\r\n--d7c5fbe5aef97f4111ccfe8c26296545136a8e6e8b807593e09e9dc5e0e4--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=d7c5fbe5aef97f4111ccfe8c26296545136a8e6e8b807593e09e9dc5e0e4
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-deleting/1537380234359654",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting",
       "name": "blob-for-deleting",
       "bucket": "go-cloud-blob-test-bucket",
       "generation": "1537380234359654",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-09-19T18:03:54.359Z",
       "updated": "2018-09-19T18:03:54.359Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-09-19T18:03:54.359Z",
       "size": "11",
       "md5Hash": "PiWWCnnbxptnTNTsZ6csYg==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting?generation=1537380234359654&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-deleting/1537380234359654/project-owners-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting/acl/project-owners-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-deleting",
         "generation": "1537380234359654",
         "entity": "project-owners-892942638129",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "892942638129",
          "team": "owners"
         },
         "etag": "CObmg9bTx90CEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-deleting/1537380234359654/project-editors-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting/acl/project-editors-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-deleting",
         "generation": "1537380234359654",
         "entity": "project-e[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1537380534000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hhlaxbaj9:4002,/bns/hg/borg/hg/bns/blobstore2/bitpusher/39.scotty,acsfoi11:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=io-iW52BF-yVxgOO9rWQCQ
      X-Google-Gfe-Request-Trace:
      - acsfoi11:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/39.scotty,acsfoi11:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/39:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5Lkdsd2RCbEtvOVFwa1I0NTZXdG5Tdi1HQm5ERUxnRnlwWlRfM2g0MmNpS1pJZ0QwWXRzN2dqN09OQk1kRFdNSHIwc0VNNDVUTUQ1RnZwWWc4UHAweGlTOThtSkFUQWVFZ3VWREJkd01hRmpjSFdRQmo3MFNPcF9UMFI5d0pmUTAEOg0xL2pEbkFzZkxEUV9-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-deleting
    method: GET
  response:
    body: '<?xml version=''1.0'' encoding=''UTF-8''?><Error><Code>NoSuchKey</Code><Message>The
      specified key does not exist.</Message><Details>No such object: go-cloud-blob-test-bucket/blob-for-deleting</Details></Error>'
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Google-Backends:
      - /bns/hh/borg/hh/bns/cloud-storage/prod-cloud-storage-frontend.frontend/60,/bns/hh/borg/hh/bns/blobstore2/bitpusher/10.scotty,acsfob19:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=io-iW_aMHIO2xgO0xbbADw
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfob19:443,/bns/hh/borg/hh/bns/blobstore2/bitpusher/10.scotty,acsfob19:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hh/borg/hh/bns/blobstore2/bitpusher/10:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - agent_rejected
      X-Guploader-Upload-Result:
      - agent_rejected
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-deleting?alt=json
    method: DELETE
  response:
    body: |
      {
       "error": {
        "errors": [
         {
          "domain": "global",
          "reason": "notFound",
          "message": "No such object: go-cloud-blob-test-bucket/blob-for-deleting",
          "debugInfo": "com.google.net.rpc3.RpcException: cloud.bigstore.ResponseCode.ErrorCode::OBJECT_NOT_FOUND: No such object: go-cloud-blob-test-bucket/blob-for-deleting\n\tat com.google.cloud.bigstore.common.BigstoreException.toRpc3Exception(BigstoreException.java:135)\n\tat com.google.cloud.bigstore.common.BigstoreException.throwRpc3OnError(BigstoreException.java:303)\n\tat com.google.cloud.bigstore.api.json.handlers.objects.DeleteObject.handleRequestReceived(DeleteObject.java:77)\n\tat com.google.cloud.bigsto[...]
