/internal/website/data/examples.json  linguist-generated=true
/internal/cmd/gocdk/static.go  linguist-generated=true
**/testdata/**/*.yaml    linguist-generated=true
**/testdata/**/*.replay  linguist-generated=true
