* text eol=lf
*.png -text
samples/order/testdata/* -text
/internal/website/data/examples.json  linguist-generated=true
**/testdata/**/*.yaml    linguist-generated=true
**/testdata/**/*.replay  linguist-generated=true
*.replay binary

