---
version: 1
interactions:
- request:
    body: "--7ad432c8574b357bd0ab95c147487e2e77302506c7a44b008e3e929b28c4\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentLanguage\":\"nl\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"sys-test\"}\n\r\n--7ad432c8574b357bd0ab95c147487e2e77302506c7a44b008e3e929b28c4\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--7ad432c8574b357bd0ab95c147487e2e77302506c7a44b008e3e929b28c4--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=7ad432c8574b357bd0ab95c147487e2e77302506c7a44b008e3e929b28c4
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/sys-test/1538758278204030",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/sys-test",
       "name": "sys-test",
       "bucket": "go-cloud-blob-test-bucket",
       "generation": "1538758278204030",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-10-05T16:51:18.203Z",
       "updated": "2018-10-05T16:51:18.203Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-10-05T16:51:18.203Z",
       "size": "11",
       "md5Hash": "XrY7u+Ae7tCTyyK7j1rNww==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/sys-test?generation=1538758278204030&alt=media",
       "contentLanguage": "nl",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/sys-test/1538758278204030/project-owners-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/sys-test/acl/project-owners-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "sys-test",
         "generation": "1538758278204030",
         "entity": "project-owners-892942638129",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "892942638129",
          "team": "owners"
         },
         "etag": "CP6UxaTh790CEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/sys-test/1538758278204030/project-editors-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/sys-test/acl/project-editors-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "sys-test",
         "generation": "1538758278204030",
         "entity": "project-editors-892942638129",
     [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/sys-test?alt=json&projection=full
    method: GET
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/sys-test/1538758278204030",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/sys-test",
       "name": "sys-test",
       "bucket": "go-cloud-blob-test-bucket",
       "generation[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/sys-test?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1538758577000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hglaxaad8:4147,/bns/hg/borg/hg/bns/blobstore2/bitpusher/13.scotty,acsfog4-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=hpa3W_-AGKWYxgO3v7rgDQ
      X-Google-Gfe-Request-Trace:
      - acsfog4-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/13.scotty,acsfog4-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/13:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKDzoNMS9SMmJWQ0ZqRzVIfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
