---
version: 1
interactions:
- request:
    body: Action=ReceiveMessage&QueueUrl=nonexistent-subscription&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - nonexistent-subscription
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190102T073109Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>InvalidAddress</Code><Message>The
      address nonexistent-subscription is not valid for this endpoint.</Message><Detail/></Error><RequestId>ecffa8e0-8d48-56af-b876-fc46e7b5514d</RequestId></ErrorResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - ecffa8e0-8d48-56af-b876-fc46e7b5514d
    status: 404 Not Found
    code: 404
    duration: ""
