---
version: 1
interactions:
- request:
    body: "--1f37530250a7d477f0ec9e36278faed87c4a452e8f279f2aba8b84e6f887\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain\",\"name\":\"blob-for-attributes\"}\n\r\n--1f37530250a7d477f0ec9e36278faed87c4a452e8f279f2aba8b84e6f887\r\nContent-Type:
      text/plain\r\n\r\nHello World!\r\n--1f37530250a7d477f0ec9e36278faed87c4a452e8f279f2aba8b84e6f887--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=1f37530250a7d477f0ec9e36278faed87c4a452e8f279f2aba8b84e6f887
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-attributes/1534464127266722",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "pledged-solved-practically",
       "generation": "1534464127266722",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-08-17T00:02:07.266Z",
       "updated": "2018-08-17T00:02:07.266Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T00:02:07.266Z",
       "size": "12",
       "md5Hash": "7Qdih1MuhjZehB6Sv8UNjA==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?generation=1534464127266722&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534464127266722/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534464127266722",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CKLf56nk8twCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534464127266722/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534464127266722",
         "entity": "pr[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?alt=json&projection=full
    method: GET
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-attributes/1534464127266722",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534464427000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hhlaxbbd11:4196,/bns/hg/borg/hg/bns/blobstore2/bitpusher/15.scotty,acsfot4:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=fxB2W5SEG-iQxgOe_r6ACA
      X-Google-Gfe-Request-Trace:
      - acsfot4:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/15.scotty,acsfot4:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/15:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzZCYnV6T0N3dmRWTzRCOHpKdVNYcno5MHNoYTh5WlRsdThnU1lrbEpTN2hpb2d1YThwWElxZkhJUWdFWVR4dFlTSlNFRWdvZlE0YnNaQXdFS0pMUmF4WHJqV0prZkN4V0h4c2k0T3dKYjhSazdEcktNd1NPSWF3UG1ZeFUwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
