---
version: 1
interactions:
- request:
    body: "--80c3e2b6dc93ed3fc2e792a385cc1ec565be89dccf7c7dc380042a45dc55\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain\",\"name\":\"blob-for-attributes\"}\n\r\n--80c3e2b6dc93ed3fc2e792a385cc1ec565be89dccf7c7dc380042a45dc55\r\nContent-Type:
      text/plain\r\n\r\nHello World!\r\n--80c3e2b6dc93ed3fc2e792a385cc1ec565be89dccf7c7dc380042a45dc55--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=80c3e2b6dc93ed3fc2e792a385cc1ec565be89dccf7c7dc380042a45dc55
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-attributes/1534463897354011",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "pledged-solved-practically",
       "generation": "1534463897354011",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-08-16T23:58:17.353Z",
       "updated": "2018-08-16T23:58:17.353Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-16T23:58:17.353Z",
       "size": "12",
       "md5Hash": "7Qdih1MuhjZehB6Sv8UNjA==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?generation=1534463897354011&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534463897354011/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534463897354011",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CJv+lrzj8twCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534463897354011/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534463897354011",
         "entity": "pr[...]
- request:
    body: ""
    form: {}
    headers:
      Range:
      - bytes=0-0
    url: https://storage.googleapis.com/pledged-solved-practically/blob-for-attributes
    method: GET
  response:
    body: H
    headers:
      Content-Range:
      - bytes 0-0/12
      Content-Type:
      - text/plain
      Etag:
      - '"ed076287532e86365e841e92bfc50d8c"'
      Last-Modified:
      - Thu, 16 Aug 2018 23:58:17 GMT
      X-Goog-Generation:
      - "1534463897354011"
      X-Goog-Hash:
      - crc32c=/mzx3A==
      - md5=7Qdih1MuhjZehB6Sv8UNjA==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "12"
      X-Google-Backends:
      - /bns/hh/borg/hh/bns/cloud-storage/prod-cloud-storage-frontend.frontend/64,/bns/hg/borg/hg/bns/blobstore2/bitpusher/22.scotty,acc17:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=mQ92W7bJGKmQxgPw0bPADQ
      X-Google-Gfe-Cloud-Project-Number:
      - "59487849370"
      X-Google-Gfe-Request-Trace:
      - acc17:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/22.scotty,acc17:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/22:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-CENTRAL1
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 206 Partial Content
    code: 206
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Range:
      - bytes=0-0
    url: https://storage.googleapis.com/pledged-solved-practically/blob-for-attributes
    method: GET
  response:
    body: <?xml version='1.0' encoding='UTF-8'?><Error><Code>InvalidRange</Code><Message>The
      requested range cannot be satisfied.</Message><Details>bytes=0-0</Details></Error>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      Last-Modified:
      - Thu, 16 Aug 2018 23:58:19 GMT
      X-Goog-Generation:
      - "1534463899742063"
      X-Goog-Hash:
      - crc32c=AAAAAA==
      - md5=1B2M2Y8AsgTpgAmY7PhCfg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goo[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534464199000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hglaxabl6:4117,/bns/hg/borg/hg/bns/blobstore2/bitpusher/86.scotty,acsfot13:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=mw92W77uNKGSxgPErbLADg
      X-Google-Gfe-Request-Trace:
      - acsfot13:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/86.scotty,acsfot13:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/86:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzZCUUUtengwOEpiNUdCR1pxSXpscGhsX2x4SVc1dlVwUzVZMGs2dnFzUjB3YktjeXZkYUFaUlpabEtfSy0xaDRiMjdMMHQ5TkZMaGxKM2FtYzVTcElNSWg4eTJVUGg4UmJCX2dpSGpwQ0ZZMDJHM0E4ZmtIalRYWlZpYTQwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
