---
version: 1
interactions:
- request:
    body: "--00e69370dcb10d1bc8f23e2298719d835a1f00d4bbb1af38d048eae5d183\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-my-test-bucket\",\"contentType\":\"text/plain\",\"name\":\"blob-for-attributes\"}\n\r\n--00e69370dcb10d1bc8f23e2298719d835a1f00d4bbb1af38d048eae5d183\r\nContent-Type:
      text/plain\r\n\r\nHello World!\r\n--00e69370dcb10d1bc8f23e2298719d835a1f00d4bbb1af38d048eae5d183--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=00e69370dcb10d1bc8f23e2298719d835a1f00d4bbb1af38d048eae5d183
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-my-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-my-test-bucket/blob-for-attributes/1534378556468377",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "go-cloud-my-test-bucket",
       "generation": "1534378556468377",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-08-16T00:15:56.468Z",
       "updated": "2018-08-16T00:15:56.468Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-16T00:15:56.468Z",
       "size": "12",
       "md5Hash": "7Qdih1MuhjZehB6Sv8UNjA==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-attributes?generation=1534378556468377&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-my-test-bucket/blob-for-attributes/1534378556468377/project-owners-428919891662",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-attributes/acl/project-owners-428919891662",
         "bucket": "go-cloud-my-test-bucket",
         "object": "blob-for-attributes",
         "generation": "1534378556468377",
         "entity": "project-owners-428919891662",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "428919891662",
          "team": "owners"
         },
         "etag": "CJnZvMal8NwCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-my-test-bucket/blob-for-attributes/1534378556468377/project-editors-428919891662",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-attributes/acl/project-editors-428919891662",
         "bucket": "go-cloud-my-test-bucket",
         "object": "blob-for-attributes",
         "generation": "1534378556468377",
         "entity": "project-e[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-attributes?alt=json&projection=full
    method: GET
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-my-test-bucket/blob-for-attributes/1534378556468377",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "go-cloud[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-attributes?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534378856000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "375184955034"
      X-Google-Backends:
      - hhlaxbaa2:4421,/bns/hg/borg/hg/bns/blobstore2/bitpusher/36.scotty,acsfog7:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=PMJ0W_61KIKRxgOrt52QAg
      X-Google-Gfe-Request-Trace:
      - acsfog7:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/36.scotty,acsfog7:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/36:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CJqtkNb1ChoCGAYoATpJChJjbG91ZC1zdG9yYWdlLXJvc3kSCGJpZ3N0b3JlGM7N-Oy9DCIVMTA0NTc2NDE0MDQ5NTQxMzEwMjkyMJCWAjDgKzDhKzDjK0qfARKCAXlhMjkuYy5FbHI2QmJHYWVEZi1OM3lkTk5mTnNzT1BZMkZNbzhOOS04ZjJ0bnpmbklJX0tyQ3g5emJ6Rm9SSlM3S2JUcVdvMHAxdzh4QlBFd1Y4X3VCYy05T19UbldDcjhwUkhTczgwMVprbnhtRmFGbG9JSzg3ZmxmWWZ0dHZUREUwBDoWTk9UX0FfUEVSU0lTVEVOVF9UT0tFTg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
