---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180717T205320Z
      X-Gocloud-Seq:
      - "9"
    url: https://s3.us-east-2.amazonaws.com/go-cloud.bucketnameUpper
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-cloud.bucketnameUpper</BucketName><RequestId>6AECCC3B8A11BF4A</RequestId><HostId>sgTFYywlfmKegPm0jRQLZCuZwWg5yqh3KVCvAlB9m6nylg6wthWw87SdEgDbWtXgRz5khwqjZ3I=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 6AECCC3B8A11BF4A
    status: 400 Bad Request
    code: 400
    duration: ""
