---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180717T205320Z
      X-Gocloud-Seq:
      - "10"
    url: https://s3.us-east-2.amazonaws.com/go-cloud.bucketname%3Finvalidchar
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-cloud.bucketname?invalidchar</BucketName><RequestId>DA78F047DB4798F8</RequestId><HostId>aeup/GiRVFr3iroZFPskL37Hs6ULMQTKzZSoDyrdZ7x+YwD6koliqaamSO357Om5mMo2B3AFxcA=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - DA78F047DB4798F8
    status: 400 Bad Request
    code: 400
    duration: ""
