---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180717T205320Z
      X-Gocloud-Seq:
      - "8"
    url: https://s3.us-east-2.amazonaws.com/go-cloud._bucketname_
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-cloud._bucketname_</BucketName><RequestId>99089B36F9D33029</RequestId><HostId>K8QSyUvn427Y0BHMqUKOT8DzMW3b+ciNvdK5O0eyFIKMjAJzw8h1FIx0xkoLP0RrDaylpfZZ7AY=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 99089B36F9D33029
    status: 400 Bad Request
    code: 400
    duration: ""
