---
version: 1
interactions:
- request:
    body: "--13322529fb177bbd49d5b8bf9cee644870a3caf1a4ca92ddf7c778c469b8\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XrY7u+Ae7tCTyyK7j1rNww==\",\"name\":\"blob-for-canceled-write\"}\n\r\n--13322529fb177bbd49d5b8bf9cee644870a3caf1a4ca92ddf7c778c469b8\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--13322529fb177bbd49d5b8bf9cee644870a3caf1a4ca92ddf7c778c469b8--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=13322529fb177bbd49d5b8bf9cee644870a3caf1a4ca92ddf7c778c469b8
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1555606690007286","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write","name":"blob-for-canceled-write","bucket":"go-cloud-blob-test-bucket","generation":"1555606690007286","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:10.005Z","updated":"2019-04-18T16:58:10.005Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:10.005Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write?generation=1555606690007286&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1555606690007286/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-canceled-write","generation":"1555606690007286","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CPaRrMGO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1555606690007286/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-canceled-write","generation":"1555606690007286","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CPaRrMGO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1555606690007286/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-canceled-write","generation":"1555606690007286","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CPaRrMGO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1555606690007286/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-canceled-write","generation":"1555606690007286","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CPaRrMGO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"yZRlqg==","etag":"CPaRrMGO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CPaRrMGO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-canceled-write
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:10 GMT
      X-Goog-Generation:
      - "1555606690007286"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
