---
version: 1
interactions:
- request:
    body: "--ace415c708764903fe91dbbcf34beac48e0417f06875786eb6a53c2ae607\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-canceled-write\"}\n\r\n--ace415c708764903fe91dbbcf34beac48e0417f06875786eb6a53c2ae607\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--ace415c708764903fe91dbbcf34beac48e0417f06875786eb6a53c2ae607--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ace415c708764903fe91dbbcf34beac48e0417f06875786eb6a53c2ae607
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1547589472191496","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write","name":"blob-for-canceled-write","bucket":"go-cloud-blob-test-bucket","generation":"1547589472191496","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-01-15T21:57:52.191Z","updated":"2019-01-15T21:57:52.191Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-01-15T21:57:52.191Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write?generation=1547589472191496&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1547589472191496/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-canceled-write","generation":"1547589472191496","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CIiI/oXk8N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-canceled-write/1547589472191496/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-canceled-write","generation":"1547589472191496","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"8929426381[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-canceled-write
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Tue, 15 Jan 2019 21:57:52 GMT
      X-Goog-Generation:
      - "1547589472191496"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-canceled-write?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
