---
version: 1
interactions:
- request:
    body: '{"Name":"test-canceled-context","Overwrite":true,"Type":"String","Value":"foobar"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210951Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Gocloud-Seq:
      - "6"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
