---
version: 1
interactions:
- request:
    body: '{"Name":"test-canceled-context","Overwrite":true,"Type":"String","Value":"foobar"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193158Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - aafb10f4-83e0-49e1-9911-fc601a2eadb0
    status: 200 OK
    code: 200
    duration: ""
[...]
