---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180613T222713Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>go-x-cloud.test-write</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test_read</Key><LastModified>2018-06-13T22:27:06.000Z</LastModified><ETag>&quot;e6e8d3ea274df5606478655df72a3d16&quot;</ETag><Size>23</Size><Owner><ID>e1f8084cdfae4a96c0ca8d343fe30bfc18997dd786ab0930b2492a01f5f85b3b</ID></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - us-east-2
      X-Amz-Request-Id:
      - B1B89437C4AF1813
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Delete xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Object><Key>test_read</Key></Object></Delete>
    form: {}
    headers:
      Content-Md5:
      - PD5EJIqWiR5ZbtOZo31YDw==
      X-Amz-Content-Sha256:
      - 537f2e50460b59855faa0fc7af34bfd533f40e6b21c98ab314aaca3ec2adb6d5
      X-Amz-Date:
      - 20180613T222713Z
      X-Gocloud-Seq:
      - "1"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write?delete=
    method: POST
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <DeleteResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Deleted><Key>test_read</Key></Deleted></DeleteResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - C8E287A884D25741
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180613T222714Z
      X-Gocloud-Seq:
      - "3"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.test-write.s3.amazonaws.com/
      X-Amz-Request-Id:
      - 2D186102EBD9B31A
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: something worth reading
    form: {}
    headers:
      Content-Md5:
      - 5ujT6idN9WBkeGVd9yo9Fg==
      X-Amz-Content-Sha256:
      - c489c160c675493414c6e61af2b4d4c5e7c75dd35fdf73e7a16b5dccad1f129c
      X-Amz-Date:
      - 20180613T222714Z
      X-Gocloud-Seq:
      - "4"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/test_read
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"e6e8d3ea274df5606478655df72a3d16"'
      X-Amz-Request-Id:
      - 5FD668A505CC06ED
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180613T222714Z
      X-Gocloud-Seq:
      - "5"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/test_read
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - binary/octet-stream
      Etag:
      - '"e6e8d3ea274df5606478655df72a3d16"'
      Last-Modified:
      - Wed, 13 Jun 2018 22:27:15 GMT
      X-Amz-Request-Id:
      - 3EB738D1A427DD81
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Range:
      - bytes=10-
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180613T222715Z
      X-Gocloud-Seq:
      - "6"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/test_read
    method: GET
  response:
    body: worth reading
    headers:
      Content-Range:
      - bytes 10-22/23
      Content-Type:
      - binary/octet-stream
      Etag:
      - '"e6e8d3ea274df5606478655df72a3d16"'
      Last-Modified:
      - Wed, 13 Jun 2018 22:27:15 GMT
      X-Amz-Request-Id:
      - 853F9FE435536582
    status: 206 Partial Content
    code: 206
    duration: ""
[...]
