---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T205326Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.test-write.s3.amazonaws.com/
      X-Amz-Request-Id:
      - 99A26F5559F428D3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Hello, HTML!
    form: {}
    headers:
      Content-Md5:
      - 4JjTxa2PUHPaEsgnRqdPJA==
      Content-Type:
      - text/html
      X-Amz-Content-Sha256:
      - dc84245fd67437c99c6698dba9b6f50cde26069c40575efdeb8103f83c7c56d6
      X-Amz-Date:
      - 20180622T205327Z
      X-Gocloud-Seq:
      - "1"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/write_html
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"e098d3c5ad8f5073da12c82746a74f24"'
      X-Amz-Request-Id:
      - 2AA229DBDCE06837
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180622T205327Z
      X-Gocloud-Seq:
      - "2"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/write_html
    method: GET
  response:
    body: Hello, HTML!
    headers:
      Content-Type:
      - text/html
      Etag:
      - '"e098d3c5ad8f5073da12c82746a74f24"'
      Last-Modified:
      - Fri, 22 Jun 2018 20:53:28 GMT
      X-Amz-Request-Id:
      - 29554C89A1E2F3A0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Hello, JSON!
    form: {}
    headers:
      Content-Md5:
      - h3AZci0W6fTiRNOdmn81Cw==
      Content-Type:
      - application/json
      X-Amz-Content-Sha256:
      - 49968153c11ad3174ab70424297a4d3ca23c76ad124143cb1d6d5f4a67976608
      X-Amz-Date:
      - 20180622T205327Z
      X-Gocloud-Seq:
      - "3"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/write_json
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"877019722d16e9f4e244d39d9a7f350b"'
      X-Amz-Request-Id:
      - B881DE10A3E486F8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180622T205327Z
      X-Gocloud-Seq:
      - "5"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>go-x-cloud.test-write</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>write_html</Key><LastModified>2018-06-22T20:53:28.000Z</LastModified><ETag>&quot;e098d3c5ad8f5073da12c82746a74f24&quot;</ETag><Size>12</Size><Owner><ID>e1f8084cdfae4a96c0ca8d343fe30bfc18997dd786ab0930b2492a01f5f85b3b</ID></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>write_json</Key><LastModified>2018-06-22T20:53:28.000Z</LastModified><ETag>&quot;877019722d16e9f4e244d39d9a7f350b&quot;</ETag><Size>12</Size><Owner><ID>e1f8084cdfae4a96c0ca8d343fe30bfc18997dd786ab0930b2492a01f5f85b3b</ID></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - us-east-2
      X-Amz-Request-Id:
      - 258A83FC23042DA9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Delete xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Object><Key>write_html</Key></Object><Object><Key>write_json</Key></Object></Delete>
    form: {}
    headers:
      Content-Md5:
      - m0V+lYaor0ebExGvbmcPaA==
      X-Amz-Content-Sha256:
      - 4b6fec745395b4fc0d13686b8e01a6728c7ac0fc80fdeed5333f2d02f36a2e80
      X-Amz-Date:
      - 20180622T205327Z
      X-Gocloud-Seq:
      - "6"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write?delete=
    method: POST
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <DeleteResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Deleted><Key>write_json</Key></Deleted><Deleted><Key>write_html</Key></Deleted></DeleteResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - AF10C815EFE799AA
    status: 200 OK
    code: 200
    duration: ""
[...]
