---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180613T230150Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.test-write.s3.amazonaws.com/
      X-Amz-Request-Id:
      - EC616F5CD40D6453
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: HELLO!hello!
    form: {}
    headers:
      Content-Md5:
      - TZuSLgZcZAweEtLD77DQEg==
      X-Amz-Content-Sha256:
      - d5dac1bcbde4a2ccd6c742a9a808b749fdea7ca857f593ff99030c0c31e24d8a
      X-Amz-Date:
      - 20180613T230150Z
      X-Gocloud-Seq:
      - "1"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/test_write
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"4d9b922e065c640c1e12d2c3efb0d012"'
      X-Amz-Request-Id:
      - 34C6EA4580B50FFE
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180613T230151Z
      X-Gocloud-Seq:
      - "2"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write/test_write
    method: GET
  response:
    body: HELLO!hello!
    headers:
      Content-Type:
      - binary/octet-stream
      Etag:
      - '"4d9b922e065c640c1e12d2c3efb0d012"'
      Last-Modified:
      - Wed, 13 Jun 2018 23:01:51 GMT
      X-Amz-Request-Id:
      - 4655E630B71ABFBA
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180613T230151Z
      X-Gocloud-Seq:
      - "3"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>go-x-cloud.test-write</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test_write</Key><LastModified>2018-06-13T23:01:51.000Z</LastModified><ETag>&quot;4d9b922e065c640c1e12d2c3efb0d012&quot;</ETag><Size>12</Size><Owner><ID>e1f8084cdfae4a96c0ca8d343fe30bfc18997dd786ab0930b2492a01f5f85b3b</ID></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - us-east-2
      X-Amz-Request-Id:
      - FED41BFA38BC2B91
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Delete xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Object><Key>test_write</Key></Object></Delete>
    form: {}
    headers:
      Content-Md5:
      - 2R06tn4zpwzu3DoA2Y9AGA==
      X-Amz-Content-Sha256:
      - e0543540eab3107af9716a3dc4dd3ab5887233de73471d578f71b4ec629b795a
      X-Amz-Date:
      - 20180613T230151Z
      X-Gocloud-Seq:
      - "4"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-write?delete=
    method: POST
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <DeleteResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Deleted><Key>test_write</Key></Deleted></DeleteResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 9607736A82318776
    status: 200 OK
    code: 200
    duration: ""
[...]
