---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T205318Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.good-bucket
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.good-bucket.s3.amazonaws.com/
      X-Amz-Request-Id:
      - B252D5050FF80484
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180622T205319Z
      X-Gocloud-Seq:
      - "1"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.good-bucket
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>go-x-cloud.good-bucket</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - us-east-2
      X-Amz-Request-Id:
      - 117CE3F33BBCA19B
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T205320Z
      X-Gocloud-Seq:
      - "4"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.8ucket-nam3
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.8ucket-nam3.s3.amazonaws.com/
      X-Amz-Request-Id:
      - 33E58E92306F705E
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T205321Z
      X-Gocloud-Seq:
      - "8"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud._bucketname_
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud._bucketname_</BucketName><RequestId>98AC37AAC4E03848</RequestId><HostId>Bu3raulcXxZcL76SNbyHgqkXjfMsMfQPRKkewDJoPtKz52xgUjFiniR5Ncj6C7BZHB3sO3SiLlw=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 98AC37AAC4E03848
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T205321Z
      X-Gocloud-Seq:
      - "9"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.bucketnameUpper
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.bucketnameUpper</BucketName><RequestId>CFF52B5844CFB966</RequestId><HostId>sZohW8kynti9ziAsGLk7mhuPyxniVncuT5OXZsbv22Yih7cWj66CVHTc2VK2P38zbOK4dqsc5ak=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - CFF52B5844CFB966
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T205321Z
      X-Gocloud-Seq:
      - "10"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.bucketname%3Finvalidchar
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.bucketname?invalidchar</BucketName><RequestId>5C048FF9DA88C796</RequestId><HostId>TUC2E1epJIBMbolUBusLaHLM0f8UGV3keGq8asmvmcGwUClR0d5oKpFncZcBjVmKRodJnAP80V0=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 5C048FF9DA88C796
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T205321Z
      X-Gocloud-Seq:
      - "11"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</BucketName><RequestId>3FBC029B34DF58F8</RequestId><HostId>1I/r5KhZ9icgN0aLAt/5x3fP1MmyuqwVC+md6ioFRO58dB1Wf3LXZ7NodQHZJlp7Wt/BkI7RMKc=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 3FBC029B34DF58F8
    status: 400 Bad Request
    code: 400
    duration: ""
