---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180627T175818Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-delete
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.test-delete.s3.amazonaws.com/
      X-Amz-Request-Id:
      - D88495025E7D4B9D
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: something obsolete
    form: {}
    headers:
      Content-Md5:
      - koF6//eO/KY9Eu7TKal/kQ==
      X-Amz-Content-Sha256:
      - f51e6e05f7a11f34b3c655e9888d6c1e857cf98519ee72144b83e04782f6d318
      X-Amz-Date:
      - 20180627T175819Z
      X-Gocloud-Seq:
      - "1"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-delete/test_delete
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"92817afff78efca63d12eed329a97f91"'
      X-Amz-Request-Id:
      - B711EB548E240769
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180627T175819Z
      X-Gocloud-Seq:
      - "2"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-delete/test_delete
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - binary/octet-stream
      Etag:
      - '"92817afff78efca63d12eed329a97f91"'
      Last-Modified:
      - Wed, 27 Jun 2018 17:58:20 GMT
      X-Amz-Request-Id:
      - C6897F40AF96898F
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180627T175819Z
      X-Gocloud-Seq:
      - "6"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.test-delete
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>go-x-cloud.test-delete</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - us-east-2
      X-Amz-Request-Id:
      - A88A57685B21B529
    status: 200 OK
    code: 200
    duration: ""
[...]
