---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180612T203646Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.good-bucket
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.good-bucket.s3.amazonaws.com/
      X-Amz-Request-Id:
      - 53F853944EA8F370
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180612T203647Z
      X-Gocloud-Seq:
      - "2"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.8ucket-nam3
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.8ucket-nam3.s3.amazonaws.com/
      X-Amz-Request-Id:
      - 83DAF45754AFA30A
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180612T203648Z
      X-Gocloud-Seq:
      - "4"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud._bucketname_
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud._bucketname_</BucketName><RequestId>E3444D93ED5BCA8D</RequestId><HostId>Q7DUDpt9VfgouavThUO64DQ4pWWFeffMbA4INthzPIatASbbNHQ85qQw2OKxFK4wOg3jVp/6wZM=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - E3444D93ED5BCA8D
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180612T203648Z
      X-Gocloud-Seq:
      - "6"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.bucketnameUpper
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.bucketnameUpper</BucketName><RequestId>77CECAF0F38C57BE</RequestId><HostId>8bFEtI0k4e/e8i3Dna3s1w7gNv4FaahAQULVapCJCWMfSm9Z1kgmIH/MGygzO6xXwETFcF/2MhE=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 77CECAF0F38C57BE
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180612T203649Z
      X-Gocloud-Seq:
      - "8"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.bucketname%3Finvalidchar
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.bucketname?invalidchar</BucketName><RequestId>E8EF1CF55A46BDC7</RequestId><HostId>6OuXz1JFKBxgK42UvVfHKocs7dG0or6UnHoxEm/P5jHar94C6XxZtFVYUJB0aYHrVddVjMr6fHw=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - E8EF1CF55A46BDC7
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180612T203649Z
      X-Gocloud-Seq:
      - "10"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</BucketName><RequestId>41BD6837C606365D</RequestId><HostId>/TzBGcVjo3NS6lm/Lis+SWBP4kKUXt4Z/xP4rF5+SJGuYHARe/BTRku0QjxbEqXF4pBJwEE6es8=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 41BD6837C606365D
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
