---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180717T205327Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-cloud.test-close-without-write
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-cloud.test-close-without-write.s3.amazonaws.com/
      X-Amz-Request-Id:
      - AD07B7196B988365
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      Content-Type:
      - text/plain; charset=utf-8
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180717T205327Z
      X-Gocloud-Seq:
      - "1"
    url: https://s3.us-east-2.amazonaws.com/go-cloud.test-close-without-write/test_close_without_write
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - E60CD042CA522FC5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180717T205327Z
      X-Gocloud-Seq:
      - "2"
    url: https://s3.us-east-2.amazonaws.com/go-cloud.test-close-without-write/test_close_without_write
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      Last-Modified:
      - Tue, 17 Jul 2018 20:53:28 GMT
      X-Amz-Request-Id:
      - 68B80442A97377ED
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180717T205328Z
      X-Gocloud-Seq:
      - "5"
    url: https://s3.us-east-2.amazonaws.com/go-cloud.test-close-without-write
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>go-cloud.test-close-without-write</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - us-east-2
      X-Amz-Request-Id:
      - C889E02F45F3D1E9
    status: 200 OK
    code: 200
    duration: ""
[...]
