---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T195435Z
      X-Gocloud-Seq:
      - "0"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.good-bucket
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.good-bucket.s3.amazonaws.com/
      X-Amz-Request-Id:
      - 2A1B3A40A03A825B
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20180622T195436Z
      X-Gocloud-Seq:
      - "1"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.good-bucket
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>go-x-cloud.good-bucket</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - us-east-2
      X-Amz-Request-Id:
      - 9DC591B6C95A9B43
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T195437Z
      X-Gocloud-Seq:
      - "4"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.8ucket-nam3
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - http://go-x-cloud.8ucket-nam3.s3.amazonaws.com/
      X-Amz-Request-Id:
      - 977D420121C944A4
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T195438Z
      X-Gocloud-Seq:
      - "8"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud._bucketname_
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud._bucketname_</BucketName><RequestId>DFB974132D696E93</RequestId><HostId>rm8+9el1OGEE+pxupDf2RMTbWRctkjl6K/Ai00lM+YBdGpDjvaUtv2vEh5oAp1ElY+9aHZEffso=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - DFB974132D696E93
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T195438Z
      X-Gocloud-Seq:
      - "9"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.bucketnameUpper
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.bucketnameUpper</BucketName><RequestId>5D76789178634807</RequestId><HostId>buWt4Wgmb4kzBURNwKTSIpzpGexM/BXrL57W/ZrXxyrGbmMnPXVxBCaJ++mNBt5jvpV7pmdhKe8=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 5D76789178634807
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T195438Z
      X-Gocloud-Seq:
      - "10"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.bucketname%3Finvalidchar
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.bucketname?invalidchar</BucketName><RequestId>1E3837C536F5D2E3</RequestId><HostId>mQKAbnPlmV8kQFQo6YYJFN6/yA5UhHR8QENzIXGDcm9gKByO27nmbD4Ao5WYIJV1yyLtqenEOrQ=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 1E3837C536F5D2E3
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>us-east-2</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - 70cae86320841ea73b0bdc759f99920c7caa405e61af2742575750c6586272c9
      X-Amz-Date:
      - 20180622T195439Z
      X-Gocloud-Seq:
      - "11"
    url: https://s3.us-east-2.amazonaws.com/go-x-cloud.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>go-x-cloud.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</BucketName><RequestId>56C48BB475735ADB</RequestId><HostId>MemC20a8HR7H9/+fRD49VY7DA8qdss8cE4j1Z7vGhXCD6UDKfy1nAuDmQltDuKrTqH6+Hr7QlfU=</HostId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - 56C48BB475735ADB
    status: 400 Bad Request
    code: 400
    duration: ""
