---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"Path":"/"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180502T190917Z
      X-Amz-Target:
      - AmazonSSM.GetParametersByPath
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: "{\"Parameters\":[{\"Name\":\"cflewis-string-test\",\"Type\":\"String\",\"Value\":\"I
      am a test with a Unicode character \U0001F926\",\"Version\":1}]}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
