---
version: 1
interactions:
- request:
    body: '{"Description":"Good path and param should pass","Name":"paramstore-string-test","Overwrite":true,"Type":"String","Value":"foobar"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180503T194242Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Path":"/"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180503T194243Z
      X-Amz-Target:
      - AmazonSSM.GetParametersByPath
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"Name":"paramstore-string-test","Type":"String","Value":"foobar","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
