---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"Description":"test","Name":"write-test","Overwrite":true,"Type":"String","Value":"foobar"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180503T155015Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
