---
version: 1
interactions:
- request:
    body: '{"Name":"test-updating-variable-to-error","Overwrite":true,"Type":"String","Value":"[{\"Name\":
      \"Foo\", \"Text\": \"Bar\"}]"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181129T185136Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":10}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 6434124e-eda9-44ed-b251-ff82db282dda
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-updating-variable-to-error"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181129T185137Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-updating-variable-to-error","LastModifiedDate":1.543517497275E9,"Name":"test-updating-variable-to-error","Type":"String","Value":"[{\"Name\":
      \"Foo\", \"Text\": \"Bar\"}]","Version":10}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - d6bacace-42a8-4cf6-bb93-bea020d93a28
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-updating-variable-to-error"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181129T185137Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.543517497275E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-updating-variable-to-error","Policies":[],"Type":"String","Version":10}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 55828cc2-a34d-4c82-a183-f6d5fc547118
    status: 200 OK
    code: 200
    duration: ""
[...]
