---
version: 1
interactions:
- request:
    body: '{"Name":"test-updating-variable-to-error","Overwrite":true,"Type":"String","Value":"[{\"Name\":
      \"Foo\", \"Text\": \"Bar\"}]"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181126T215744Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":7}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - a3f0597e-2854-4084-880d-cde088994b40
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-updating-variable-to-error"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181126T215744Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-updating-variable-to-error","LastModifiedDate":1.543269464923E9,"Name":"test-updating-variable-to-error","Type":"String","Value":"[{\"Name\":
      \"Foo\", \"Text\": \"Bar\"}]","Version":7}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 409b996c-bea3-422d-ba9e-60f588c1108a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-updating-variable-to-error"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20181126T215745Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.543269464923E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-updating-variable-to-error","Policies":[],"Type":"String","Version":7}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 8edb0bc1-acd3-4940-b694-5f4b708686a9
    status: 200 OK
    code: 200
    duration: ""
[...]
