---
version: 1
interactions:
- request:
    body: '{"Name":"test-bad-param-with-snowman-☃️","Overwrite":true,"Type":"String","Value":"snowman"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193155Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"ValidationException","message":"Parameter name: can''t be prefixed
      with \"ssm\" (case-insensitive). If formed as a path, it can consist of sub-paths
      divided by slash symbol; each sub-path can be formed as a mix of letters, numbers
      and the following 3 symbols .-_"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - fd09d8f0-94b8-429b-8b5e-36a759464482
    status: 400 Bad Request
    code: 400
    duration: ""
