---
version: 1
interactions:
- request:
    body: '{"Name":"test-good-param","Overwrite":true,"Type":"String","Value":"Jolly
      snowman to test Unicode handling: ☃️"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210947Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Gocloud-Seq:
      - "0"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-good-param"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210948Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Gocloud-Seq:
      - "1"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"Name":"test-good-param","Type":"String","Value":"Jolly snowman
      to test Unicode handling: ☃️","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-good-param"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210948Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
      X-Gocloud-Seq:
      - "2"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.531861788509E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/cflewis","Name":"test-good-param","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
