---
version: 1
interactions:
- request:
    body: '{"Name":"test-good-param","Overwrite":true,"Type":"String","Value":"Jolly
      snowman to test Unicode handling: ☃️"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193155Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 6d418c9c-c0a2-446d-9ff9-a162c971f9ab
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-good-param"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193155Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-good-param","LastModifiedDate":1.533929515532E9,"Name":"test-good-param","Type":"String","Value":"Jolly
      snowman to test Unicode handling: ☃️","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 9dc16adb-415c-471b-a392-7ab625d1b816
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-good-param"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193155Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.533929515532E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-good-param","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 40e338e8-0630-4a8e-b1e0-29e176042f03
    status: 200 OK
    code: 200
    duration: ""
[...]
