---
version: 1
interactions:
- request:
    body: "{\"Name\":\"test-good-size-value\",\"Overwrite\":true,\"Type\":\"String\",\"Value\":\"\uFEFF***The
      Project Gutenberg's Etext of Shakespeare's First Folio***\\r\\n********************The
      Tragedie of Macbeth*********************\\r\\n\\r\\nThis is our 3rd edition
      of most of these plays.  See the index.\\r\\n\\r\\n\\r\\nCopyright laws are
      changing all over the world, be sure to check\\r\\nthe copyright laws for your
      country before posting these files!!\\r\\n\\r\\nPlease take a look at the important
      information in this header.\\r\\nWe encourage y[...]
- request:
    body: '{"Name":"test-good-size-value"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193156Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: "{\"Parameter\":{\"ARN\":\"arn:aws:ssm:us-east-2:462380225722:parameter/test-good-size-value\",\"LastModifiedDate\":1.533929516723E9,\"Name\":\"test-good-size-value\",\"Type\":\"String\",\"Value\":\"\uFEFF***The
      Project Gutenberg's Etext of Shakespeare's First Folio***\\r\\n********************The
      Tragedie of Macbeth*********************\\r\\n\\r\\nThis is our 3rd edition
      of most of these plays.  See the index.\\r\\n\\r\\n\\r\\nCopyright laws are
      changing all over the world, be sure to check\\r\\nthe copyright laws for your
      country before posting these files!!\\r\\n\\r\\nPlease t[...]
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-good-size-value"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193156Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.533929516723E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-good-size-value","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 66f3b0f6-b6e8-405b-8060-71527a61615e
    status: 200 OK
    code: 200
    duration: ""
[...]
