---
version: 1
interactions:
- request:
    body: '{"Name":"\n\t\tHodor. Hodor HODOR hodor, hodor hodor, hodor. Hodor hodor
      hodor hodor?!\n\t\tHodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor; hodor
      hodor hodor,\n\t\thodor. Hodor hodor, hodor, hodor hodor. Hodor. Hodor hodor...
      Hodor hodor\n\t\thodor hodor! Hodor. Hodor hodor hodor - hodor, hodor, hodor
      hodor. Hodor.\n\t\tHodor hodor hodor hodor hodor - hodor? Hodor HODOR hodor,
      hodor hodor\n\t\thodor hodor?! Hodor. Hodor hodor... Hodor hodor hodor?\n\t\t","Overwrite":true,"Type":"String","Value":"HODOOORRRRR!"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193156Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"ValidationException","message":"Parameter name: can''t be prefixed
      with \"ssm\" (case-insensitive). If formed as a path, it can consist of sub-paths
      divided by slash symbol; each sub-path can be formed as a mix of letters, numbers
      and the following 3 symbols .-_"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 80489627-bbd0-4700-b019-a8bd35eb8723
    status: 400 Bad Request
    code: 400
    duration: ""
