---
version: 1
interactions:
- request:
    body: "--0fa8e5af443230324263fb6ab1e7bc60d43158ac3d146b00c2c65c74dcf2\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain\",\"name\":\"blob-for-attributes\"}\n\r\n--0fa8e5af443230324263fb6ab1e7bc60d43158ac3d146b00c2c65c74dcf2\r\nContent-Type:
      text/plain\r\n\r\nHello World!\r\n--0fa8e5af443230324263fb6ab1e7bc60d43158ac3d146b00c2c65c74dcf2--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=0fa8e5af443230324263fb6ab1e7bc60d43158ac3d146b00c2c65c74dcf2
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-attributes/1534524216048509",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "pledged-solved-practically",
       "generation": "1534524216048509",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-08-17T16:43:36.048Z",
       "updated": "2018-08-17T16:43:36.048Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T16:43:36.048Z",
       "size": "12",
       "md5Hash": "7Qdih1MuhjZehB6Sv8UNjA==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?generation=1534524216048509&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534524216048509/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534524216048509",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CP32r5bE9NwCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534524216048509/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534524216048509",
         "entity": "pr[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?alt=json&projection=full
    method: GET
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-attributes/1534524216048509",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": [...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534524515000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hglaxabe12:4184,/bns/hg/borg/hg/bns/blobstore2/bitpusher/11.scotty,acsfou15:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=Ovt2W47wGIGQxgPeoZqADQ
      X-Google-Gfe-Request-Trace:
      - acsfou15:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/11.scotty,acsfou15:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/11:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzhCWTgwSmtRUHNZaFZrWUhsQjJ1LVI2ZlV4blZUM2RuSnlLOURBVFdGWkYwYXNzOVRkcEFmV0ZsbGgxZWFMZkxwVzlEOW9UVEduU0JvdnJjUnhfd3NNNVh1aXY4VjhDSldhSS1rWjVSa0VDaGIxbm0xTkhlVUVYcDVNSm8wBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
