---
version: 1
interactions:
- request:
    body: "--ef01e1b58f616207b3d4736d9d29e59c68ddf627479c47249c834fce6a72\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain\",\"name\":\"blob-for-attributes\"}\n\r\n--ef01e1b58f616207b3d4736d9d29e59c68ddf627479c47249c834fce6a72\r\nContent-Type:
      text/plain\r\n\r\nHello World!\r\n--ef01e1b58f616207b3d4736d9d29e59c68ddf627479c47249c834fce6a72--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ef01e1b58f616207b3d4736d9d29e59c68ddf627479c47249c834fce6a72
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-attributes/1537380229875940",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "go-cloud-blob-test-bucket",
       "generation": "1537380229875940",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-09-19T18:03:49.875Z",
       "updated": "2018-09-19T18:03:49.875Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-09-19T18:03:49.875Z",
       "size": "12",
       "md5Hash": "7Qdih1MuhjZehB6Sv8UNjA==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes?generation=1537380229875940&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-attributes/1537380229875940/project-owners-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes/acl/project-owners-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-attributes",
         "generation": "1537380229875940",
         "entity": "project-owners-892942638129",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "892942638129",
          "team": "owners"
         },
         "etag": "COSR8tPTx90CEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-attributes/1537380229875940/project-editors-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes/acl/project-editors-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-attributes",
         "generation": "1537380229875940",
         "entity": "pro[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-attributes
    method: GET
  response:
    body: Hello World!
    headers:
      Content-Type:
      - text/plain
      Etag:
      - '"ed076287532e86365e841e92bfc50d8c"'
      Last-Modified:
      - Wed, 19 Sep 2018 18:03:49 GMT
      X-Goog-Generation:
      - "1537380229875940"
      X-Goog-Hash:
      - crc32c=/mzx3A==
      - md5=7Qdih1MuhjZehB6Sv8UNjA==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "12"
      X-Google-Backends:
      - /bns/hh/borg/hh/bns/cloud-storage/prod-cloud-storage-frontend.frontend/23,/bns/hh/borg/hh/bns/blobstore2/bitpusher/14.scotty,acsfob19:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=hY-iW9zGNuiwxgPQvaWwAg
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfob19:443,/bns/hh/borg/hh/bns/blobstore2/bitpusher/14.scotty,acsfob19:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hh/borg/hh/bns/blobstore2/bitpusher/14:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1537380529000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hhlaxbam12:4078,/bns/hg/borg/hg/bns/blobstore2/bitpusher/0.scotty,acsfoi11:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=ho-iW63HCumTxgPDloqAAg
      X-Google-Gfe-Request-Trace:
      - acsfoi11:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/0.scotty,acsfoi11:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/0:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5Lkdsd2RCbVdYdElRMzk0ZHAxdXJ4UVoyQl9DMHJHVGZhZjJVcEozb1R6Q1VqNUlmT1ZPcXM0VG9xSndvWlItTWF3X0FqM1J6a2Z5NTMyN0l0UzdWckluVkFhLUVhSWxTSDNLRGxzVWd6aDdjdnpnZjJyOEZRT3dIZEdMaXREQTAEOg0xL2pEbkFzZkxEUV9-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
