---
version: 1
interactions:
- request:
    body: '{"ConditionExpression":"attribute_not_exists (#0)","ExpressionAttributeNames":{"#0":"_id"},"Item":{"DocstoreRevision":{"S":"2019-03-26T02:27:56.233207Z"},"_id":{"S":"testCreate1"},"b":{"BOOL":true}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190326T022756Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - ME46S1UB8OSS4PLU85EVCULTU7VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Key":{"_id":{"S":"testCreate1"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190326T022756Z
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Item":{"_id":{"S":"testCreate1"},"DocstoreRevision":{"S":"2019-03-26T02:27:56.233207Z"},"b":{"BOOL":true}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1445601800"
      X-Amzn-Requestid:
      - PAPP7ET4I4NOKBCK333F84077FVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ConditionExpression":"attribute_not_exists (#0)","ExpressionAttributeNames":{"#0":"_id"},"Item":{"DocstoreRevision":{"S":"2019-03-26T02:27:56.529437Z"},"_id":{"S":"testCreate1"},"b":{"BOOL":true}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190326T022756Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#ConditionalCheckFailedException","message":"The
      conditional request failed"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "396270901"
      X-Amzn-Requestid:
      - F7SJ8QTQPA02V1TGM5SCSKCTVFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"ConditionExpression":"#0 = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"2019-03-26T02:27:56.233207Z"}},"Key":{"_id":{"S":"testCreate1"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190326T022756Z
      X-Amz-Target:
      - DynamoDB_20120810.DeleteItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 126K7OG74I8E9M4PQNRQP1AL3NVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
