---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T111229Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"_id","AttributeType":"S"},{"AttributeName":"_kind","AttributeType":"S"}],"BillingModeSummary":{"BillingMode":"PAY_PER_REQUEST","LastUpdateToPayPerRequestDateTime":1.556015054158E9},"CreationDateTime":1.55484621416E9,"ItemCount":3,"KeySchema":[{"AttributeName":"_kind","KeyType":"HASH"},{"AttributeName":"_id","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":0,"WriteCapacityUnits":0},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test","TableId":"d7425873-371c-4f42-8fda-5d54be8e5199","TableName":"docstore-test","TableSizeBytes":329,"TableStatus":"ACTIVE","TableThroughputModeSummary":{"LastUpdateToPayPerRequestDateTime":1.556015054158E9,"TableThroughputMode":"PAY_PER_REQUEST"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1294539857"
      X-Amzn-Requestid:
      - 9239SGM9PD04CH5SEM3OB131PRVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"9f8e4da6-4301-4522-8d0b-29688b734b8e","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"6a40e9a1-d007-4033-8282-3061bdd0eaa5"},"_id":{"S":"testDelete"},"_kind":{"S":"delete"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T111229Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - VMRST6N60LPNSPF105G0P6NU3RVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"a0f3ca99-36e8-461f-90d7-7c96ea80a7a6","TransactItems":[{"Delete":{"Key":{"_id":{"S":"testDelete"},"_kind":{"S":"delete"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T111229Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 1C45R41E71V8FF1QMAVI68U5V7VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TransactItems":[{"Get":{"Key":{"_id":{"S":"testDelete"},"_kind":{"S":"delete"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T111229Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3104199877"
      X-Amzn-Requestid:
      - 70A3807M00IJ93E6FMGTG6O4IBVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ClientRequestToken":"8953bb68-65fc-492b-8c3a-17c9028be991","TransactItems":[{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"0f26686d-9bf2-4b26-8901-ff354cde1607"}},"Key":{"_id":{"S":"testDelete"},"_kind":{"S":"delete"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T111229Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#TransactionCanceledException","CancellationReasons":[{"Code":"ConditionalCheckFailed","Message":"The
      conditional request failed"}],"Message":"Transaction cancelled, please refer
      cancellation reasons for specific reasons [ConditionalCheckFailed]"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3141789222"
      X-Amzn-Requestid:
      - RJQP2P9J2OE30R0K5QO5SRSQSVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
