---
version: 1
interactions:
- request:
    body: '{"Item":{"DocstoreRevision":{"S":"172ed857-94bb-458b-8c3b-525da1786f9f"},"_id":{"S":"testGet1"},"_kind":{"S":"get"},"f":{"N":"32.3"},"i":{"N":"95"},"m":{"M":{"a":{"S":"one"},"b":{"S":"two"}}},"s":{"S":"a
      string"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190410T190927Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - S6JQKFGDLNOJLM1S8AH4S8JCEVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Key":{"_id":{"S":"testGet1"},"_kind":{"S":"get"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190410T190927Z
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Item":{"s":{"S":"a string"},"_kind":{"S":"get"},"f":{"N":"32.3"},"i":{"N":"95"},"_id":{"S":"testGet1"},"m":{"M":{"a":{"S":"one"},"b":{"S":"two"}}},"DocstoreRevision":{"S":"172ed857-94bb-458b-8c3b-525da1786f9f"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3456633873"
      X-Amzn-Requestid:
      - RDKRMU1KBTLGJ1BMTQVN7S72QNVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"f","#2":"m","#3":"b"},"Key":{"_id":{"S":"testGet1"},"_kind":{"S":"get"}},"ProjectionExpression":"#0,
      #1, #2.#3","TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190410T190928Z
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Item":{"m":{"M":{"b":{"S":"two"}}},"DocstoreRevision":{"S":"172ed857-94bb-458b-8c3b-525da1786f9f"},"f":{"N":"32.3"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "829082549"
      X-Amzn-Requestid:
      - EQ8T998PA3L3TEUDJDGRMCOT4RVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
