---
version: 1
interactions:
- request:
    body: '{"ClientRequestToken":"ddebafe6-5a31-4d5d-81e2-d2ce9c2b1789","TransactItems":[{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"ad703848-59c0-4a4b-93a1-d5b2f5bfef5a"},"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"},"s":{"S":"a"}},"TableName":"docstore-test"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"6ed92da4-82ca-4956-8e5b-6fe9d8a9ddd9"},"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"},"s":{"S":"b"}},"TableName":"docstore-test"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"eb09277b-92ce-4904-aefa-18500944cbe8"},"_id":{"S":"t[...]
- request:
    body: '{"ClientRequestToken":"8afa3f85-b8a6-4708-8aeb-bac880b5b89b","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"2f0fea19-31a2-4022-8777-a93143dfdcbf"},"_id":{"S":"testMultipleActions11"},"_kind":{"S":"multiple_actions"},"s":{"S":"k"}},"TableName":"docstore-test"}},{"Put":{"Item":{"DocstoreRevision":{"S":"a68406e8-7707-4ff0-8834-e197a4034aa4"},"_id":{"S":"testMultipleActions12"},"_kind":{"S":"multiple_actions"},"s":{"S":"l"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190422T233024Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - VM90MVHK82BMMIV6F59QF8ADNNVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions3"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttribut[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions11"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions12"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190422T233024Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"DocstoreRevision":{"S":"2f0fea19-31a2-4022-8777-a93143dfdcbf"},"s":{"S":"k"}}},{"Item":{"DocstoreRevision":{"S":"a68406e8-7707-4ff0-8834-e197a4034aa4"},"s":{"S":"l"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "816924182"
      X-Amzn-Requestid:
      - FCJUMDV59B3K7JD521GIQGGH27VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"93da5381-0164-4021-84e6-48b6226a1b78","TransactItems":[{"Delete":{"Key":{"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions3"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions4"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultiple[...]
[...]
