---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T111232Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"_id","AttributeType":"S"},{"AttributeName":"_kind","AttributeType":"S"}],"BillingModeSummary":{"BillingMode":"PAY_PER_REQUEST","LastUpdateToPayPerRequestDateTime":1.556015054158E9},"CreationDateTime":1.55484621416E9,"ItemCount":3,"KeySchema":[{"AttributeName":"_kind","KeyType":"HASH"},{"AttributeName":"_id","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":0,"WriteCapacityUnits":0},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test","TableId":"d7425873-371c-4f42-8fda-5d54be8e5199","TableName":"docstore-test","TableSizeBytes":329,"TableStatus":"ACTIVE","TableThroughputModeSummary":{"LastUpdateToPayPerRequestDateTime":1.556015054158E9,"TableThroughputMode":"PAY_PER_REQUEST"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1294539857"
      X-Amzn-Requestid:
      - 909L28KP7CG9HJ3BU54J2SJG1FVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"ddebafe6-5a31-4d5d-81e2-d2ce9c2b1789","TransactItems":[{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"ad703848-59c0-4a4b-93a1-d5b2f5bfef5a"},"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"},"s":{"S":"a"}},"TableName":"docstore-test"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"6ed92da4-82ca-4956-8e5b-6fe9d8a9ddd9"},"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"},"s":{"S":"b"}},"TableName":"docstore-test"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"[...]
[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions3"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttribut[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions11"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions12"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T111232Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"DocstoreRevision":{"S":"2f0fea19-31a2-4022-8777-a93143dfdcbf"},"s":{"S":"k"}}},{"Item":{"DocstoreRevision":{"S":"a68406e8-7707-4ff0-8834-e197a4034aa4"},"s":{"S":"l"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "816924182"
      X-Amzn-Requestid:
      - JAB91GCHTQGS0MOH8NPM975CGJVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"93da5381-0164-4021-84e6-48b6226a1b78","TransactItems":[{"Delete":{"Key":{"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions3"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions4"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultiple[...]
[...]
