---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-1"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190501T095739Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"name","AttributeType":"S"}],"CreationDateTime":1.556147129209E9,"ItemCount":0,"KeySchema":[{"AttributeName":"name","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-1","TableId":"92dd3571-35a9-4cf0-894f-f1c1672c4772","TableName":"docstore-test-1","TableSizeBytes":0,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3620240070"
      X-Amzn-Requestid:
      - 9FUNEEF37N2KGDMTFUMAGQJMKRVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"9435807f-9d4b-47be-afb7-7970466a5626","TransactItems":[{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"f4b6f440-90a3-4711-b320-8e4e4b89cb51"},"name":{"S":"testMultipleActions1"},"s":{"S":"a"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"65ce6400-2cbd-4c28-87aa-113df2468928"},"name":{"S":"testMultipleActions2"},"s":{"S":"b"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"d5a23b9c-a740-480c-9382-d9[...]
[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions1"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions2"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions3"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions11"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions12"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190501T095739Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"DocstoreRevision":{"S":"fe33408c-f9e8-4e2c-b974-08a32d29416b"},"s":{"S":"k"}}},{"Item":{"DocstoreRevision":{"S":"af206a32-9cff-4d4a-b5e4-98320982c85a"},"s":{"S":"l"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1940453"
      X-Amzn-Requestid:
      - 2P6STEM5JAP7R3135BDLM48V1FVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"6ed92da4-82ca-4956-8e5b-6fe9d8a9ddd9","TransactItems":[{"Delete":{"Key":{"name":{"S":"testMultipleActions1"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions2"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions3"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions4"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions5"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions6"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions7"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions8"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions9"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions10"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190501T095739Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - T4JGJQ4H2BGTOESNBK1V2GFGR7VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"TableName":"docstore-test-1"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190501T095739Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":7,"Items":[{"b":{"BOOL":false},"name":{"S":"testPut1"},"DocstoreRevision":{"S":"680b4e7c-8b76-4a1b-9d49-d4955c848621"}},{"DocstoreRevision":{"S":"7694267a-ef4e-4cea-806b-32d6108bd685"},"name":{"S":"testRevisionField"},"s":{"S":"c"}},{"name":{"S":"testData"},"DocstoreRevision":{"S":"0ef1c314-090f-47c7-9a6f-571c246f3e9a"},"val":{"B":"AAEC"}},{"name":{"S":"testDelete"},"DocstoreRevision":{"S":"c6e6b91c-1fd3-4e89-9043-4179d3af4491"},"x":{"S":"y"}},{"i":{"N":"95"},"s":{"S":"a
      string"},"m":{"M":{"a":{"S":"one"},"b":{"S":"two"}}},"f":{"N":"32.3"},"name":{"S":"testGet1"},"DocstoreRevision":{"S":"e8f4a8b0-993e-4df8-883a-0ad8be9c3978"}},{"a":{"S":"X"},"c":{"S":"C"},"DocstoreRevision":{"S":"7f581852-6f18-44be-8233-50eab13935f3"},"name":{"S":"testUpdate"}},{"name":{"S":"testReplace"},"DocstoreRevision":{"S":"94040374-f692-4b98-8bf8-713f8d962d7c"},"s":{"S":"b"}}],"ScannedCount":7}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3104559531"
      X-Amzn-Requestid:
      - 89O6MDD9OGOJ0R75D46G1E5VKBVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"00a0b152-7ea6-4729-a861-d2f6497a3235","TransactItems":[{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"680b4e7c-8b76-4a1b-9d49-d4955c848621"}},"Key":{"name":{"S":"testPut1"}},"TableName":"docstore-test-1"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"7694267a-ef4e-4cea-806b-32d6108bd685"}},"Key":{"name":{"S":"testRevisionField"}},"TableName":"docstore-test-1"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues"[...]
