---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T103716Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"_id","AttributeType":"S"},{"AttributeName":"_kind","AttributeType":"S"}],"BillingModeSummary":{"BillingMode":"PAY_PER_REQUEST","LastUpdateToPayPerRequestDateTime":1.556015054158E9},"CreationDateTime":1.55484621416E9,"ItemCount":3,"KeySchema":[{"AttributeName":"_kind","KeyType":"HASH"},{"AttributeName":"_id","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":0,"WriteCapacityUnits":0},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test","TableId":"d7425873-371c-4f42-8fda-5d54be8e5199","TableName":"docstore-test","TableSizeBytes":329,"TableStatus":"ACTIVE","TableThroughputModeSummary":{"LastUpdateToPayPerRequestDateTime":1.556015054158E9,"TableThroughputMode":"PAY_PER_REQUEST"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1294539857"
      X-Amzn-Requestid:
      - 351436FOER1NHBQ37RBQKDS4BFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"CCF4BAF4-6B2E-46BD-BC72-D2CBF4F9D461","TransactItems":[{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"4eb7649c-6c93-4780-8979-d1830356f2a5"},"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"},"s":{"S":"a"}},"TableName":"docstore-test"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"4c3deab2-a4b4-475d-a3af-be8fb56987c7"},"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"},"s":{"S":"b"}},"TableName":"docstore-test"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"[...]
[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions3"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttribut[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions11"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"_id":{"S":"testMultipleActions12"},"_kind":{"S":"multiple_actions"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190423T103717Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"DocstoreRevision":{"S":"24ba9c9b-1467-4a27-8f01-a910ae295f6e"},"s":{"S":"k"}}},{"Item":{"DocstoreRevision":{"S":"fbfe5f5a-bf44-4cde-a63b-5606633e2bf0"},"s":{"S":"l"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "705607619"
      X-Amzn-Requestid:
      - KTJNMV058S7M10ESFVOOP4S9FFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"03FD776A-A00F-4F11-A800-D118757D85A2","TransactItems":[{"Delete":{"Key":{"_id":{"S":"testMultipleActions1"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions2"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions3"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultipleActions4"},"_kind":{"S":"multiple_actions"}},"TableName":"docstore-test"}},{"Delete":{"Key":{"_id":{"S":"testMultiple[...]
[...]
