---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-1"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T172546Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"name","AttributeType":"S"}],"CreationDateTime":1.556147129209E9,"ItemCount":7,"KeySchema":[{"AttributeName":"name","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-1","TableId":"92dd3571-35a9-4cf0-894f-f1c1672c4772","TableName":"docstore-test-1","TableSizeBytes":701,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2073371389"
      X-Amzn-Requestid:
      - I66BLMMRL5RRJPBJAP9UO5T62RVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"eabc3e1f-bd1c-4304-8d12-947a8d1b050b","TransactItems":[{"Delete":{"Key":{"name":{"S":"testMultipleActions1"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions2"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions3"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions4"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions5"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions6"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T172546Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 4I00C6130QFMQF7P77RUG2O5DBVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"1c772f1b-8c78-4b42-adec-3615d3f0a72e","TransactItems":[{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"9999a01a-ed4f-4cb4-9db5-f9da016f71e7"},"name":{"S":"testMultipleActions1"},"s":{"S":"a"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"c8d0cc9a-860c-4c93-84f0-1b1a05f03cfa"},"name":{"S":"testMultipleActions2"},"s":{"S":"b"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":[...]
[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions1"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions2"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions3"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions11"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions12"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T172546Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"DocstoreRevision":{"S":"b64d27e9-df1d-42b5-ba5c-abf3ad582d8a"},"s":{"S":"k"}}},{"Item":{"DocstoreRevision":{"S":"53344e54-076b-4eb8-994a-283a772c2a99"},"s":{"S":"l"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1451572276"
      X-Amzn-Requestid:
      - 3G869KCOMLRKFPGO1MGSNBLH3FVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
