---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-1"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190502T125305Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"name","AttributeType":"S"}],"CreationDateTime":1.556147129209E9,"ItemCount":0,"KeySchema":[{"AttributeName":"name","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-1","TableId":"92dd3571-35a9-4cf0-894f-f1c1672c4772","TableName":"docstore-test-1","TableSizeBytes":0,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3620240070"
      X-Amzn-Requestid:
      - 0517P409K50H97EG5467JLEHMJVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"1500afba-3f06-4913-8708-cb2cf1d764ad","TransactItems":[{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"496a1d5d-5f52-4b1e-b9b2-a60d65f78580"},"name":{"S":"testMultipleActions1"},"s":{"S":"a"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"52edd7a1-a743-4752-ad5a-108f6dbe21a8"},"name":{"S":"testMultipleActions2"},"s":{"S":"b"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"1e03269d-8f77-4cc6-a1ef-6c[...]
[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions1"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions2"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions3"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions11"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions12"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190502T125305Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"DocstoreRevision":{"S":"005fb061-1e6e-4c34-b5bb-ee62e8beccc3"},"s":{"S":"k"}}},{"Item":{"DocstoreRevision":{"S":"5f6a7b34-a55a-40a1-9cc4-a2a24b9b9f33"},"s":{"S":"l"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1548538668"
      X-Amzn-Requestid:
      - MN7IH5DPD58L1MKMU3NILAQEQVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"276e999e-c84e-47d8-8416-c85a63fd17f3","TransactItems":[{"Delete":{"Key":{"name":{"S":"testMultipleActions1"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions2"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions3"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions4"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions5"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions6"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions7"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions8"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions9"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions10"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190502T125305Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - R291E9D8C1GS57F9KBNB94VA5BVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"TableName":"docstore-test-1"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190502T125305Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":7,"Items":[{"b":{"BOOL":false},"name":{"S":"testPut1"},"DocstoreRevision":{"S":"fcb6c847-03dd-401a-877c-f000e49b2a33"}},{"DocstoreRevision":{"S":"23d12e97-9d93-4f38-8f66-3c14375c4e81"},"name":{"S":"testRevisionField"},"s":{"S":"c"}},{"name":{"S":"testData"},"DocstoreRevision":{"S":"48560df1-b1c5-450d-a3dd-e0b47814884a"},"val":{"B":"AAEC"}},{"name":{"S":"testDelete"},"DocstoreRevision":{"S":"80b72a4b-c4fc-48be-a3b9-6fbef71a8a38"},"x":{"S":"y"}},{"i":{"N":"95"},"s":{"S":"a
      string"},"m":{"M":{"a":{"S":"one"},"b":{"S":"two"}}},"f":{"N":"32.3"},"name":{"S":"testGet1"},"DocstoreRevision":{"S":"ef722116-529f-4cc1-8ad6-29697b316d2f"}},{"a":{"S":"X"},"c":{"S":"C"},"DocstoreRevision":{"S":"009f049e-c8c1-48b9-a4a4-f90cf42481a8"},"name":{"S":"testUpdate"}},{"name":{"S":"testReplace"},"DocstoreRevision":{"S":"5c54f60a-0e18-48de-82a3-6f3c25c77764"},"s":{"S":"b"}}],"ScannedCount":7}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "587387136"
      X-Amzn-Requestid:
      - D44S1PFKV8KEAPUJBRA296S4Q3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"269e2f5d-8af5-4c51-955b-7d1828f68d88","TransactItems":[{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"fcb6c847-03dd-401a-877c-f000e49b2a33"}},"Key":{"name":{"S":"testPut1"}},"TableName":"docstore-test-1"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"23d12e97-9d93-4f38-8f66-3c14375c4e81"}},"Key":{"name":{"S":"testRevisionField"}},"TableName":"docstore-test-1"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues"[...]
