---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-1"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105612Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"name","AttributeType":"S"}],"CreationDateTime":1.556147129209E9,"ItemCount":7,"KeySchema":[{"AttributeName":"name","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-1","TableId":"92dd3571-35a9-4cf0-894f-f1c1672c4772","TableName":"docstore-test-1","TableSizeBytes":701,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2073371389"
      X-Amzn-Requestid:
      - 58IDQKCH3UC8QERA2HO0HIC1V3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"1500afba-3f06-4913-8708-cb2cf1d764ad","TransactItems":[{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"496a1d5d-5f52-4b1e-b9b2-a60d65f78580"},"name":{"S":"testMultipleActions1"},"s":{"S":"a"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"52edd7a1-a743-4752-ad5a-108f6dbe21a8"},"name":{"S":"testMultipleActions2"},"s":{"S":"b"}},"TableName":"docstore-test-1"}},{"Put":{"ConditionExpression":"attribute_not_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"1e03269d-8f77-4cc6-a1ef-6c[...]
[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions1"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions2"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions3"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{[...]
- request:
    body: '{"TransactItems":[{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions11"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}},{"Get":{"ExpressionAttributeNames":{"#0":"DocstoreRevision","#1":"s"},"Key":{"name":{"S":"testMultipleActions12"}},"ProjectionExpression":"#0,
      #1","TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105612Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"DocstoreRevision":{"S":"005fb061-1e6e-4c34-b5bb-ee62e8beccc3"},"s":{"S":"k"}}},{"Item":{"DocstoreRevision":{"S":"5f6a7b34-a55a-40a1-9cc4-a2a24b9b9f33"},"s":{"S":"l"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1548538668"
      X-Amzn-Requestid:
      - PKUOPGT19U3FIALB1PU9DIQGBRVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"276e999e-c84e-47d8-8416-c85a63fd17f3","TransactItems":[{"Delete":{"Key":{"name":{"S":"testMultipleActions1"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions2"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions3"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions4"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions5"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions6"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions7"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions8"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions9"}},"TableName":"docstore-test-1"}},{"Delete":{"Key":{"name":{"S":"testMultipleActions10"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105613Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - R625CVA6JF0A1T5T32KF7S4U7FVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
