---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105613Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"Game","AttributeType":"S"},{"AttributeName":"Player","AttributeType":"S"},{"AttributeName":"Score","AttributeType":"N"},{"AttributeName":"Time","AttributeType":"S"}],"CreationDateTime":1.556147916461E9,"GlobalSecondaryIndexes":[{"IndexArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2/index/global","IndexName":"global","IndexSizeBytes":893,"IndexStatus":"ACTIVE","ItemCount":8,"KeySchema":[{"AttributeName":"Player","KeyType":"HASH"},{"AttributeName":"Time","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"},"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5}}],"ItemCount":8,"KeySchema":[{"AttributeName":"Game","KeyType":"HASH"},{"AttributeName":"Player","KeyType":"RANGE"}],"LocalSecondaryIndexes":[{"IndexArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2/index/local","IndexName":"local","IndexSizeBytes":893,"ItemCount":8,"KeySchema":[{"AttributeName":"Game","KeyType":"HASH"},{"AttributeName":"Score","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"}}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2","TableId":"5c4c6014-7e6a-4db7-93de-a174552cf78d","TableName":"docstore-test-2","TableSizeBytes":1109,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "682539300"
      X-Amzn-Requestid:
      - JHJ8MBQ5D9I14DAUN2UQSMUFQ7VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105613Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":8,"Items":[{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"billie"},"Score":{"N":"111"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"7d7ad684-7b3d-461a-b6d5-4be758ee986a"}},{"Time":{"S":"2019-03-20T00:00:00Z"},"Player":{"S":"fran"},"Score":{"N":"33"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"303beac7-02de-49b9-b82a-fc1b83d532c1"}},{"Time":{"S":"2019-04-18T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"190"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"b36a96df-94a3-42ae-ad52-e65302cd8847"}},{"Time":{"S":"2019-04-01T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"120"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"eb43aab0-5a21-4f65-b604-2ac5e32f3606"}},{"Time":{"S":"2019-02-01T00:00:00Z"},"Player":{"S":"andy"},"Score":{"N":"81"},"Game":{"S":"Praise
      All Monsters"},"DocstoreRevision":{"S":"80f294c2-e2b2-439a-a1c5-9693da86f1f4"}},{"Time":{"S":"2019-03-19T00:00:00Z"},"Player":{"S":"fran"},"Score":{"N":"33"},"Game":{"S":"Praise
      All Monsters"},"DocstoreRevision":{"S":"2fd2d1fd-c1ce-46d7-b335-258215f94f2f"}},{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"60"},"Game":{"S":"Praise
      All Monsters"},"DocstoreRevision":{"S":"9a5732cf-67a6-4072-8f37-4e651c3300d7"}},{"Time":{"S":"2019-03-13T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"49"},"Game":{"S":"Praise
      All Monsters"},"DocstoreRevision":{"S":"9fe183e2-0952-4610-822e-71949bd968b1"}}],"ScannedCount":8}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "303979151"
      X-Amzn-Requestid:
      - AN449TH247T1VJHQD3S2CI9KL3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ClientRequestToken":"269e2f5d-8af5-4c51-955b-7d1828f68d88","TransactItems":[{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"7d7ad684-7b3d-461a-b6d5-4be758ee986a"}},"Key":{"Game":{"S":"Zombie
      DMV"},"Player":{"S":"billie"}},"TableName":"docstore-test-2"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105613Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - ORGGLFJ8THHA039BMR0MCU14A3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ClientRequestToken":"762f11fe-9de1-4d3a-a55d-a4adca89663e","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"9fe183e2-0952-4610-822e-71949bd968b1"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"pat"},"Score":{"N":"49"},"Time":{"S":"2019-03-13T00:00:00Z"}},"TableName":"docstore-test-2"}},{"Put":{"Item":{"DocstoreRevision":{"S":"9a5732cf-67a6-4072-8f37-4e651c3300d7"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"mel"},"Score":{"N":"60"},"Time":{"S":"2019-04-10T00:00:00Z"}},"TableName":"docstore-test-2"}},{"Put":{"Item":{"DocstoreRevision":{"S":"80f294c2-e2b2-[...]
[...]
- request:
    body: '{"ExpressionAttributeNames":{"#0":"Game"},"ExpressionAttributeValues":{":0":{"S":"Zombie
      DMV"}},"KeyConditionExpression":"#0 = :0","TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105613Z
      X-Amz-Target:
      - DynamoDB_20120810.Query
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":4,"Items":[{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"billie"},"Score":{"N":"111"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"7d7ad684-7b3d-461a-b6d5-4be758ee986a"}},{"Time":{"S":"2019-03-20T00:00:00Z"},"Player":{"S":"fran"},"Score":{"N":"33"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"303beac7-02de-49b9-b82a-fc1b83d532c1"}},{"Time":{"S":"2019-04-18T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"190"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"b36a96df-94a3-42ae-ad52-e65302cd8847"}},{"Time":{"S":"2019-04-01T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"120"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"eb43aab0-5a21-4f65-b604-2ac5e32f3606"}}],"ScannedCount":4}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3692535825"
      X-Amzn-Requestid:
      - G2057PUPR4SL2PR5A8KECO3K1VVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ExpressionAttributeNames":{"#0":"Score"},"ExpressionAttributeValues":{":0":{"N":"100"}},"FilterExpression":"#0
      > :0","TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105613Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":3,"Items":[{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"billie"},"Score":{"N":"111"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"7d7ad684-7b3d-461a-b6d5-4be758ee986a"}},{"Time":{"S":"2019-04-18T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"190"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"b36a96df-94a3-42ae-ad52-e65302cd8847"}},{"Time":{"S":"2019-04-01T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"120"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"eb43aab0-5a21-4f65-b604-2ac5e32f3606"}}],"ScannedCount":8}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1622873633"
      X-Amzn-Requestid:
      - 4654A7ETNO6PUAS7MOLRDN4J8BVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
