---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T004958Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"Game","AttributeType":"S"},{"AttributeName":"Player","AttributeType":"S"},{"AttributeName":"Score","AttributeType":"N"},{"AttributeName":"Time","AttributeType":"S"}],"CreationDateTime":1.556147916461E9,"GlobalSecondaryIndexes":[{"IndexArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2/index/global","IndexName":"global","IndexSizeBytes":893,"IndexStatus":"ACTIVE","ItemCount":8,"KeySchema":[{"AttributeName":"Player","KeyType":"HASH"},{"AttributeName":"Time","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"},"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5}}],"ItemCount":8,"KeySchema":[{"AttributeName":"Game","KeyType":"HASH"},{"AttributeName":"Player","KeyType":"RANGE"}],"LocalSecondaryIndexes":[{"IndexArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2/index/local","IndexName":"local","IndexSizeBytes":893,"ItemCount":8,"KeySchema":[{"AttributeName":"Game","KeyType":"HASH"},{"AttributeName":"Score","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"}}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2","TableId":"5c4c6014-7e6a-4db7-93de-a174552cf78d","TableName":"docstore-test-2","TableSizeBytes":1109,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "682539300"
      X-Amzn-Requestid:
      - 3D5QD6QRNV6CK836RUQ6CSMUNJVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T004958Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":0,"Items":[],"ScannedCount":0}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3413411624"
      X-Amzn-Requestid:
      - 0851MKH2N238NN8JE3UTEAPMDRVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"9fe183e2-0952-4610-822e-71949bd968b1","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"269e2f5d-8af5-4c51-955b-7d1828f68d88"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"pat"},"Score":{"N":"49"},"Time":{"S":"2019-03-13T00:00:00Z"}},"TableName":"docstore-test-2"}},{"Put":{"Item":{"DocstoreRevision":{"S":"d6708c45-a5f1-44d7-ae92-9e0919504ba2"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"mel"},"Score":{"N":"60"},"Time":{"S":"2019-04-10T00:00:00Z"}},"TableName":"docstore-test-2"}},{"Put":{"Item":{"DocstoreRevision":{"S":"eb8f43fa-9e28-49e1-8c8d-387b18bb542b"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"andy"},"Score":{"N":"81"},"Time":{"S":"2019-02-01T00:00:00Z"}},"TableNam[...]
[...]
- request:
    body: '{"ExpressionAttributeNames":{"#0":"Game"},"ExpressionAttributeValues":{":0":{"S":"Zombie
      DMV"}},"KeyConditionExpression":"#0 = :0","TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T004958Z
      X-Amz-Target:
      - DynamoDB_20120810.Query
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":4,"Items":[{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"billie"},"Score":{"N":"111"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"8e4375dd-5c61-419e-84b0-dd9cd6dbd50f"}},{"Time":{"S":"2019-03-20T00:00:00Z"},"Player":{"S":"fran"},"Score":{"N":"33"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"15cb7b89-5462-45be-b820-b20d11362050"}},{"Time":{"S":"2019-04-18T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"190"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"55587c5f-40d9-4f5b-959a-a28c66b1c3e8"}},{"Time":{"S":"2019-04-01T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"120"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"121fffe6-864f-4efa-90e3-ec87b1ba147d"}}],"ScannedCount":4}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1572118757"
      X-Amzn-Requestid:
      - G45HQ5ELPVFJ7A4HLPPCAARIUVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ExpressionAttributeNames":{"#0":"Score"},"ExpressionAttributeValues":{":0":{"N":"100"}},"FilterExpression":"#0
      > :0","TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T004958Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":3,"Items":[{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"billie"},"Score":{"N":"111"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"8e4375dd-5c61-419e-84b0-dd9cd6dbd50f"}},{"Time":{"S":"2019-04-18T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"190"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"55587c5f-40d9-4f5b-959a-a28c66b1c3e8"}},{"Time":{"S":"2019-04-01T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"120"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"121fffe6-864f-4efa-90e3-ec87b1ba147d"}}],"ScannedCount":8}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "875167809"
      X-Amzn-Requestid:
      - 9I51RC5VNMI3N4FGTMFCKSHSU3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ClientRequestToken":"9a5732cf-67a6-4072-8f37-4e651c3300d7","TransactItems":[{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"8e4375dd-5c61-419e-84b0-dd9cd6dbd50f"}},"Key":{"Game":{"S":"Zombie
      DMV"},"Player":{"S":"billie"}},"TableName":"docstore-test-2"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"15cb7b89-5462-45be-b820-b20d11362050"}},"Key":{"Game":{"S":"Zombie
      DMV"},"Player":{"S":"fran"}},"TableName":"docstore-test-2"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0[...]
