---
version: 1
interactions:
- request:
    body: '{"ExpressionAttributeNames":{"#0":"_kind","#1":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"query"}},"KeyConditionExpression":"#0
      = :0","Limit":1,"ProjectionExpression":"#1","TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190409T230417Z
      X-Amz-Target:
      - DynamoDB_20120810.Query
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":0,"Items":[],"ScannedCount":0}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3413411624"
      X-Amzn-Requestid:
      - K1MHF29F41KQTG34S82LMTRF7RVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"Item":{"DocstoreRevision":{"S":"c6e6b91c-1fd3-4e89-9043-4179d3af4491"},"_id":{"S":"testQuery1"},"_kind":{"S":"query"},"n":{"N":"-4"},"s":{"S":"foe"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190409T230418Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 5S2O0BV0ERNF6KSRLQMVM7FQQBVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ExpressionAttributeNames":{"#0":"n","#1":"_kind","#2":"DocstoreRevision","#3":"_id"},"ExpressionAttributeValues":{":0":{"N":"1"},":1":{"S":"query"}},"FilterExpression":"#0
      < :0","KeyConditionExpression":"#1 = :1","Limit":1,"ProjectionExpression":"#2,
      #3","TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190409T230418Z
      X-Amz-Target:
      - DynamoDB_20120810.Query
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":1,"Items":[{"_id":{"S":"testQuery1"},"DocstoreRevision":{"S":"c6e6b91c-1fd3-4e89-9043-4179d3af4491"}}],"LastEvaluatedKey":{"_id":{"S":"testQuery1"},"_kind":{"S":"query"}},"ScannedCount":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3193238930"
      X-Amzn-Requestid:
      - 0PJDT5GICKMROOPB68SE3B6D4JVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ExclusiveStartKey":{"_id":{"S":"testQuery1"},"_kind":{"S":"query"}},"ExpressionAttributeNames":{"#0":"n","#1":"_kind","#2":"DocstoreRevision","#3":"_id"},"ExpressionAttributeValues":{":0":{"N":"1"},":1":{"S":"query"}},"FilterExpression":"#0
      < :0","KeyConditionExpression":"#1 = :1","Limit":1,"ProjectionExpression":"#2,
      #3","TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190409T230418Z
      X-Amz-Target:
      - DynamoDB_20120810.Query
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":0,"Items":[],"LastEvaluatedKey":{"_id":{"S":"testQuery2"},"_kind":{"S":"query"}},"ScannedCount":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "651420887"
      X-Amzn-Requestid:
      - 8USEM9TVDGOEHBKC00KGKEFF87VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
