---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T185900Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"Game","AttributeType":"S"},{"AttributeName":"Player","AttributeType":"S"},{"AttributeName":"Score","AttributeType":"N"},{"AttributeName":"Time","AttributeType":"S"}],"CreationDateTime":1.556147916461E9,"GlobalSecondaryIndexes":[{"IndexArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2/index/global","IndexName":"global","IndexSizeBytes":0,"IndexStatus":"ACTIVE","ItemCount":0,"KeySchema":[{"AttributeName":"Player","KeyType":"HASH"},{"AttributeName":"Time","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"},"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5}}],"ItemCount":0,"KeySchema":[{"AttributeName":"Game","KeyType":"HASH"},{"AttributeName":"Player","KeyType":"RANGE"}],"LocalSecondaryIndexes":[{"IndexArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2/index/local","IndexName":"local","IndexSizeBytes":0,"ItemCount":0,"KeySchema":[{"AttributeName":"Game","KeyType":"HASH"},{"AttributeName":"Score","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"}}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-2","TableId":"5c4c6014-7e6a-4db7-93de-a174552cf78d","TableName":"docstore-test-2","TableSizeBytes":0,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1345340988"
      X-Amzn-Requestid:
      - CVIB0SGT3KCCA585D7MR9BJCC3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T185900Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":0,"Items":[],"ScannedCount":0}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3413411624"
      X-Amzn-Requestid:
      - I9SPIM7F9GUDT3653K5Q0BFLUFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"a68406e8-7707-4ff0-8834-e197a4034aa4","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"c37f4192-779e-41d9-ab3b-1c5424fce0b7"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"pat"},"Score":{"N":"49"},"Time":{"S":"2019-03-13T00:00:00Z"}},"TableName":"docstore-test-2"}},{"Put":{"Item":{"DocstoreRevision":{"S":"27b03072-e641-4a76-9f03-abaa40abc944"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"mel"},"Score":{"N":"60"},"Time":{"S":"2019-04-10T00:00:00Z"}},"TableName":"docstore-test-2"}},{"Put":{"Item":{"DocstoreRevision":{"S":"8fddeb21-91d9-45c0-8767-af847afd0edb"},"Game":{"S":"Praise
      All Monsters"},"Player":{"S":"andy"},"Score":{"N":"81"},"Time":{"S":"2019-02-01T00:00:00Z"}},"TableNam[...]
[...]
- request:
    body: '{"ExpressionAttributeNames":{"#0":"Game"},"ExpressionAttributeValues":{":0":{"S":"Zombie
      DMV"}},"KeyConditionExpression":"#0 = :0","TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T185900Z
      X-Amz-Target:
      - DynamoDB_20120810.Query
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":4,"Items":[{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"billie"},"Score":{"N":"111"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"9cdcc595-bcce-4c7b-93d8-df93fab7e125"}},{"Time":{"S":"2019-03-20T00:00:00Z"},"Player":{"S":"fran"},"Score":{"N":"33"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"2f0fea19-31a2-4022-8777-a93143dfdcbf"}},{"Time":{"S":"2019-04-18T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"190"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"ddebafe6-5a31-4d5d-81e2-d2ce9c2b1789"}},{"Time":{"S":"2019-04-01T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"120"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"a68aa8af-5e39-4c41-ae73-4d373c5ebebc"}}],"ScannedCount":4}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "838709138"
      X-Amzn-Requestid:
      - 2RVKU4P4JDOVM9H5P3EF285Q2FVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ExpressionAttributeNames":{"#0":"Score"},"ExpressionAttributeValues":{":0":{"N":"100"}},"FilterExpression":"#0
      > :0","TableName":"docstore-test-2"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190426T185900Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":3,"Items":[{"Time":{"S":"2019-04-10T00:00:00Z"},"Player":{"S":"billie"},"Score":{"N":"111"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"9cdcc595-bcce-4c7b-93d8-df93fab7e125"}},{"Time":{"S":"2019-04-18T00:00:00Z"},"Player":{"S":"mel"},"Score":{"N":"190"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"ddebafe6-5a31-4d5d-81e2-d2ce9c2b1789"}},{"Time":{"S":"2019-04-01T00:00:00Z"},"Player":{"S":"pat"},"Score":{"N":"120"},"Game":{"S":"Zombie
      DMV"},"DocstoreRevision":{"S":"a68aa8af-5e39-4c41-ae73-4d373c5ebebc"}}],"ScannedCount":8}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3563990186"
      X-Amzn-Requestid:
      - 4APSVFBBUJ60D1343P8MLHBPQVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ClientRequestToken":"8afa3f85-b8a6-4708-8aeb-bac880b5b89b","TransactItems":[{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"9cdcc595-bcce-4c7b-93d8-df93fab7e125"}},"Key":{"Game":{"S":"Zombie
      DMV"},"Player":{"S":"billie"}},"TableName":"docstore-test-2"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"2f0fea19-31a2-4022-8777-a93143dfdcbf"}},"Key":{"Game":{"S":"Zombie
      DMV"},"Player":{"S":"fran"}},"TableName":"docstore-test-2"}},{"Delete":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0[...]
