---
version: 1
interactions:
- request:
    body: '{"ClientRequestToken":"29b0223b-eea5-44f7-8391-f445d15afd42","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"255aa5b7-d44b-4c40-b84c-892b9bffd436"},"_id":{"S":"testReplace"},"_kind":{"S":"replace"},"s":{"S":"a"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190419T015700Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 3Q89DVNMO7BMEHIG10P7LP722VVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"8d019192-c242-44e2-8afc-cae3a61fb586","TransactItems":[{"Put":{"ConditionExpression":"attribute_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"94040374-f692-4b98-8bf8-713f8d962d7c"},"_id":{"S":"testReplace"},"_kind":{"S":"replace"},"s":{"S":"b"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190419T015700Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 6PD3KCM7SCJEQNM1UA6BJVPJF7VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TransactItems":[{"Get":{"Key":{"_id":{"S":"testReplace"},"_kind":{"S":"replace"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190419T015700Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"_id":{"S":"testReplace"},"s":{"S":"b"},"_kind":{"S":"replace"},"DocstoreRevision":{"S":"94040374-f692-4b98-8bf8-713f8d962d7c"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "606703421"
      X-Amzn-Requestid:
      - DM7GC3PISI0543ARUTR7N7G4LJVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"3bea6f5b-3af6-4e03-b436-6c4719e43a1b","TransactItems":[{"Put":{"ConditionExpression":"attribute_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind"},"Item":{"DocstoreRevision":{"S":"b14323a6-bc8f-4e7d-b1d9-29333ff99393"},"_id":{"S":"doesNotExist"},"_kind":{"S":"doesNotExist"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190419T015700Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#TransactionCanceledException","CancellationReasons":[{"Code":"ConditionalCheckFailed","Message":"The
      conditional request failed"}],"Message":"Transaction cancelled, please refer
      cancellation reasons for specific reasons [ConditionalCheckFailed]"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3141789222"
      X-Amzn-Requestid:
      - DPOL7AB7TMBAKBI35HD1PHA9SFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"ClientRequestToken":"0b4b3739-7011-4e82-ad6f-4125c8fa7311","TransactItems":[{"Put":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"067d89bc-7f01-41f5-b398-1659a44ff17a"}},"Item":{"DocstoreRevision":{"S":"f5717a28-9a26-4f97-a479-81998ebea89c"},"_id":{"S":"testRevisionField"},"_kind":{"S":"revisionField"},"s":{"S":"b"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190419T015700Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 78KA9EDIK7CPP7FHPCJRT7IVKNVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
