---
version: 1
interactions:
- request:
    body: '{"TableName":"docstore-test-1"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105610Z
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"name","AttributeType":"S"}],"CreationDateTime":1.556147129209E9,"ItemCount":7,"KeySchema":[{"AttributeName":"name","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":5,"WriteCapacityUnits":5},"TableArn":"arn:aws:dynamodb:us-east-2:462380225722:table/docstore-test-1","TableId":"92dd3571-35a9-4cf0-894f-f1c1672c4772","TableName":"docstore-test-1","TableSizeBytes":701,"TableStatus":"ACTIVE"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2073371389"
      X-Amzn-Requestid:
      - C9B6FSF5C8T55CACAUODIJGGVBVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"9d01c94b-5381-41cd-aa8b-aa472e0c895d","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"f6f3fb2e-5904-4ca9-be90-57075a600a51"},"name":{"S":"testReplace"},"s":{"S":"a"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105610Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - FNT68OF3LQUTF04GOK5D8IVP0VVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"9758a26c-9683-4078-9b43-38fb6f5ced86","TransactItems":[{"Put":{"ConditionExpression":"attribute_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"5c54f60a-0e18-48de-82a3-6f3c25c77764"},"name":{"S":"testReplace"},"s":{"S":"b"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105610Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - PSFOLT21DC902DSDGV0O2682CJVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TransactItems":[{"Get":{"Key":{"name":{"S":"testReplace"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105610Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"name":{"S":"testReplace"},"DocstoreRevision":{"S":"5c54f60a-0e18-48de-82a3-6f3c25c77764"},"s":{"S":"b"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3715402630"
      X-Amzn-Requestid:
      - QCBOHPU37PN64H9J1M5OSJ5R0BVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"66ed6444-cac8-4824-a1c0-5f4db3d743eb","TransactItems":[{"Put":{"ConditionExpression":"attribute_exists
      (#0)","ExpressionAttributeNames":{"#0":"name"},"Item":{"DocstoreRevision":{"S":"9d3a1254-8e5d-4672-a9f1-ebf93615f54d"},"name":{"S":"doesNotExist"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105610Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#TransactionCanceledException","CancellationReasons":[{"Code":"ConditionalCheckFailed","Message":"The
      conditional request failed"}],"Message":"Transaction cancelled, please refer
      cancellation reasons for specific reasons [ConditionalCheckFailed]"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3141789222"
      X-Amzn-Requestid:
      - 3PDD0433IIVFA2HU8M4EFRLTLVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"ClientRequestToken":"0323b2f0-69f5-40b4-a66d-ab735f799347","TransactItems":[{"Put":{"ConditionExpression":"#0
      = :0","ExpressionAttributeNames":{"#0":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"90559081-7c8d-4889-a6e1-edb36929c12f"}},"Item":{"DocstoreRevision":{"S":"bd9fc251-7bb0-4eec-902b-9549cd0e63c7"},"name":{"S":"testRevisionField"},"s":{"S":"b"}},"TableName":"docstore-test-1"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190425T105610Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - M0GIFGJIEOBJIVGVRT6QQE99C3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
