---
version: 1
interactions:
- request:
    body: '{"ClientRequestToken":"4c3deab2-a4b4-475d-a3af-be8fb56987c7","TransactItems":[{"Put":{"Item":{"DocstoreRevision":{"S":"4eb7649c-6c93-4780-8979-d1830356f2a5"},"_id":{"S":"testUpdate"},"_kind":{"S":"update"},"a":{"S":"A"},"b":{"S":"B"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190422T233019Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - OPTFDPLQH428P4MVDGENOR79NFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"1d844845-17e9-44ae-b78a-e151c0075592","TransactItems":[{"Update":{"ConditionExpression":"attribute_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind","#1":"b","#2":"a","#3":"c","#4":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"X"},":1":{"S":"C"},":2":{"S":"7f581852-6f18-44be-8233-50eab13935f3"}},"Key":{"_id":{"S":"testUpdate"},"_kind":{"S":"update"}},"TableName":"docstore-test","UpdateExpression":"REMOVE
      #1\nSET #2 = :0, #3 = :1, #4 = :2\n"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190422T233019Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 1NMI4BBK6KNBGI7M88C3I3GSQFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"TransactItems":[{"Get":{"Key":{"_id":{"S":"testUpdate"},"_kind":{"S":"update"}},"TableName":"docstore-test"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190422T233019Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactGetItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Responses":[{"Item":{"a":{"S":"X"},"_id":{"S":"testUpdate"},"c":{"S":"C"},"_kind":{"S":"update"},"DocstoreRevision":{"S":"7f581852-6f18-44be-8233-50eab13935f3"}}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2926156643"
      X-Amzn-Requestid:
      - I6SESQIIRUOKT6APUU06KVCUDVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ClientRequestToken":"50a28da1-0297-4ded-a77e-758579ea3dfe","TransactItems":[{"Update":{"ConditionExpression":"attribute_exists
      (#0)","ExpressionAttributeNames":{"#0":"_kind","#1":"x","#2":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"y"},":1":{"S":"5836b707-5885-450c-b0ec-29a3703934bf"}},"Key":{"_id":{"S":"doesNotExist"},"_kind":{"S":"doesNotExist"}},"TableName":"docstore-test","UpdateExpression":"SET
      #1 = :0, #2 = :1\n"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190422T233019Z
      X-Amz-Target:
      - DynamoDB_20120810.TransactWriteItems
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#TransactionCanceledException","CancellationReasons":[{"Code":"ConditionalCheckFailed","Message":"The
      conditional request failed"}],"Message":"Transaction cancelled, please refer
      cancellation reasons for specific reasons [ConditionalCheckFailed]"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "3141789222"
      X-Amzn-Requestid:
      - IJHL5VHLHSBSE8MGPU4M4EJO2VVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
