---
version: 1
interactions:
- request:
    body: '{"Item":{"DocstoreRevision":{"S":"b14323a6-bc8f-4e7d-b1d9-29333ff99393"},"_id":{"S":"testUpdate"},"a":{"S":"A"},"b":{"S":"B"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190401T191145Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 5SFJN79PEMTKOE7E7ITQ8JK4AVVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ConditionExpression":"attribute_exists (#0)","ExpressionAttributeNames":{"#0":"_id","#1":"b","#2":"a","#3":"c","#4":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"X"},":1":{"S":"C"},":2":{"S":"3bea6f5b-3af6-4e03-b436-6c4719e43a1b"}},"Key":{"_id":{"S":"testUpdate"}},"TableName":"docstore-test","UpdateExpression":"REMOVE
      #1\nSET #2 = :0, #3 = :1, #4 = :2\n"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190401T191145Z
      X-Amz-Target:
      - DynamoDB_20120810.UpdateItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 5FQOGOMIS9Q00SPSODHKQRC687VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ConditionExpression":"attribute_exists (#0)","ExpressionAttributeNames":{"#0":"_id","#1":"x","#2":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"y"},":1":{"S":"067d89bc-7f01-41f5-b398-1659a44ff17a"}},"Key":{"_id":{"S":"doesNotExist"}},"TableName":"docstore-test","UpdateExpression":"SET
      #1 = :0, #2 = :1\n"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190401T191145Z
      X-Amz-Target:
      - DynamoDB_20120810.UpdateItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#ConditionalCheckFailedException","message":"The
      conditional request failed"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "396270901"
      X-Amzn-Requestid:
      - AGHEMJIAUJEMU48G3SUI1USEHFVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
