---
version: 1
interactions:
- request:
    body: '{"Item":{"DocstoreRevision":{"S":"2019-03-26T02:27:58.745008Z"},"_id":{"S":"testUpdate"},"a":{"S":"A"},"b":{"S":"B"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190326T022758Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 98P1BJJ0KK1O2EM3J5F6J6CCSRVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ConditionExpression":"attribute_exists (#0)","ExpressionAttributeNames":{"#0":"_id","#1":"b","#2":"a","#3":"c","#4":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"X"},":1":{"S":"C"},":2":{"S":"2019-03-26T02:27:58.818986Z"}},"Key":{"_id":{"S":"testUpdate"}},"TableName":"docstore-test","UpdateExpression":"REMOVE
      #1\nSET #2 = :0, #3 = :1, #4 = :2\n"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190326T022758Z
      X-Amz-Target:
      - DynamoDB_20120810.UpdateItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 9HC9K54BMH93DR9560F5UVC1S3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ConditionExpression":"attribute_exists (#0)","ExpressionAttributeNames":{"#0":"_id","#1":"x","#2":"DocstoreRevision"},"ExpressionAttributeValues":{":0":{"S":"y"},":1":{"S":"2019-03-26T02:27:58.96608Z"}},"Key":{"_id":{"S":"doesNotExist"}},"TableName":"docstore-test","UpdateExpression":"SET
      #1 = :0, #2 = :1\n"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190326T022758Z
      X-Amz-Target:
      - DynamoDB_20120810.UpdateItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#ConditionalCheckFailedException","message":"The
      conditional request failed"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "396270901"
      X-Amzn-Requestid:
      - 18J5UL00TBPG87GRB5CIIN9A1NVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
