---
version: 1
interactions:
- request:
    body: "--033b1fba447d5561b3de350d5fb18d12bf451c6d695d2852381378952d7b\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"cacheControl\":\"no-cache\",\"contentDisposition\":\"inline\",\"contentEncoding\":\"identity\",\"contentLanguage\":\"en\",\"contentType\":\"text/plain\",\"metadata\":{\"foo\":\"bar\"},\"name\":\"blob-for-copying-src\"}\n\r\n--033b1fba447d5561b3de350d5fb18d12bf451c6d695d2852381378952d7b\r\nContent-Type:
      text/plain\r\n\r\nHello World\r\n--033b1fba447d5561b3de350d5fb18d12bf451c6d695d2852381378952d7b--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=033b1fba447d5561b3de350d5fb18d12bf451c6d695d2852381378952d7b
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1554917554829348","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src","name":"blob-for-copying-src","bucket":"go-cloud-blob-test-bucket","generation":"1554917554829348","metageneration":"1","contentType":"text/plain","timeCreated":"2019-04-10T17:32:34.829Z","updated":"2019-04-10T17:32:34.829Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-10T17:32:34.829Z","size":"11","md5Hash":"sQqNsWTgdUEFt6mb5y4/5Q==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src?generation=1554917554829348&alt=media","contentEncoding":"identity","contentDisposition":"inline","contentLanguage":"en","cacheControl":"no-cache","metadata":{"foo":"bar"},"acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1554917554829348/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1554917554829348","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKTwiqSHxuECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1554917554829348/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1554917554829348","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CKTwiqSHxuECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1554917554829348/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1554917554829348","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CKTwiqSHxuECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1554917554829348/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1554917554829348","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CKTwiqSHxuECEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"aR2qLw==","etag":"CKTwiqSHxuECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CKTwiqSHxuECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1554917554829348","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src","name":"blob-for-copying-src","bucket":"go-cloud-blob-test-bucket","gene[...]
[...]
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/rewriteTo/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest?alt=json&prettyPrint=false&projection=full
    method: POST
  response:
    body: '{"kind":"storage#rewriteResponse","totalBytesRewritten":"11","objectSize":"11","done":true,"resource":{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-dest/1554917555305426","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest","name":"blob-for-copying-dest","bucket":"go-cloud-blob-test-bucket","generation":"1554917555305426","metageneration":"1","contentType":"text/plain","timeCreated":"2019-04-10T17:32:35.303Z","updated":"2019-04-10T17:32:35.303Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-10T17:32:35.3[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-copying-dest
    method: GET
  response:
    body: Hello World
    headers:
      Content-Disposition:
      - inline
      Content-Language:
      - en
      Content-Type:
      - text/plain
      Etag:
      - '"b10a8db164e0754105b7a99be72e3fe5"'
      Last-Modified:
      - Wed, 10 Apr 2019 17:32:35 GMT
      X-Goog-Generation:
      - "1554917555305426"
      X-Goog-Hash:
      - crc32c=aR2qLw==
      - md5=sQqNsWTgdUEFt6mb5y4/5Q==
      X-Goog-Meta-Foo:
      - bar
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-dest/1554917555305426","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest","name":"blob-for-copying-dest","bucket":"go-cloud-blob-test-bucket","[...]
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/rewriteTo/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest-exists?alt=json&prettyPrint=false&projection=full
    method: POST
  response:
    body: '{"kind":"storage#rewriteResponse","totalBytesRewritten":"11","objectSize":"11","done":true,"resource":{"kind":"storage#object","id":"go-cloud-blob-[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-copying-dest-exists
    method: GET
  response:
    body: Hello World
    headers:
      Content-Disposition:
      - inline
      Content-Language:
      - en
      Content-Type:
      - text/plain
      Etag:
      - '"b10a8db164e0754105b7a99be72e3fe5"'
      Last-Modified:
      - Wed, 10 Apr 2019 17:32:35 GMT
      X-Goog-Generation:
      - "1554917555837315"
      X-Goog-Hash:
      - crc32c=aR2qLw==
      - md5=sQqNsWTgdUEFt6mb5y4/5Q==
      X-Goog-Meta-Foo:
      - bar
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest-exists?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-dest-exists/1554917555837315","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest-exists","name":"blob-for-copying-dest-exists","bucket":"[...]
