---
version: 1
interactions:
- request:
    body: "--b2c7547c9ba279599d83ce9af6e87db0027c958580cce3229c230058048d\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"cacheControl\":\"no-cache\",\"contentDisposition\":\"inline\",\"contentEncoding\":\"identity\",\"contentLanguage\":\"en\",\"contentType\":\"text/plain\",\"md5Hash\":\"sQqNsWTgdUEFt6mb5y4/5Q==\",\"metadata\":{\"foo\":\"bar\"},\"name\":\"blob-for-copying-src\"}\n\r\n--b2c7547c9ba279599d83ce9af6e87db0027c958580cce3229c230058048d\r\nContent-Type:
      text/plain\r\n\r\nHello World\r\n--b2c7547c9ba279599d83ce9af6e87db0027c958580cce3229c230058048d--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=b2c7547c9ba279599d83ce9af6e87db0027c958580cce3229c230058048d
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1555606693706479","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src","name":"blob-for-copying-src","bucket":"go-cloud-blob-test-bucket","generation":"1555606693706479","metageneration":"1","contentType":"text/plain","timeCreated":"2019-04-18T16:58:13.706Z","updated":"2019-04-18T16:58:13.706Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:13.706Z","size":"11","md5Hash":"sQqNsWTgdUEFt6mb5y4/5Q==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src?generation=1555606693706479&alt=media","contentEncoding":"identity","contentDisposition":"inline","contentLanguage":"en","cacheControl":"no-cache","metadata":{"foo":"bar"},"acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1555606693706479/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1555606693706479","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CO/1jcOO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1555606693706479/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1555606693706479","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CO/1jcOO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1555606693706479/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1555606693706479","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CO/1jcOO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1555606693706479/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-copying-src","generation":"1555606693706479","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CO/1jcOO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"aR2qLw==","etag":"CO/1jcOO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CO/1jcOO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-src/1555606693706479","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src","name":"blob-for-copying-src","bucket":"go-cloud-blob-test-bucket","gene[...]
[...]
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/rewriteTo/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest?alt=json&prettyPrint=false&projection=full
    method: POST
  response:
    body: '{"kind":"storage#rewriteResponse","totalBytesRewritten":"11","objectSize":"11","done":true,"resource":{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-dest/1555606694029169","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest","name":"blob-for-copying-dest","bucket":"go-cloud-blob-test-bucket","generation":"1555606694029169","metageneration":"1","contentType":"text/plain","timeCreated":"2019-04-18T16:58:14.028Z","updated":"2019-04-18T16:58:14.028Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:14.0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-copying-dest
    method: GET
  response:
    body: Hello World
    headers:
      Content-Disposition:
      - inline
      Content-Language:
      - en
      Content-Type:
      - text/plain
      Etag:
      - '"b10a8db164e0754105b7a99be72e3fe5"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:14 GMT
      X-Goog-Generation:
      - "1555606694029169"
      X-Goog-Hash:
      - crc32c=aR2qLw==
      - md5=sQqNsWTgdUEFt6mb5y4/5Q==
      X-Goog-Meta-Foo:
      - bar
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-dest/1555606694029169","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest","name":"blob-for-copying-dest","bucket":"go-cloud-blob-test-bucket","[...]
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-src/rewriteTo/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest-exists?alt=json&prettyPrint=false&projection=full
    method: POST
  response:
    body: '{"kind":"storage#rewriteResponse","totalBytesRewritten":"11","objectSize":"11","done":true,"resource":{"kind":"storage#object","id":"go-cloud-blob-[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-copying-dest-exists
    method: GET
  response:
    body: Hello World
    headers:
      Content-Disposition:
      - inline
      Content-Language:
      - en
      Content-Type:
      - text/plain
      Etag:
      - '"b10a8db164e0754105b7a99be72e3fe5"'
      Last-Modified:
      - Thu, 18 Apr 2019 16:58:14 GMT
      X-Goog-Generation:
      - "1555606694492248"
      X-Goog-Hash:
      - crc32c=aR2qLw==
      - md5=sQqNsWTgdUEFt6mb5y4/5Q==
      X-Goog-Meta-Foo:
      - bar
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest-exists?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-copying-dest-exists/1555606694492248","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-copying-dest-exists","name":"blob-for-copying-dest-exists","bucket":"[...]
