---
version: 1
interactions:
- request:
    body: "--ad07cf3790c0f530406b01693498537fe60ecfa9be4d722c99e66e0edb78\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain\",\"name\":\"blob-for-attributes\"}\n\r\n--ad07cf3790c0f530406b01693498537fe60ecfa9be4d722c99e66e0edb78\r\nContent-Type:
      text/plain\r\n\r\nHello World!\r\n--ad07cf3790c0f530406b01693498537fe60ecfa9be4d722c99e66e0edb78--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ad07cf3790c0f530406b01693498537fe60ecfa9be4d722c99e66e0edb78
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-attributes/1534529144975568",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "pledged-solved-practically",
       "generation": "1534529144975568",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-08-17T18:05:44.973Z",
       "updated": "2018-08-17T18:05:44.973Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T18:05:44.973Z",
       "size": "12",
       "md5Hash": "7Qdih1MuhjZehB6Sv8UNjA==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?generation=1534529144975568&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534529144975568/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534529144975568",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CNDh1cTW9NwCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-attributes/1534529144975568/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-attributes",
         "generation": "1534529144975568",
         "entity": "pr[...]
- request:
    body: ""
    form: {}
    headers:
      Range:
      - bytes=0-0
    url: https://storage.googleapis.com/pledged-solved-practically/blob-for-attributes
    method: GET
  response:
    body: H
    headers:
      Content-Range:
      - bytes 0-0/12
      Content-Type:
      - text/plain
      Etag:
      - '"ed076287532e86365e841e92bfc50d8c"'
      Last-Modified:
      - Fri, 17 Aug 2018 18:05:44 GMT
      X-Goog-Generation:
      - "1534529144975568"
      X-Goog-Hash:
      - crc32c=/mzx3A==
      - md5=7Qdih1MuhjZehB6Sv8UNjA==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "12"
      X-Google-Backends:
      - /bns/hi/borg/hi/bns/cloud-storage/prod-cloud-storage-frontend.frontend/10,/bns/hi/borg/hi/bns/blobstore2/bitpusher/18.scotty,acsfoc17:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=eQ53W4asAeulxgOzr6-4AQ
      X-Google-Gfe-Cloud-Project-Number:
      - "59487849370"
      X-Google-Gfe-Request-Trace:
      - acsfoc17:443,/bns/hi/borg/hi/bns/blobstore2/bitpusher/18.scotty,acsfoc17:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hi/borg/hi/bns/blobstore2/bitpusher/18:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-CENTRAL1
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 206 Partial Content
    code: 206
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-attributes?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534529444000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hhlaxbao10:4487,/bns/hh/borg/hh/bns/blobstore2/bitpusher/17.scotty,acsfob5:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=eQ53W7ynEeK4xgPP1ZK4BQ
      X-Google-Gfe-Request-Trace:
      - acsfob5:443,/bns/hh/borg/hh/bns/blobstore2/bitpusher/17.scotty,acsfob5:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hh/borg/hh/bns/blobstore2/bitpusher/17:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzhCYnhzNGxJUlBsOFNBbE82S1J6YjQ4cGRubzFlSEJiRG5idEJpWmYzeEpyRWJEZGo2NE1DQ1Z3VEFGSFR4cWZJLU9vU2FDQXd6OURUM2ZGa0ZaT0JJN2JPcGc2QUg2M18wVXFTM21VSjJQVFY4ZlZrVkpWbkx4emkwc1EwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
