---
version: 1
interactions:
- request:
    body: "<!DOCTYPE html><html lang=\"en\">\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\n
      \ <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n  <link href=\"/-/bootstrap.min.css?v=8bec1bba3e23ecba22cffb197a2d440af410b15d\"
      rel=\"stylesheet\">\n  <link href=\"/-/site.css?v=7d81f4104c89dbe376345f6bfe3e62b4e40d3d06\"
      rel=\"stylesheet\">\n  <title>GoDoc</title>\n</head>\n<body>\n<nav class=\"navbar
      navbar-default\" role=\"navigation\">\n  <div class=\"container\">\n  <div class=\"navbar-header\">\n
      \   <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\"
      data-target=\".navbar-collapse\">\n      <span class=\"sr-only\">Toggle navigation</span>\n
      \     <span class=\"icon-bar\"></span>\n      <span class=\"icon-bar\"></span>\n
      \     <span class=\"icon-bar\"></span>\n    </button>\n    <a class=\"navbar-brand\"
      href=\"/\"><strong>GoDoc</strong></a>\n  </div>\n  <div class=\"collapse navbar-collapse\">\n
      \   <ul class=\"nav navbar-nav\">\n        <li class=\"active\"><a href=\"/\">Home</a></li>\n
      \       <li><a href=\"/-/about\">About</a></li>\n    </ul>\n    <form class=\"navbar-nav
      navbar-form navbar-right\" id=\"x-search\" action=\"/\" role=\"search\"><input
      class=\"form-control\" id=\"x-search-query\" type=\"text\" name=\"q\" placeholder=\"Search\"></form>\n
      \ </div>\n</div>\n</nav>\n<div class=\"container\">\n  \n<div class=\"jumbotron\">\n
      \   <h2>Search for Go Packages</h2>\n    \n  <form>\n    <div class=\"input-group\">\n
      \     <input class=\"form-control\" name=\"q\" autofocus=\"autofocus\" value=\"\"
      placeholder=\"Search for package by import path or keyword.\" type=\"text\">\n
      \     <span class=\"input-group-btn\">\n        <button class=\"btn btn-default\"
      type=\"submit\">Go!</button>\n      </span>\n    </div>\n  </form>\n\n</div>\n\n<p>GoDoc
      hosts documentation for <a href=\"http://golang.org/\">Go</a> packages\non Bitbucket,
      GitHub, Google Project Hosting and Launchpad.  Read the <a\n  href=\"/-/about\">About
      Page</a> for information about adding packages to GoDoc\nand more.\n\n<div class=\"row\">\n
      \ <div class=\"col-sm-6\">\n    \n      <h4>Popular Packages</h4>\n      <ul
      class=\"list-unstyled\">\n        <li><a href=\"/github.com/aws/aws-sdk-go/aws\">github.com/aws/aws-sdk-go/aws</a><li><a
      href=\"/github.com/dgrijalva/jwt-go\">github.com/dgrijalva/jwt-go</a><li><a
      href=\"/github.com/gin-gonic/gin\">github.com/gin-gonic/gin</a><li><a href=\"/github.com/go-redis/redis\">github.com/go-redis/redis</a><li><a
      href=\"/github.com/go-sql-driver/mysql\">github.com/go-sql-driver/mysql</a><li><a
      href=\"/github.c[...]
- request:
    body: <BlockList><Latest>AQAAAA==</Latest></BlockList>
    form: {}
    headers:
      Content-Type:
      - application/xml
      X-Ms-Blob-Cache-Control:
      - ""
      X-Ms-Blob-Content-Disposition:
      - ""
      X-Ms-Blob-Content-Encoding:
      - ""
      X-Ms-Blob-Content-Language:
      - ""
      X-Ms-Blob-Content-Type:
      - ""
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Thu, 13 Dec 2018 02:47:52 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?comp=blocklist&timeout=4
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ZklFHW7fwbf3mbpGH5R+dg==
      Etag:
      - '"0x8D660A560ACA7FF"'
      Last-Modified:
      - Thu, 13 Dec 2018 02:47:52 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Blob-Cache-Control:
      - ""
      X-Ms-Blob-Content-Disposition:
      - ""
      X-Ms-Blob-Content-Encoding:
      - ""
      X-Ms-Blob-Content-Language:
      - ""
      X-Ms-Blob-Content-Type:
      - text/html; charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Thu, 13 Dec 2018 02:47:52 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?comp=properties&timeout=4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D660A560AF679E"'
      Last-Modified:
      - Thu, 13 Dec 2018 02:47:52 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Thu, 13 Dec 2018 02:47:52 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - ""
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"0x8D660A560AF679E"'
      Last-Modified:
      - Thu, 13 Dec 2018 02:47:52 GMT
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Thu, 13 Dec 2018 02:47:52 GMT
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Range:
      - bytes=0-6353
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Thu, 13 Dec 2018 02:47:52 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: GET
  response:
    body: "<!DOCTYPE html><html lang=\"en\">\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\n
      \ <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n  <link href=\"/-/bootstrap.min.css?v=8bec[...]
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Delete-Snapshots:
      - include
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Thu, 13 Dec 2018 02:47:52 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Delete-Type-Permanent:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
