---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Blob-Public-Access:
      - blob
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Tue, 11 Sep 2018 00:33:38 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket?restype=container&timeout=4
    method: PUT
  response:
    body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E\x30\"\x20\x65\x6E\x63\x6F\x64\x69\x6E\x67\x3D\"\x75\x74\x66\x2D\x38\"\x3F\x3E\x3C\x45\x72\x72\x6F\x72\x3E\x3C\x43\x6F\x64\x65\x3E\x43\x6F\x6E\x74\x61\x69\x6E\x65\x72\x41\x6C\x72\x65\x61\x64\x79\x45\x78\x69\x73\x74\x73\x3C\x2F\x43\x6F\x64\x65\x3E\x3C\x4D\x65\x73\x73\x61\x67\x65\x3E\x54\x68\x65\x20\x73\x70\x65\x63\x69\x66\x69\x65\x64\x20\x63\x6F\x6E\x74\x61\x69\x6E\x65\x72\x20\x61\x6C\x72\x65\x61\x64\x79\x20\x65\x78\x69\x73\x74\x73\x2E\n\x52\x65\x71\x75\x65\x73\x74\x49\x64\x3A\x30\x61\x63\x65\x65\x33\x36\x63\x2D\x33\x30\x31\x65\x2D\x30\x31\x32\x35\x2D\x33\x61\x36\x37\x2D\x34\x39\x33\x38\x35\x35\x30\x30\x30\x30\x30\x30\n\x54\x69\x6D\x65\x3A\x32\x30\x31\x38\x2D\x30\x39\x2D\x31\x31\x54\x30\x30\x3A\x33\x33\x3A\x33\x38\x2E\x31\x32\x31\x33\x39\x34\x30\x5A\x3C\x2F\x4D\x65\x73\x73\x61\x67\x65\x3E\x3C\x2F\x45\x72\x72\x6F\x72\x3E"
    headers:
      Content-Type:
      - application/xml
      X-Ms-Error-Code:
      - ContainerAlreadyExists
      X-Ms-Version:
      - "2018-03-28"
    status: 409 The specified container already exists.
    code: 409
    duration: ""
- request:
    body: "<!DOCTYPE html><html lang=\"en\">\r\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
      \ <meta charset=\"utf-8\">\r\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\r\n  <link href=\"/-/bootstrap.min.css?v=8bec1bba3e23ecba22cffb197a2d440af410b15d\"
      rel=\"stylesheet\">\r\n  <link href=\"/-/site.css?v=7d81f4104c89dbe376345f6bfe3e62b4e40d3d06\"
      rel=\"stylesheet\">\r\n  <title>GoDoc</title>\r\n</head>\r\n<body>\r\n<nav class=\"navbar
      navbar-default\" role=\"navigation\">\r\n  <div class=\"container\">\r\n  <div
      class=\"navbar-header\">\r\n    <button type=\"button\" class=\"navbar-toggle\"
      data-toggle=\"collapse\" data-target=\".navbar-collapse\">\r\n      <span class=\"sr-only\">Toggle
      navigation</span>\r\n      <span class=\"icon-bar\"></span>\r\n      <span class=\"icon-bar\"></span>\r\n
      \     <span class=\"icon-bar\"></span>\r\n    </button>\r\n    <a class=\"navbar-brand\"
      href=\"/\"><strong>GoDoc</strong></a>\r\n  </div>\r\n  <div class=\"collapse
      navbar-collapse\">\r\n    <ul class=\"nav navbar-nav\">\r\n        <li class=\"active\"><a
      href=\"/\">Home</a></li>\r\n        <li><a href=\"/-/about\">About</a></li>\r\n
      \   </ul>\r\n    <form class=\"navbar-nav navbar-form navbar-right\" id=\"x-search\"
      action=\"/\" role=\"search\"><input class=\"form-control\" id=\"x-search-query\"
      type=\"text\" name=\"q\" placeholder=\"Search\"></form>\r\n  </div>\r\n</div>\r\n</nav>\r\n<div
      class=\"container\">\r\n  \r\n<div class=\"jumbotron\">\r\n    <h2>Search for
      Go Packages</h2>\r\n    \r\n  <form>\r\n    <div class=\"input-group\">\r\n
      \     <input class=\"form-control\" name=\"q\" autofocus=\"autofocus\" value=\"\"
      placeholder=\"Search for package by import path or keyword.\" type=\"text\">\r\n
      \     <span class=\"input-group-btn\">\r\n        <button class=\"btn btn-default\"
      type=\"submit\">Go!</button>\r\n      </span>\r\n    </div>\r\n  </form>\r\n\r\n</div>\r\n\r\n<p>GoDoc
      hosts documentation for <a href=\"http://golang.org/\">Go</a> packages\r\non
      Bitbucket, GitHub, Google Project Hosting and Launchpad.  Read the <a\r\n  href=\"/-/about\">About
      Page</a> for information about adding packages to GoDoc\r\nand more.\r\n\r\n<div
      class=\"row\">\r\n  <div class=\"col-sm-6\">\r\n    \r\n      <h4>Popular Packages</h4>\r\n
      \     <ul class=\"list-unstyled\">\r\n        <li><a href=\"/github.com/aws/aws-sdk-go/aws\">github.com/aws/aws-sdk-go/aws</a><li><a
      href=\"/github.com/dgrijalva/jwt-go\">github.com/dgrijalva/jwt-go</a><li><a
      href=\"/github.com/gin-gonic/gin\">github.com/gin-gonic/gin</a><li><a href=\"/github.com/go-redis/redis\">github.com/go-redis/redis</a><li><a
      href=\"/github.com/go-sql-driver/mysql\">github.com/go-sql-driver/mysql</a><li><a
      href=\"/git[...]
- request:
    body: <BlockList><Latest>AQAAAA==</Latest></BlockList>
    form: {}
    headers:
      Content-Type:
      - application/xml
      X-Ms-Blob-Cache-Control:
      - ""
      X-Ms-Blob-Content-Disposition:
      - ""
      X-Ms-Blob-Content-Encoding:
      - ""
      X-Ms-Blob-Content-Language:
      - ""
      X-Ms-Blob-Content-Type:
      - ""
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Tue, 11 Sep 2018 00:33:38 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?comp=blocklist&timeout=4
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ZklFHW7fwbf3mbpGH5R+dg==
      Etag:
      - '"0x8D6177E3758AD1A"'
      Last-Modified:
      - Tue, 11 Sep 2018 00:33:38 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Blob-Cache-Control:
      - ""
      X-Ms-Blob-Content-Disposition:
      - ""
      X-Ms-Blob-Content-Encoding:
      - ""
      X-Ms-Blob-Content-Language:
      - ""
      X-Ms-Blob-Content-Type:
      - text/html; charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Tue, 11 Sep 2018 00:33:38 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?comp=properties&timeout=4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6177E375997A4"'
      Last-Modified:
      - Tue, 11 Sep 2018 00:33:38 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Tue, 11 Sep 2018 00:33:38 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - ""
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"0x8D6177E375997A4"'
      Last-Modified:
      - Tue, 11 Sep 2018 00:33:38 GMT
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Tue, 11 Sep 2018 00:33:38 GMT
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Range:
      - bytes=0-6463
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Tue, 11 Sep 2018 00:33:38 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: GET
  response:
    body: "<!DOCTYPE html><html lang=\"en\">\r\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
      \ <meta charset=\"utf-8\">\r\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\r\n  <link href=\"/-/bootstrap.min.cs[...]
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Delete-Snapshots:
      - include
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Tue, 11 Sep 2018 00:33:38 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Delete-Type-Permanent:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
