---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey gocloud:mPQt41YnS5fDK0Yt87LIOyHyByoFSZW+jSJ7KXlxz70=
      X-Ms-Blob-Public-Access:
      - blob
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Wed, 12 Dec 2018 15:30:33 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket?restype=container&timeout=4
    method: PUT
  response:
    body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E\x30\"\x20\x65\x6E\x63\x6F\x64\x69\x6E\x67\x3D\"\x75\x74\x66\x2D\x38\"\x3F\x3E\x3C\x45\x72\x72\x6F\x72\x3E\x3C\x43\x6F\x64\x65\x3E\x43\x6F\x6E\x74\x61\x69\x6E\x65\x72\x41\x6C\x72\x65\x61\x64\x79\x45\x78\x69\x73\x74\x73\x3C\x2F\x43\x6F\x64\x65\x3E\x3C\x4D\x65\x73\x73\x61\x67\x65\x3E\x54\x68\x65\x20\x73\x70\x65\x63\x69\x66\x69\x65\x64\x20\x63\x6F\x6E\x74\x61\x69\x6E\x65\x72\x20\x61\x6C\x72\x65\x61\x64\x79\x20\x65\x78\x69\x73\x74\x73\x2E\n\x52\x65\x71\x75\x65\x73\x74\x49\x64\x3A\x34\x62\x66\x65\x65\x66\x62\x33\x2D\x32\x30\x31\x65\x2D\x30\x30\x64\x62\x2D\x32\x64\x32\x66\x2D\x39\x32\x34\x32\x36\x35\x30\x30\x30\x30\x30\x30\n\x54\x69\x6D\x65\x3A\x32\x30\x31\x38\x2D\x31\x32\x2D\x31\x32\x54\x31\x35\x3A\x33\x30\x3A\x33\x34\x2E\x30\x30\x36\x33\x34\x33\x37\x5A\x3C\x2F\x4D\x65\x73\x73\x61\x67\x65\x3E\x3C\x2F\x45\x72\x72\x6F\x72\x3E"
    headers:
      Content-Type:
      - application/xml
      X-Ms-Error-Code:
      - ContainerAlreadyExists
      X-Ms-Version:
      - "2018-03-28"
    status: 409 The specified container already exists.
    code: 409
    duration: ""
- request:
    body: "<!DOCTYPE html><html lang=\"en\">\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\n
      \ <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n  <link href=\"/-/bootstrap.min.css?v=8bec1bba3e23ecba22cffb197a2d440af410b15d\"
      rel=\"stylesheet\">\n  <link href=\"/-/site.css?v=7d81f4104c89dbe376345f6bfe3e62b4e40d3d06\"
      rel=\"stylesheet\">\n  <title>GoDoc</title>\n</head>\n<body>\n<nav class=\"navbar
      navbar-default\" role=\"navigation\">\n  <div class=\"container\">\n  <div class=\"navbar-header\">\n
      \   <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\"
      data-target=\".navbar-collapse\">\n      <span class=\"sr-only\">Toggle navigation</span>\n
      \     <span class=\"icon-bar\"></span>\n      <span class=\"icon-bar\"></span>\n
      \     <span class=\"icon-bar\"></span>\n    </button>\n    <a class=\"navbar-brand\"
      href=\"/\"><strong>GoDoc</strong></a>\n  </div>\n  <div class=\"collapse navbar-collapse\">\n
      \   <ul class=\"nav navbar-nav\">\n        <li class=\"active\"><a href=\"/\">Home</a></li>\n
      \       <li><a href=\"/-/about\">About</a></li>\n    </ul>\n    <form class=\"navbar-nav
      navbar-form navbar-right\" id=\"x-search\" action=\"/\" role=\"search\"><input
      class=\"form-control\" id=\"x-search-query\" type=\"text\" name=\"q\" placeholder=\"Search\"></form>\n
      \ </div>\n</div>\n</nav>\n<div class=\"container\">\n  \n<div class=\"jumbotron\">\n
      \   <h2>Search for Go Packages</h2>\n    \n  <form>\n    <div class=\"input-group\">\n
      \     <input class=\"form-control\" name=\"q\" autofocus=\"autofocus\" value=\"\"
      placeholder=\"Search for package by import path or keyword.\" type=\"text\">\n
      \     <span class=\"input-group-btn\">\n        <button class=\"btn btn-default\"
      type=\"submit\">Go!</button>\n      </span>\n    </div>\n  </form>\n\n</div>\n\n<p>GoDoc
      hosts documentation for <a href=\"http://golang.org/\">Go</a> packages\non Bitbucket,
      GitHub, Google Project Hosting and Launchpad.  Read the <a\n  href=\"/-/about\">About
      Page</a> for information about adding packages to GoDoc\nand more.\n\n<div class=\"row\">\n
      \ <div class=\"col-sm-6\">\n    \n      <h4>Popular Packages</h4>\n      <ul
      class=\"list-unstyled\">\n        <li><a href=\"/github.com/aws/aws-sdk-go/aws\">github.com/aws/aws-sdk-go/aws</a><li><a
      href=\"/github.com/dgrijalva/jwt-go\">github.com/dgrijalva/jwt-go</a><li><a
      href=\"/github.com/gin-gonic/gin\">github.com/gin-gonic/gin</a><li><a href=\"/github.com/go-redis/redis\">github.com/go-redis/redis</a><li><a
      href=\"/github.com/go-sql-driver/mysql\">github.com/go-sql-driver/mysql</a><li><a
      href=\"/github.c[...]
- request:
    body: <BlockList><Latest>AQAAAA==</Latest></BlockList>
    form: {}
    headers:
      Authorization:
      - SharedKey gocloud:ocDlFNr7ediNRMm8rnWMc8BJxo6he2B2bLyglYYUf/0=
      Content-Type:
      - application/xml
      X-Ms-Blob-Cache-Control:
      - ""
      X-Ms-Blob-Content-Disposition:
      - ""
      X-Ms-Blob-Content-Encoding:
      - ""
      X-Ms-Blob-Content-Language:
      - ""
      X-Ms-Blob-Content-Type:
      - ""
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Wed, 12 Dec 2018 15:30:33 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?comp=blocklist&timeout=4
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ZklFHW7fwbf3mbpGH5R+dg==
      Etag:
      - '"0x8D66046C21D1F0A"'
      Last-Modified:
      - Wed, 12 Dec 2018 15:30:34 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey gocloud:dYIofPBut77bXn4ZQxSy1rvcrenMDyAOcZJb72aDbfQ=
      X-Ms-Blob-Cache-Control:
      - ""
      X-Ms-Blob-Content-Disposition:
      - ""
      X-Ms-Blob-Content-Encoding:
      - ""
      X-Ms-Blob-Content-Language:
      - ""
      X-Ms-Blob-Content-Type:
      - text/html; charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Wed, 12 Dec 2018 15:30:33 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?comp=properties&timeout=4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D66046C21E579E"'
      Last-Modified:
      - Wed, 12 Dec 2018 15:30:34 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey gocloud:F9rxPCwHfaEqmL02kHybjlSfdpU8ZpuEdQIirDvm7uo=
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Wed, 12 Dec 2018 15:30:33 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - ""
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"0x8D66046C21E579E"'
      Last-Modified:
      - Wed, 12 Dec 2018 15:30:34 GMT
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Wed, 12 Dec 2018 15:30:34 GMT
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey gocloud:W85Cr5atYZQ4MVDn7yCzNpDLC1JPlnN10pUQEty8Wlo=
      X-Ms-Range:
      - bytes=0-6353
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Wed, 12 Dec 2018 15:30:33 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: GET
  response:
    body: "<!DOCTYPE html><html lang=\"en\">\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\n
      \ <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n  <link href=\"/-/bootstrap.min.css?v=8bec[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey gocloud:LNoxKc+qqFc+hbr0O9gyIPejN98nnquPVvB3PNMyMGA=
      X-Ms-Delete-Snapshots:
      - include
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Wed, 12 Dec 2018 15:30:33 GMT
    url: https://gocloud.blob.core.windows.net/go-cloud-bucket/blob-for-reading?timeout=4
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Delete-Type-Permanent:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
