---
version: 1
interactions:
- request:
    body: "--ca58e5f0a1e2555120c2be8910c8d51f3b093a83cbd9e8f4b6c9edd46606\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-my-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--ca58e5f0a1e2555120c2be8910c8d51f3b093a83cbd9e8f4b6c9edd46606\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nabcdefghijklmnopqurstuvwxyz\r\n--ca58e5f0a1e2555120c2be8910c8d51f3b093a83cbd9e8f4b6c9edd46606--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ca58e5f0a1e2555120c2be8910c8d51f3b093a83cbd9e8f4b6c9edd46606
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-my-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-my-test-bucket/blob-for-reading/1534353356959769",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "go-cloud-my-test-bucket",
       "generation": "1534353356959769",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-08-15T17:15:56.959Z",
       "updated": "2018-08-15T17:15:56.959Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-15T17:15:56.959Z",
       "size": "27",
       "md5Hash": "PflsWr6X8pZ9OAEIcAMKXw==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading?generation=1534353356959769&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-my-test-bucket/blob-for-reading/1534353356959769/project-owners-428919891662",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading/acl/project-owners-428919891662",
         "bucket": "go-cloud-my-test-bucket",
         "object": "blob-for-reading",
         "generation": "1534353356959769",
         "entity": "project-owners-428919891662",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "428919891662",
          "team": "owners"
         },
         "etag": "CJngtNbH79wCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-my-test-bucket/blob-for-reading/1534353356959769/project-editors-428919891662",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading/acl/project-editors-428919891662",
         "bucket": "go-cloud-my-test-bucket",
         "object": "blob-for-reading",
         "generation": "1534353356959769",
         "entity": "project-editors-42[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/key-does-not-exist?alt=json&projection=full
    method: GET
  response:
    body: |
      {
       "error": {
        "errors": [
         {
          "domain": "global",
          "reason": "notFound",
          "message": "No such object: go-cloud-my-test-bucket/key-does-not-exist",
          "debugInfo": "com.google.net.rpc3.RpcException: cloud.bigstore.ResponseCode.ErrorCode::OBJECT_NOT_FOUND: No such object: go-cloud-my-test-bucket/key-does-not-exist\n\tat com.google.cloud.bigstore.common.BigstoreException.toRpc3Exception(BigstoreException.java:135)\n\tat com.google.cloud.bigstore.common.BigstoreException.throwRpc3OnError(BigstoreException.java:303)\n\tat com.google.cloud.bigstore.api.json.handlers.objects.GetObject.handleRequestReceived(GetObject.java:283)\n\tat com.google.cloud.bigstore.api[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534353657000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "375184955034"
      X-Google-Backends:
      - hilaxcba10:4476,/bns/hg/borg/hg/bns/blobstore2/bitpusher/32.scotty,acsfog7:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=zV90W4G2DciQxgP-u5KoBw
      X-Google-Gfe-Request-Trace:
      - acsfog7:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/32.scotty,acsfog7:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/32:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CJqtkNb1ChoCGAYoATpJChJjbG91ZC1zdG9yYWdlLXJvc3kSCGJpZ3N0b3JlGM7N-Oy9DCIVMTA0NTc2NDE0MDQ5NTQxMzEwMjkyMJCWAjDgKzDhKzDjK0qfARKCAXlhMjkuYy5FbHI2QlhwazBYY0dxdl90U1hPM1NxaG1sUTlWMWF4RzlNWkxmOTFFWjhYUDUtWE1HdG1jZEsybnRRNi0ya3hwbklZUHJfMVJFcXBzVFg1MnVaQ25iSzZyUzlFS0RicTRKSDRTTENNS1p4TkFkZG1TRms3TkFTcTFhMFEwBDoWTk9UX0FfUEVSU0lTVEVOVF9UT0tFTg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
