---
version: 1
interactions:
- request:
    body: "--8c4a73fc8816481a76a3abde5f8b4ffcdd897e2fb4cc12ffba975bdd27cb\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--8c4a73fc8816481a76a3abde5f8b4ffcdd897e2fb4cc12ffba975bdd27cb\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nabcdefghijklmnopqurstuvwxyz\r\n--8c4a73fc8816481a76a3abde5f8b4ffcdd897e2fb4cc12ffba975bdd27cb--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=8c4a73fc8816481a76a3abde5f8b4ffcdd897e2fb4cc12ffba975bdd27cb
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-reading/1534524191465663",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "pledged-solved-practically",
       "generation": "1534524191465663",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-08-17T16:43:11.465Z",
       "updated": "2018-08-17T16:43:11.465Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T16:43:11.465Z",
       "size": "27",
       "md5Hash": "PflsWr6X8pZ9OAEIcAMKXw==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-reading?generation=1534524191465663&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534524191465663/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534524191465663",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CL/B04rE9NwCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534524191465663/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534524191465663",
         "entity": "project-edi[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534524491000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hglaxaax10:4458,/bns/hg/borg/hg/bns/blobstore2/bitpusher/46.scotty,acsfou15:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=H_t2W-6FH6OZxgPmuoK4Dw
      X-Google-Gfe-Request-Trace:
      - acsfou15:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/46.scotty,acsfou15:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/46:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzhCVmpDRHFrMVJiOHJkanAwNVRXZXd6NzFyYUtBeGRMSy1uS0dqQnA3b0t2ejVieG9hclI1NFBhNTQ5eXlDX2ZMTXdVZTVJN0ZYY2MtQlZRdXJIOV9oNHl5RFRCVG55TV9EQ3lZanlhZjZtVndmMnJGQU53QW5ZMTl2UXMwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
