---
version: 1
interactions:
- request:
    body: "--5130f46f55ddb5278b9c47543e6386deaade4a1e841d05742ec9ba1ea8e2\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--5130f46f55ddb5278b9c47543e6386deaade4a1e841d05742ec9ba1ea8e2\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nabcdefghijklmnopqurstuvwxyz\r\n--5130f46f55ddb5278b9c47543e6386deaade4a1e841d05742ec9ba1ea8e2--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=5130f46f55ddb5278b9c47543e6386deaade4a1e841d05742ec9ba1ea8e2
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-reading/1534464103001654",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "pledged-solved-practically",
       "generation": "1534464103001654",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-08-17T00:01:43.001Z",
       "updated": "2018-08-17T00:01:43.001Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T00:01:43.001Z",
       "size": "27",
       "md5Hash": "PflsWr6X8pZ9OAEIcAMKXw==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-reading?generation=1534464103001654&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534464103001654/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534464103001654",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CLbcnp7k8twCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534464103001654/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534464103001654",
         "entity": "project-edi[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/pledged-solved-practically/key-does-not-exist
    method: GET
  response:
    body: '<?xml version=''1.0'' encoding=''UTF-8''?><Error><Code>NoSuchKey</Code><Message>The
      specified key does not exist.</Message><Details>No such object: pledged-solved-practically/key-does-not-exist</Details></Error>'
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Google-Backends:
      - /bns/hg/borg/hg/bns/cloud-storage/prod-cloud-storage-frontend.frontend/46,/bns/hg/borg/hg/bns/blobstore2/bitpusher/60.scotty,acsfoi17:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=ZxB2W76-CIaZxgOPlqqIBA
      X-Google-Gfe-Cloud-Project-Number:
      - "59487849370"
      X-Google-Gfe-Request-Trace:
      - acsfoi17:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/60.scotty,acsfoi17:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/60:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - agent_rejected
      X-Guploader-Upload-Result:
      - agent_rejected
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534464403000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hglaxaab3:4058,/bns/hg/borg/hg/bns/blobstore2/bitpusher/17.scotty,acsfot4:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=ZxB2W6KdGIqXxgOo1434CA
      X-Google-Gfe-Request-Trace:
      - acsfot4:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/17.scotty,acsfot4:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/17:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzZCZi02bFp5cks1YzdKeVZzNGZYRlNxZHNPVmNtTXltT28xV0VQNHg1NXRGcEFZTlhITFRQd0oxdGluMHhjTE5iM3RMT05Bdk83THhSank3c3BhOTRsc3J6NF9GaEdwSllhSW56a1hxVGxka2lDVkVZTUktMjRmdy1HdEkwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
