---
version: 1
interactions:
- request:
    body: "--3e64aeffb44e99091831a4b143b9eb17072ad80ed09055158aa2ea0614ac\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--3e64aeffb44e99091831a4b143b9eb17072ad80ed09055158aa2ea0614ac\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nabcdefghijklmnopqurstuvwxyz\r\n--3e64aeffb44e99091831a4b143b9eb17072ad80ed09055158aa2ea0614ac--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=3e64aeffb44e99091831a4b143b9eb17072ad80ed09055158aa2ea0614ac
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-reading/1534524191855888",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "pledged-solved-practically",
       "generation": "1534524191855888",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-08-17T16:43:11.855Z",
       "updated": "2018-08-17T16:43:11.855Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T16:43:11.855Z",
       "size": "27",
       "md5Hash": "PflsWr6X8pZ9OAEIcAMKXw==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-reading?generation=1534524191855888&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534524191855888/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534524191855888",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CJCq64rE9NwCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534524191855888/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534524191855888",
         "entity": "project-edi[...]
- request:
    body: ""
    form: {}
    headers:
      Range:
      - bytes=10-
    url: https://storage.googleapis.com/pledged-solved-practically/blob-for-reading
    method: GET
  response:
    body: klmnopqurstuvwxyz
    headers:
      Content-Range:
      - bytes 10-26/27
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"3df96c5abe97f2967d38010870030a5f"'
      Last-Modified:
      - Fri, 17 Aug 2018 16:43:11 GMT
      X-Goog-Generation:
      - "1534524191855888"
      X-Goog-Hash:
      - crc32c=MoVm6Q==
      - md5=PflsWr6X8pZ9OAEIcAMKXw==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "27"
      X-Google-Backends:
      - /bns/hi/borg/hi/bns/cloud-storage/prod-cloud-storage-frontend.frontend/13,/bns/hg/borg/hg/bns/blobstore2/bitpusher/5.scotty,acsfog19:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=H_t2W93dNuGZxgOb3ZTIBA
      X-Google-Gfe-Cloud-Project-Number:
      - "59487849370"
      X-Google-Gfe-Request-Trace:
      - acsfog19:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/5.scotty,acsfog19:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/5:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-CENTRAL1
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 206 Partial Content
    code: 206
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534524491000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hilaxcam2:4277,/bns/hg/borg/hg/bns/blobstore2/bitpusher/83.scotty,acsfou15:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=IPt2W4-2CeGWxgPD0oWABA
      X-Google-Gfe-Request-Trace:
      - acsfou15:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/83.scotty,acsfou15:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/83:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzhCVmpDRHFrMVJiOHJkanAwNVRXZXd6NzFyYUtBeGRMSy1uS0dqQnA3b0t2ejVieG9hclI1NFBhNTQ5eXlDX2ZMTXdVZTVJN0ZYY2MtQlZRdXJIOV9oNHl5RFRCVG55TV9EQ3lZanlhZjZtVndmMnJGQU53QW5ZMTl2UXMwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
