---
version: 1
interactions:
- request:
    body: "--6d31b8769da3afee194a3c2429cfafb6507b6c5f3276ac515b4ee4695507\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--6d31b8769da3afee194a3c2429cfafb6507b6c5f3276ac515b4ee4695507\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nabcdefghijklmnopqurstuvwxyz\r\n--6d31b8769da3afee194a3c2429cfafb6507b6c5f3276ac515b4ee4695507--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=6d31b8769da3afee194a3c2429cfafb6507b6c5f3276ac515b4ee4695507
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-reading/1534464104714433",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "pledged-solved-practically",
       "generation": "1534464104714433",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-08-17T00:01:44.713Z",
       "updated": "2018-08-17T00:01:44.713Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T00:01:44.713Z",
       "size": "27",
       "md5Hash": "PflsWr6X8pZ9OAEIcAMKXw==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-reading?generation=1534464104714433&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534464104714433/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534464104714433",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CMGhh5/k8twCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534464104714433/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534464104714433",
         "entity": "project-edi[...]
- request:
    body: ""
    form: {}
    headers:
      Range:
      - bytes=10-
    url: https://storage.googleapis.com/pledged-solved-practically/blob-for-reading
    method: GET
  response:
    body: klmnopqurstuvwxyz
    headers:
      Content-Range:
      - bytes 10-26/27
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"3df96c5abe97f2967d38010870030a5f"'
      Last-Modified:
      - Fri, 17 Aug 2018 00:01:44 GMT
      X-Goog-Generation:
      - "1534464104714433"
      X-Goog-Hash:
      - crc32c=MoVm6Q==
      - md5=PflsWr6X8pZ9OAEIcAMKXw==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "27"
      X-Google-Backends:
      - /bns/hh/borg/hh/bns/cloud-storage/prod-cloud-storage-frontend.frontend/71,/bns/hg/borg/hg/bns/blobstore2/bitpusher/21.scotty,acsfoi17:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=aBB2W5qTLoOWxgPk6634Aw
      X-Google-Gfe-Cloud-Project-Number:
      - "59487849370"
      X-Google-Gfe-Request-Trace:
      - acsfoi17:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/21.scotty,acsfoi17:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/21:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-CENTRAL1
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 206 Partial Content
    code: 206
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534464404000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hglaxaba3:4439,/bns/hg/borg/hg/bns/blobstore2/bitpusher/61.scotty,acsfot4:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=aRB2W49-g5nGA-TrraAF
      X-Google-Gfe-Request-Trace:
      - acsfot4:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/61.scotty,acsfot4:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/61:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzZCY2xydzVkYVdxcWV2bUZPMXg4MlZmVXNIOWg5cGZzZXZZejdUb0o4SnpQS3F3eTYtdXQ3RERZVGVsX0k3UVk5QVpXclV5OTRqRWZBRWtJUE5kSlVxY1NTdk9yb0NIREhZUldLU3lTWGNyR3hNLU9Qdm1SVzBsNUtVVUEwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
