---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Range:
      - bytes=10-14
    url: https://storage.googleapis.com/go-cloud-my-test-bucket/blob-for-reading
    method: GET
  response:
    body: klmno
    headers:
      Content-Range:
      - bytes 10-14/27
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"3df96c5abe97f2967d38010870030a5f"'
      Last-Modified:
      - Fri, 10 Aug 2018 19:32:33 GMT
      X-Goog-Generation:
      - "1533929553245384"
      X-Goog-Hash:
      - crc32c=MoVm6Q==
      - md5=PflsWr6X8pZ9OAEIcAMKXw==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "27"
      X-Google-Backends:
      - /bns/hh/borg/hh/bns/cloud-storage/prod-cloud-storage-frontend.frontend/9,/bns/hg/borg/hg/bns/blobstore2/bitpusher/5.scotty,acsfoi18:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=UehtW7L8MqGTxgPv5ZaIAw
      X-Google-Gfe-Cloud-Project-Number:
      - "428919891662"
      X-Google-Gfe-Request-Trace:
      - acsfoi18:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/5.scotty,acsfoi18:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/5:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 206 Partial Content
    code: 206
    duration: ""
