---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestAs_aws_test-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestAs_aws_test-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestAs_aws_test-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>0b480578-3dce-5ad6-9e6a-51b6fd3a2ea1</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 0b480578-3dce-5ad6-9e6a-51b6fd3a2ea1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestAs_aws_test-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestAs_aws_test-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestAs_aws_test-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>d2edb9d6-7857-5edb-a567-ed18b8a310e4</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - d2edb9d6-7857-5edb-a567-ed18b8a310e4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Publish&Message=&MessageAttributes=&TopicArn=nonexistent-topic&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - ""
      MessageAttributes:
      - ""
      TopicArn:
      - nonexistent-topic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <Error>
          <Type>Sender</Type>
          <Code>InvalidParameter</Code>
          <Message>Invalid parameter: TopicArn Reason: An ARN must have at least 6 elements, not 1</Message>
        </Error>
        <RequestId>8ef92d83-4c82-50e6-a79f-794d8c768491</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 8ef92d83-4c82-50e6-a79f-794d8c768491
    status: 400 Bad Request
    code: 400
    duration: ""
