---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>c3f9200d-840a-54da-a1fa-74c344fe00ad</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - c3f9200d-840a-54da-a1fa-74c344fe00ad
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>fe66b613-ec1b-54c6-b414-e2dd2ceeaaf9</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - fe66b613-ec1b-54c6-b414-e2dd2ceeaaf9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Publish&Message=&MessageAttributes=&TopicArn=nonexistent-topic&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - ""
      MessageAttributes:
      - ""
      TopicArn:
      - nonexistent-topic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214837Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <Error>
          <Type>Sender</Type>
          <Code>InvalidParameter</Code>
          <Message>Invalid parameter: TopicArn Reason: An ARN must have at least 6 elements, not 1</Message>
        </Error>
        <RequestId>e6af87a2-fae5-58da-9e3f-d36c3a105cad</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - e6af87a2-fae5-58da-9e3f-d36c3a105cad
    status: 400 Bad Request
    code: 400
    duration: ""
