---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193400Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>00bded9d-2bf1-5ea6-b188-b94fbe19f2c9</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 00bded9d-2bf1-5ea6-b188-b94fbe19f2c9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193400Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>8068ad66-e1c9-5e97-8ddb-f9b474214396</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 8068ad66-e1c9-5e97-8ddb-f9b474214396
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Publish&Message=x&MessageAttributes=&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - x
      MessageAttributes:
      - ""
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193400Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <PublishResult>
          <MessageId>3c9b22ba-9b31-518b-9a10-76680ed9fde4</MessageId>
        </PublishResult>
        <ResponseMetadata>
          <RequestId>eddf0c7d-5ded-53ee-abee-58afc8059f81</RequestId>
        </ResponseMetadata>
      </PublishResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - eddf0c7d-5ded-53ee-abee-58afc8059f81
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestAs_verify_As_returns_false_when_passed_nil-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193400Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>cc10f3ea-c296-4a8d-8544-2d36f1221c94</MessageId><ReceiptHandle>AQEBDBm4bCRdVgbg6On4Dz/bcS9oMP4mh6tmJuskLprfTggQDIrdQSDEKHhi0N4GkJIVY35bE/FcKvAsMnx0GQKqsgTbtGf7+yIqrwx8eLcpmKOaiiYnUPlajmx6yAKkd7pX71AhYHe2eiTXiG2nQIByc2hKyC2CMe36nTv632hoxLcE+0nHj+KUlekid9x9YwseBcluUW9aPWmyQPOpdFORYygOtBdB9pPuQtGOQBbTz7JNLJNC4S6EX/M5H13MmQRAHjV0hVnN+Hv4Q07OQwT8OuBeEqArEGfOjeQ1K984U7lv+RSS0xQU3zA7oOcpJpb/I0wB3BNvr4Kdj0OqMZ/LIBpq8a56251Qpd2jFBjt6VoHmHGsJfhocjkk2Av3XZaNBub6Um2BOJoS3vU+jBqX4aJ14ljvHN+a8aHi/TxNip2We+dwedoWtaBq+LpS+Hf2L/COoMM8pBhGbZDm4E/vXjBWecMie8fWmVsF5GAK98g=</ReceiptHandle><MD5OfBody>06680bd182853e4c0326b44383c49eea</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;1fd8020d-f253-541f-9624-56c32839544d&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:221420415498:TestConformance_TestAs_verify_As_returns_false_when_passed_nil-topic-1&quot;,
        &quot;Message&quot; : &quot;x&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-01T23:37:14.688Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;WqzuoK[...]
- request:
    body: Action=Publish&Message=&MessageAttributes=&TopicArn=nonexistent-topic&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - ""
      MessageAttributes:
      - ""
      TopicArn:
      - nonexistent-topic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193400Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <Error>
          <Type>Sender</Type>
          <Code>InvalidParameter</Code>
          <Message>Invalid parameter: TopicArn Reason: An ARN must have at least 6 elements, not 1</Message>
        </Error>
        <RequestId>304bb5a5-69cd-5e89-86d7-e177fc25b2e6</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 304bb5a5-69cd-5e89-86d7-e177fc25b2e6
    status: 400 Bad Request
    code: 400
    duration: ""
