---
version: 1
interactions:
- request:
    body: "--b4c8c509a133082c0bb78de95a115d19f02e3731f5ff077bf2640a3b6e40\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-signing\"}\n\r\n--b4c8c509a133082c0bb78de95a115d19f02e3731f5ff077bf2640a3b6e40\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--b4c8c509a133082c0bb78de95a115d19f02e3731f5ff077bf2640a3b6e40--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=b4c8c509a133082c0bb78de95a115d19f02e3731f5ff077bf2640a3b6e40
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-signing/1545086980493019","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing","name":"blob-for-signing","bucket":"go-cloud-blob-test-bucket","generation":"1545086980493019","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-12-17T22:49:40.492Z","updated":"2018-12-17T22:49:40.492Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-12-17T22:49:40.492Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?generation=1545086980493019&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1545086980493019/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1545086980493019","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CNud+sT5p98CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1545086980493019/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1545086980493019","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CNud+sT5p98CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1545086980493019/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1545086980493019","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CNud+sT5p98CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1545086980493019/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1545086980493019","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CNud+sT5p98CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"CNud+sT5p98CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CNud+sT5p98CEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-signing?Expires=1545090580&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=c6mgRCOcyyLONoMKqTXkJpjmGpsbscIRbP7jfMXDKw%2F3SGBtfikNYVzBczKxniwwW9xXEhjVxEDsSGPYih6i1urdAY1H%2BEivpXxrruyXPT8PYMuf4VM2QWl9H9oZ0HBK9in68drGaFCy7w6PWssbsr98uO90u4i2Pj4W%2BzPp%2BS1Kve06V3p%2FcZSK%2FL3EOObsEDIFNzFjXnmtJmZDgK143XBRxK53vht4b8h5jQ1EeJYASuoJ1hnyIU8EwdS89AGyDCxlwTaYuy%2BJRB5ypSC6lgXnbTGO4knpNwx%2FC4Dqf8le2Rbu%2FNqCLCs4RKCLzefZU9Hryi9v1eEh2ZFIRHZZow%3D%3D
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Mon, 17 Dec 2018 22:49:40 GMT
      X-Goog-Generation:
      - "1545086980493019"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
