---
version: 1
interactions:
- request:
    body: "--5bb837528a3b0077eb39cce8fae0f22e75f6d6157be85f4a207c9d6b6eb9\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-signing\"}\n\r\n--5bb837528a3b0077eb39cce8fae0f22e75f6d6157be85f4a207c9d6b6eb9\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--5bb837528a3b0077eb39cce8fae0f22e75f6d6157be85f4a207c9d6b6eb9--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=5bb837528a3b0077eb39cce8fae0f22e75f6d6157be85f4a207c9d6b6eb9
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-signing/1547589477154042","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing","name":"blob-for-signing","bucket":"go-cloud-blob-test-bucket","generation":"1547589477154042","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-01-15T21:57:57.153Z","updated":"2019-01-15T21:57:57.153Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-01-15T21:57:57.153Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?generation=1547589477154042&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1547589477154042/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1547589477154042","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CPr5rIjk8N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1547589477154042/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1547589477154042","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CPr5rIjk8N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1547589477154042/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1547589477154042","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CPr5rIjk8N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1547589477154042/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1547589477154042","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CPr5rIjk8N8CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"CPr5rIjk8N8CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CPr5rIjk8N8CEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-signing?Expires=1547593076&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=PXhwJ86tA%2B5VlfK91oRNswxHlgZyQHxkajuT0Wfts2EAcPQA1WWJWKj02l%2FAlCEUrdS%2BmCIEsaafMC1CDnbDR3ZUvfJoiTHiq8rTITmV5vhEB541yklRPPONuOHUcrnmZjqQ%2FLj%2BazXS%2B4CsH5vJ0cI%2Ftz%2BI0AAZ2aaARg%2B8A%2Bbq6Sjo7dwSn6uy9moIP84Vw5jkERf1VW9T5dEYwrBySpsEWK5Kn%2BWiBvByGTZ6%2B32e1%2FWP6D%2BtK%2BOJfx5Fi9j0zAKHPoN1Qx5hdySnfzE%2BZyTzHY6t0W8KDSZPZ1i%2Fohnm88tDnVmFRCnDjCstJM%2FdS%2Bb1o2HUHwsxuiP3TIVdnw%3D%3D
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Tue, 15 Jan 2019 21:57:57 GMT
      X-Goog-Generation:
      - "1547589477154042"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
