---
version: 1
interactions:
- request:
    body: "--5fe06335c4ca7fc266894f6fefa4324ead19a1c0b0ef70a8f7a4ca75005a\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"name\":\"blob-for-md5-aaa\"}\n\r\n--5fe06335c4ca7fc266894f6fefa4324ead19a1c0b0ef70a8f7a4ca75005a\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--5fe06335c4ca7fc266894f6fefa4324ead19a1c0b0ef70a8f7a4ca75005a--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=5fe06335c4ca7fc266894f6fefa4324ead19a1c0b0ef70a8f7a4ca75005a
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1555606692800931","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa","name":"blob-for-md5-aaa","bucket":"go-cloud-blob-test-bucket","generation":"1555606692800931","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:12.800Z","updated":"2019-04-18T16:58:12.800Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:12.800Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa?generation=1555606692800931&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1555606692800931/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1555606692800931","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKPT1sKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1555606692800931/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1555606692800931","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CKPT1sKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1555606692800931/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1555606692800931","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CKPT1sKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1555606692800931/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1555606692800931","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CKPT1sKO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CKPT1sKO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CKPT1sKO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1555606692800931","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa","name":"blob-for-md5-aaa","bucket":"go-cloud-blob-test-bucket","generation":"1555606[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-md5-&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1555606692800931","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa","name":"blob-for-md5-aaa","bucket":"go-cloud-blob-test-bucket","generation":"1555606692800931","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:12.800Z","updated":"2019-04-18T16:58:12.800Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-bbb?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
[...]
