---
version: 1
interactions:
- request:
    body: "--dacf7a2cf66459396f9b098f09d0b4dab543cdd97812b153e34a01f04a87\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-signing\"}\n\r\n--dacf7a2cf66459396f9b098f09d0b4dab543cdd97812b153e34a01f04a87\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--dacf7a2cf66459396f9b098f09d0b4dab543cdd97812b153e34a01f04a87--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=dacf7a2cf66459396f9b098f09d0b4dab543cdd97812b153e34a01f04a87
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-signing/1539301379674004",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing",
       "name": "blob-for-signing",
       "bucket": "go-cloud-blob-test-bucket",
       "generation": "1539301379674004",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-10-11T23:42:59.673Z",
       "updated": "2018-10-11T23:42:59.673Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-10-11T23:42:59.673Z",
       "size": "11",
       "md5Hash": "XrY7u+Ae7tCTyyK7j1rNww==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?generation=1539301379674004&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-signing/1539301379674004/project-owners-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-owners-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-signing",
         "generation": "1539301379674004",
         "entity": "project-owners-892942638129",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "892942638129",
          "team": "owners"
         },
         "etag": "CJSfwL/I/90CEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-signing/1539301379674004/project-editors-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-editors-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-signing",
         "generation": "1539301379674004",
         "entity": "project-edit[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-signing?Expires=1539304979&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=ECYyisL8idumyOqUvFL9q3G9wNn6bd4bWYK4TGTpvWpdTdHNA0OR2ZtJTvndsPkICYeRjN%2BqLpqu5omN8jEWchjOjTC7F%2FTHWfOQw2MaZnZdAaqoATkZCO9c8DEjPLxjyY5Yyk5iiRPvqxmR4qjKtD7v4yAFmeZW8W9iSxCNdzM0BT%2BqeAD8WBvOxnpVZDdnBB0ewJfzT%2FdtFuHf6XwBcVoo9lkUNGNRxVjkH%2Fo3a5%2FIQGjlTzKgd3kbE0Mf9YSeEMRZRCAhQNifelH%2FQ04Ro6zRaSAN750E7KMquF03qNpbzQ8XHcPOqHKkuZeyp%2F7ixy24T1XnR%2B5vZAjQJGeWmw%3D%3D
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Thu, 11 Oct 2018 23:42:59 GMT
      X-Goog-Generation:
      - "1539301379674004"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Google-Backends:
      - /bns/hg/borg/hg/bns/cloud-storage/prod-cloud-storage-frontend.frontend/8,/bns/hg/borg/hg/bns/blobstore2/bitpusher/51.scotty,acsfoi20-v6:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=A-C_W8nnL6uYxgOv1JOACw
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfoi20-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/51.scotty,acsfoi20-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/51:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1539301679000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hhlaxbaq2:4110,/bns/hh/borg/hh/bns/blobstore2/bitpusher/16.scotty,acsfoh1-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=A-C_W7eEN6u2xgOUn6LAAQ
      X-Google-Gfe-Request-Trace:
      - acsfoh1-v6:443,/bns/hh/borg/hh/bns/blobstore2/bitpusher/16.scotty,acsfoh1-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hh/borg/hh/bns/blobstore2/bitpusher/16:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5Lkdsd3pCbGNNUW5wUjBIb1h4NGw1MTZOdGRLVHpaSHV2N2ZycFk5d3JXV3dNOUh6djdvYVJmcVpmWjIxTEdNUE42bkhWV193ZEVXakJNd0Myam9qYjZ5Vk90QTdxXzl2RzhYbnFMUXhHSHA5Sl9DaDBJQkQ5bndTdEMxM25VZzAEOg0xL1IyYlZDRmpHNUh-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
