---
version: 1
interactions:
- request:
    body: "--886324b07c074fcf5a425f4b45b4c3bcd1e5466489ee224e9d5bce51abd5\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-md5-aaa\"}\n\r\n--886324b07c074fcf5a425f4b45b4c3bcd1e5466489ee224e9d5bce51abd5\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--886324b07c074fcf5a425f4b45b4c3bcd1e5466489ee224e9d5bce51abd5--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=886324b07c074fcf5a425f4b45b4c3bcd1e5466489ee224e9d5bce51abd5
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1547589473484263","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa","name":"blob-for-md5-aaa","bucket":"go-cloud-blob-test-bucket","generation":"1547589473484263","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-01-15T21:57:53.483Z","updated":"2019-01-15T21:57:53.483Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-01-15T21:57:53.483Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa?generation=1547589473484263&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1547589473484263/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1547589473484263","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COf7zIbk8N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1547589473484263/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1547589473484263","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COf7zIbk8N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1547589473484263/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1547589473484263","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COf7zIbk8N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1547589473484263/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-md5-aaa","generation":"1547589473484263","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"COf7zIbk8N8CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"COf7zIbk8N8CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COf7zIbk8N8CEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1547589473484263","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa","name":"blob-for-md5-aaa","bucket":"go-cloud-blob-test-bucket","generation":"1547589[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-md5-&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-md5-aaa/1547589473484263","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-aaa","name":"blob-for-md5-aaa","bucket":"go-cloud-blob-test-bucket","generation":"1547589473484263","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-01-15T21:57:53.483Z","updated":"2019-01-15T21:57:53.483Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-01-15T21:[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-md5-bbb?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
[...]
