---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=list-weirdkeys-&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/list-weirdkeys-\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f/1549671006771925","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/list-weirdkeys-%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F","name":"list-weirdkeys-\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f","bucket":"go-cloud-blob-test-bucket","generation":"1549671006771925","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-09T00:10:06.771Z","updated":"2019-02-09T00:10:06.771Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-09T00:10:06.771Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/list-weirdkeys-%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F?generation=1549671006771925&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/list-weirdkeys-\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f/1549671006771925/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/list-weirdkeys-%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"list-weirdkeys-\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f","generation":"1549671006771925","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CNW1gq+ureACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/list-weirdkeys-\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t__0xa__\u000b\f__0xd__\u000e\u000f/1549671006771925/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/list-weirdkeys-%00%01%02%03%04%05%06%07%08%09__0xa__%0B%0C__0xd__%0E%0F/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"list-weirdkeys-\u0000\u0001\[...]
[...]
