---
version: 1
interactions:
- request:
    body: "--df649e68593347a1255e6aabc0302e7cccff6c28fac4ce5f7708dcdefb9d\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-signing\"}\n\r\n--df649e68593347a1255e6aabc0302e7cccff6c28fac4ce5f7708dcdefb9d\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--df649e68593347a1255e6aabc0302e7cccff6c28fac4ce5f7708dcdefb9d--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=df649e68593347a1255e6aabc0302e7cccff6c28fac4ce5f7708dcdefb9d
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-signing/1540594599287783","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing","name":"blob-for-signing","bucket":"go-cloud-blob-test-bucket","generation":"1540594599287783","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-26T22:56:39.287Z","updated":"2018-10-26T22:56:39.287Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-26T22:56:39.287Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?generation=1540594599287783&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1540594599287783/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1540594599287783","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COe31Y6apd4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1540594599287783/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1540594599287783","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COe31Y6apd4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1540594599287783/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1540594599287783","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COe31Y6apd4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-signing/1540594599287783/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-signing","generation":"1540594599287783","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"COe31Y6apd4CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"COe31Y6apd4CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COe31Y6apd4CEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-signing?Expires=1540598199&GoogleAccessId=storage-viewer%40go-cloud-test-216917.iam.gserviceaccount.com&Signature=g1BmrJqygHVgjE65npndNz3%2FA%2FVl%2BdaKZVcasTAyW157tEcgGcu01YMjrYQCCFkiG7MA4F%2BMmrR8SO3CF4HzUeni2NAo4axYpegXXgSCMi3MIvqSOCtgqlcTlYxl8j3%2FCB9t7D5UNpC3r%2BEvAQuP46YqHoPJdEy81FsRkWofhCOtihcq%2BTeYsyBXWYeD9m4QSlHmnCOLV8bJM7wEho8r6JTzXlbQuOkL65AjST2sh2vDKTOMy2ZG382AdvCleQSHlQl6qpJu3sia2rvM%2BqGMk%2F%2BfpnQ%2B6b3M76x1BxRn1DA%2FsNDcyZoy1fEpeyL22xVWNQnEvOsyPlhZoppoQlcvnA%3D%3D
    method: GET
  response:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"5eb63bbbe01eeed093cb22bb8f5acdc3"'
      Last-Modified:
      - Fri, 26 Oct 2018 22:56:39 GMT
      X-Goog-Generation:
      - "1540594599287783"
      X-Goog-Hash:
      - crc32c=yZRlqg==
      - md5=XrY7u+Ae7tCTyyK7j1rNww==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "11"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-signing?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
