---
version: 1
interactions:
- request:
    body: '{"Name":"test-config-variable","Overwrite":true,"Type":"String","Value":"not-json"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180822T232836Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 5b0236f6-f84a-44c3-9ff5-e796eb79bf90
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-config-variable"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180822T232836Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-config-variable","LastModifiedDate":1.534980516248E9,"Name":"test-config-variable","Type":"String","Value":"not-json","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 2c80907a-28ed-4c03-9259-985fd0df03f7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-config-variable"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180822T232836Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.534980516248E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-config-variable","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - c19e74dc-d1d7-4f95-be1f-e36bff3dee12
    status: 200 OK
    code: 200
    duration: ""
[...]
