---
version: 1
interactions:
- request:
    body: '{"Name":"test-config-variable","Overwrite":true,"Type":"String","Value":"hello
      world"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190109T204915Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - eacd3a3c-705e-4d2e-b76f-104c41f9862c
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-config-variable"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190109T204916Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-config-variable","LastModifiedDate":1.547066956386E9,"Name":"test-config-variable","Type":"String","Value":"hello
      world","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 504e8da6-e45c-4bac-97d8-3238a3aaa202
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-config-variable"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20190109T204916Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.547066956386E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-config-variable","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 9409be25-ce2c-4e3f-af52-e5fe28cd9b94
    status: 200 OK
    code: 200
    duration: ""
[...]
