---
version: 1
interactions:
- request:
    body: "--d38b5aefda8bbccc3b4296b02fff0e23af05cb345a03f5092847e4def59c\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--d38b5aefda8bbccc3b4296b02fff0e23af05cb345a03f5092847e4def59c\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nThis is a text file.\r\n--d38b5aefda8bbccc3b4296b02fff0e23af05cb345a03f5092847e4def59c--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=d38b5aefda8bbccc3b4296b02fff0e23af05cb345a03f5092847e4def59c
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-reading/1537380232486186",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "go-cloud-blob-test-bucket",
       "generation": "1537380232486186",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-09-19T18:03:52.485Z",
       "updated": "2018-09-19T18:03:52.485Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-09-19T18:03:52.485Z",
       "size": "20",
       "md5Hash": "PzMJMSzDJkoTibLSY97OjQ==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading?generation=1537380232486186&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-reading/1537380232486186/project-owners-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading/acl/project-owners-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-reading",
         "generation": "1537380232486186",
         "entity": "project-owners-892942638129",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "892942638129",
          "team": "owners"
         },
         "etag": "CKq6kdXTx90CEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-reading/1537380232486186/project-editors-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading/acl/project-editors-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-reading",
         "generation": "1537380232486186",
         "entity": "project-edit[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-reading
    method: GET
  response:
    body: This is a text file.
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"3f3309312cc3264a1389b2d263dece8d"'
      Last-Modified:
      - Wed, 19 Sep 2018 18:03:52 GMT
      X-Goog-Generation:
      - "1537380232486186"
      X-Goog-Hash:
      - crc32c=nHMGUw==
      - md5=PzMJMSzDJkoTibLSY97OjQ==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "20"
      X-Google-Backends:
      - /bns/hh/borg/hh/bns/cloud-storage/prod-cloud-storage-frontend.frontend/63,/bns/hh/borg/hh/bns/blobstore2/bitpusher/27.scotty,acsfob19:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=iI-iW73tHsS1xgPQg4r4Dw
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfob19:443,/bns/hh/borg/hh/bns/blobstore2/bitpusher/27.scotty,acsfob19:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hh/borg/hh/bns/blobstore2/bitpusher/27:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1537380532000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hilaxcax2:4383,/bns/hg/borg/hg/bns/blobstore2/bitpusher/61.scotty,acsfoi11:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=iI-iW4vmI4SXxgPG0r6YBA
      X-Google-Gfe-Request-Trace:
      - acsfoi11:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/61.scotty,acsfoi11:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/61:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5Lkdsd2RCcnlCRXdmbUNSSElQZ2l1eFdrYTBEX3NQZkxDcDRqLU41cHhpbHdPSHJ4OWlLdTM5c0xBdF9uaGdNaXBUbDRjbUVGbWoxRkx2NUtBNmI4SjN1SXk1b2IteXJVZ0RndW9jeEg1ZklJRWozQTF3TDR6cWxsRnNIZ1ppZzAEOg0xL2pEbkFzZkxEUV9-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
