---
version: 1
interactions:
- request:
    body: "--5c6a74b2dc7e7b5ac31e3ce727b6806c2b74772a99934b0d0e34c4fbe96d\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--5c6a74b2dc7e7b5ac31e3ce727b6806c2b74772a99934b0d0e34c4fbe96d\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nThis is a text file.\r\n--5c6a74b2dc7e7b5ac31e3ce727b6806c2b74772a99934b0d0e34c4fbe96d--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=5c6a74b2dc7e7b5ac31e3ce727b6806c2b74772a99934b0d0e34c4fbe96d
    url: https://www.googleapis.com/upload/storage/v1/b/pledged-solved-practically/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "pledged-solved-practically/blob-for-reading/1534529124288119",
       "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "pledged-solved-practically",
       "generation": "1534529124288119",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-08-17T18:05:24.287Z",
       "updated": "2018-08-17T18:05:24.287Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-17T18:05:24.287Z",
       "size": "20",
       "md5Hash": "PzMJMSzDJkoTibLSY97OjQ==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/pledged-solved-practically/o/blob-for-reading?generation=1534529124288119&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534529124288119/project-owners-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-owners-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534529124288119",
         "entity": "project-owners-59487849370",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "59487849370",
          "team": "owners"
         },
         "etag": "CPeM57rW9NwCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "pledged-solved-practically/blob-for-reading/1534529124288119/project-editors-59487849370",
         "selfLink": "https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading/acl/project-editors-59487849370",
         "bucket": "pledged-solved-practically",
         "object": "blob-for-reading",
         "generation": "1534529124288119",
         "entity": "project-edi[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/pledged-solved-practically/blob-for-reading
    method: GET
  response:
    body: This is a text file.
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"3f3309312cc3264a1389b2d263dece8d"'
      Last-Modified:
      - Fri, 17 Aug 2018 18:05:24 GMT
      X-Goog-Generation:
      - "1534529124288119"
      X-Goog-Hash:
      - crc32c=nHMGUw==
      - md5=PzMJMSzDJkoTibLSY97OjQ==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "20"
      X-Google-Backends:
      - /bns/hi/borg/hi/bns/cloud-storage/prod-cloud-storage-frontend.frontend/20,/bns/hi/borg/hi/bns/blobstore2/bitpusher/0.scotty,acsfoc17:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=ZA53W6OpFOqnxgPjlpS4CA
      X-Google-Gfe-Cloud-Project-Number:
      - "59487849370"
      X-Google-Gfe-Request-Trace:
      - acsfoc17:443,/bns/hi/borg/hi/bns/blobstore2/bitpusher/0.scotty,acsfoc17:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hi/borg/hi/bns/blobstore2/bitpusher/0:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-CENTRAL1
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534529424000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hhlaxbbj5:4097,/bns/hh/borg/hh/bns/blobstore2/bitpusher/13.scotty,acsfob5:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=ZA53W7mxJYu3xgOumrz4AQ
      X-Google-Gfe-Request-Trace:
      - acsfob5:443,/bns/hh/borg/hh/bns/blobstore2/bitpusher/13.scotty,acsfob5:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hh/borg/hh/bns/blobstore2/bitpusher/13:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzhCWThxMVJRQnNzY3E2end4Vng5SjNXUkVzOEFVOTZ4RTRlWngweWNNWkExbVRXeEVaMmNWcGF3blA0bndNSGtlbENhOTh2bVNFYjdjdEhKNXlQOUtjV1FwTmRlN2hSSlBMdnRWcmN0VDJVdXh5bmFFSzhTWUVMWXBnVEEwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
