---
version: 1
interactions:
- request:
    body: "--fa6a1f4c8d89a9e9a0f352195c2ff8a76de0ce643b6a8ddd13fae82df47b\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--fa6a1f4c8d89a9e9a0f352195c2ff8a76de0ce643b6a8ddd13fae82df47b\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nexisting content\r\n--fa6a1f4c8d89a9e9a0f352195c2ff8a76de0ce643b6a8ddd13fae82df47b--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=fa6a1f4c8d89a9e9a0f352195c2ff8a76de0ce643b6a8ddd13fae82df47b
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-reading/1546897707992361","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading","name":"blob-for-reading","bucket":"go-cloud-blob-test-bucket","generation":"1546897707992361","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-01-07T21:48:27.992Z","updated":"2019-01-07T21:48:27.992Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-01-07T21:48:27.992Z","size":"16","md5Hash":"dH9B/ScP7BuCvgMMwc1IAQ==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading?generation=1546897707992361&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-reading/1546897707992361/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-reading","generation":"1546897707992361","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKmKjoPT3N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-reading/1546897707992361/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-reading","generation":"1546897707992361","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CKmKjoPT3N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-reading/1546897707992361/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-reading","generation":"1546897707992361","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CKmKjoPT3N8CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-reading/1546897707992361/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-reading","generation":"1546897707992361","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CKmKjoPT3N8CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"w/r/XA==","etag":"CKmKjoPT3N8CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CKmKjoPT3N8CEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://storage.googleapis.com/go-cloud-blob-test-bucket/blob-for-reading
    method: GET
  response:
    body: existing content
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"747f41fd270fec1b82be030cc1cd4801"'
      Last-Modified:
      - Mon, 07 Jan 2019 21:48:27 GMT
      X-Goog-Generation:
      - "1546897707992361"
      X-Goog-Hash:
      - crc32c=w/r/XA==
      - md5=dH9B/ScP7BuCvgMMwc1IAQ==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "16"
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-reading?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
