---
version: 1
interactions:
- request:
    body: "--23d6957475d02d8d128ea4984ceaf6d58a779081327c9308669b49df3dc5\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-my-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"blob-for-reading\"}\n\r\n--23d6957475d02d8d128ea4984ceaf6d58a779081327c9308669b49df3dc5\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\n\r\n--23d6957475d02d8d128ea4984ceaf6d58a779081327c9308669b49df3dc5--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=23d6957475d02d8d128ea4984ceaf6d58a779081327c9308669b49df3dc5
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-my-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-my-test-bucket/blob-for-reading/1533929554501658",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading",
       "name": "blob-for-reading",
       "bucket": "go-cloud-my-test-bucket",
       "generation": "1533929554501658",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-08-10T19:32:34.501Z",
       "updated": "2018-08-10T19:32:34.501Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-08-10T19:32:34.501Z",
       "size": "0",
       "md5Hash": "1B2M2Y8AsgTpgAmY7PhCfg==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading?generation=1533929554501658&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-my-test-bucket/blob-for-reading/1533929554501658/project-owners-428919891662",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading/acl/project-owners-428919891662",
         "bucket": "go-cloud-my-test-bucket",
         "object": "blob-for-reading",
         "generation": "1533929554501658",
         "entity": "project-owners-428919891662",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "428919891662",
          "team": "owners"
         },
         "etag": "CJrA0/Gc49wCEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-my-test-bucket/blob-for-reading/1533929554501658/project-editors-428919891662",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading/acl/project-editors-428919891662",
         "bucket": "go-cloud-my-test-bucket",
         "object": "blob-for-reading",
         "generation": "1533929554501658",
         "entity": "project-editors-42[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/go-cloud-my-test-bucket/blob-for-reading
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      Last-Modified:
      - Fri, 10 Aug 2018 19:32:34 GMT
      X-Goog-Generation:
      - "1533929554501658"
      X-Goog-Hash:
      - crc32c=AAAAAA==
      - md5=1B2M2Y8AsgTpgAmY7PhCfg==
      X-Goog-Metageneration:
      - "1"
      X-Goog-Storage-Class:
      - REGIONAL
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - "0"
      X-Google-Backends:
      - /bns/hi/borg/hi/bns/cloud-storage/prod-cloud-storage-frontend.frontend/56,/bns/hg/borg/hg/bns/blobstore2/bitpusher/31.scotty,acsfoi18:443
      X-Google-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=UuhtW_vZH4WZxgOH1Ic4
      X-Google-Gfe-Cloud-Project-Number:
      - "428919891662"
      X-Google-Gfe-Request-Trace:
      - acsfoi18:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/31.scotty,acsfoi18:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-cloud-storage
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/31:caf3
      X-Google-Service:
      - bitpusher-cloud-storage
      X-Google-Shellfish-Status:
      - CA0gBEBJ
      X-Google-Storage-Location:
      - US-WEST2
      X-Guploader-Customer:
      - cloud-storage
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-my-test-bucket/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1533929854000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "375184955034"
      X-Google-Backends:
      - hhlaxbaf1:4001,/bns/hg/borg/hg/bns/blobstore2/bitpusher/80.scotty,acsfoi7:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=UuhtW6HoJOKXxgPry774DA
      X-Google-Gfe-Request-Trace:
      - acsfoi7:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/80.scotty,acsfoi7:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/80:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CJqtkNb1ChoCGAYoATpJChJjbG91ZC1zdG9yYWdlLXJvc3kSCGJpZ3N0b3JlGM7N-Oy9DCIVMTA0NTc2NDE0MDQ5NTQxMzEwMjkyMJCWAjDgKzDhKzDjK0qfARKCAXlhMjkuYy5FbHIxQldoN05aeVFDdjZxZHg3aFAwVkRxb2pSVEpQY0QxcDEydzRKXzQyVTl5LWhpa2xCU3RWaE00X1FnQUxrRi1Pd2lqSmpBOWtPZzBDMlpMS0s3WlpPcm5DVTEwTU5pSU5lMDEzUlgzemRBQm4tRDNxZUl5azZadUkwBDoWTk9UX0FfUEVSU0lTVEVOVF9UT0tFTg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
