---
version: 1
interactions:
- request:
    body: "--3a6abbe33f79432450f4824046ef1f969556a8970a2caa4290fcf6d436e3\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"pledged-solved-practically\",\"contentType\":\"application/json\",\"name\":\"blob-for-reading\"}\n\r\n--3a6abbe33f79432450f4824046ef1f969556a8970a2caa4290fcf6d436e3\r\nContent-Type:
      application/json\r\n\r\n<!DOCTYPE html><html lang=\"en\">\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\n
      \ <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n  <link href=\"/-/bootstrap.min.css?v=8bec1bba3e23ecba22cffb197a2d440af410b15d\"
      rel=\"stylesheet\">\n  <link href=\"/-/site.css?v=7d81f4104c89dbe376345f6bfe3e62b4e40d3d06\"
      rel=\"stylesheet\">\n  <title>GoDoc</title>\n</head>\n<body>\n<nav class=\"navbar
      navbar-default\" role=\"navigation\">\n  <div class=\"container\">\n  <div class=\"navbar-header\">\n
      \   <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\"
      data-target=\".navbar-collapse\">\n      <span class=\"sr-only\">Toggle navigation</span>\n
      \     <span class=\"icon-bar\"></span>\n      <span class=\"icon-bar\"></span>\n
      \     <span class=\"icon-bar\"></span>\n    </button>\n    <a class=\"navbar-brand\"
      href=\"/\"><strong>GoDoc</strong></a>\n  </div>\n  <div class=\"collapse navbar-collapse\">\n
      \   <ul class=\"nav navbar-nav\">\n        <li class=\"active\"><a href=\"/\">Home</a></li>\n
      \       <li><a href=\"/-/about\">About</a></li>\n    </ul>\n    <form class=\"navbar-nav
      navbar-form navbar-right\" id=\"x-search\" action=\"/\" role=\"search\"><input
      class=\"form-control\" id=\"x-search-query\" type=\"text\" name=\"q\" placeholder=\"Search\"></form>\n
      \ </div>\n</div>\n</nav>\n<div class=\"container\">\n  \n<div class=\"jumbotron\">\n
      \   <h2>Search for Go Packages</h2>\n    \n  <form>\n    <div class=\"input-group\">\n
      \     <input class=\"form-control\" name=\"q\" autofocus=\"autofocus\" value=\"\"
      placeholder=\"Search for package by import path or keyword.\" type=\"text\">\n
      \     <span class=\"input-group-btn\">\n        <button class=\"btn btn-default\"
      type=\"submit\">Go!</button>\n      </span>\n    </div>\n  </form>\n\n</div>\n\n<p>GoDoc
      hosts documentation for <a href=\"http://golang.org/\">Go</a> packages\non Bitbucket,
      GitHub, Google Project Hosting and Launchpad.  Read the <a\n  href=\"/-/about\">About
      Page</a> for information about adding packages to GoDoc\nand more.\n\n<div class=\"row\">\n
      \ <div class=\"col-sm-6\">\n    \n      <h4>Popular Packages</h4>\n      <ul
      class=\"list-unstyled\">\n        <li><a href=\"/github.com/aws/aws-sdk-go/aws\">github.com/aws/aws-sdk-go/aws</a><li><a
      href=\"/github.com/dgrijalva/jwt-go\">github.com/dgrijalva/jwt-go</a><li><a
      href=\"/github.com/gin-gonic/gin\">github.com/gin-gonic/gin</a><li><a href=\"/github.com/go-redis/redis\">github.com/go-redis/redis</a><li><a
      href=\"/github.com/go-sql-driver/mysql\">github.com/go-sql-driver/mysql</a><li><a
      href=\"/github.c[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://storage.googleapis.com/pledged-solved-practically/blob-for-reading
    method: GET
  response:
    body: "<!DOCTYPE html><html lang=\"en\">\n<head profile=\"http://a9.com/-/spec/opensearch/1.1/\">\n
      \ <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n  <link href=\"/-/bootstrap.min.css?v=8bec1bba3e23ecba22cffb197a2d440af410b15d\"
      rel=\"stylesheet\">\n  <link href=\"/-/site.css?v=7d81f4104c89dbe376345f6bfe3e62b4e40d3d06\"
      rel=\"stylesheet\">\n  <title>GoDoc</title>\n</head>\n<body>\n<nav class=\"navbar
      nav[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/pledged-solved-practically/o/blob-for-reading?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1534524506000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "1039017688798"
      X-Google-Backends:
      - hilaxcbk10:4134,/bns/hg/borg/hg/bns/blobstore2/bitpusher/7.scotty,acsfou15:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=Lvt2W_nnMOKYxgOzirJo
      X-Google-Gfe-Request-Trace:
      - acsfou15:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/7.scotty,acsfou15:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/7:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CN79ntKeHhoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKmAEShAF5YTI5LkdsMzhCV0QyMFhpcGRjMGNQYUJjZkhwQU4zS2h1eTF5ekk1T1ZIOS1KdUpSY2ZuazFMYlNQUjBRbElOMnhBcEZ1Rm1zaFUtNDdlNEM0U2JZaVJNa2VtVXRfQzRZT3EzYzhNcGt0bVdhRnRXMzhOSGhnRjAtZEpLZDgxeEhrVHMwBDoNMS84TzV1MVo3ODNhfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
