---
version: 1
interactions:
- request:
    body: "\nContent-Type: application/json\r\n\r\n{\"bucket\":\"go-cloud-test-obj-naming\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"文件名\"}\n\nContent-Type: text/plain; charset=utf-8\r\n\r\nfoo\r\n\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=ee30428dd489bebf190f116fe8b3106f5e9b1d4d5313102db6667dc9c280
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-test-obj-naming/o?alt=json
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-test-obj-naming/文件名/1531867284126001",
       "name": "文件名",
       "bucket": "go-cloud-test-obj-naming",
       "metageneration": "1",
       "contentType": "text/plain; charset=utf-8",
       "timeCreated": "2018-07-17T22:41:24.125Z",
       "updated": "2018-07-17T22:41:24.125Z",
       "storageClass": "STANDARD",
       "timeStorageClassUpdated": "2018-07-17T22:41:24.125Z",
       "size": "3",
       "crc32c": "z8SuHQ==",
       "etag": "CLHywKqap9wCEAE="
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CLHywKqap9wCEAE=
    status: 200 OK
    code: 200
    duration: ""
