---
version: 1
interactions:
- request:
    body: '{"Name":"test-bad-json-decode","Overwrite":true,"Type":"String","Value":"Silly
      goose"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193200Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 03b84064-4e57-4bf7-b768-f395850bda76
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-bad-json-decode"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193200Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-bad-json-decode","LastModifiedDate":1.533929520889E9,"Name":"test-bad-json-decode","Type":"String","Value":"Silly
      goose","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 0cceb081-3575-4d21-b96f-6704f238482f
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-bad-json-decode"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193201Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.533929520889E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-bad-json-decode","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 71f29af0-6359-4dcf-ac23-50c64777b5b8
    status: 200 OK
    code: 200
    duration: ""
[...]
