---
version: 1
interactions:
- request:
    body: '{"Name":"test-json-decode","Overwrite":true,"Type":"String","Value":"[\n{\"Name\":
      \"Ed\", \"Text\": \"Knock knock.\"},\n{\"Name\": \"Sam\", \"Text\": \"Who''s
      there?\"}\n]"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193200Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 6e902aef-fc4f-4d25-bd40-eba383a3a4f2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-json-decode"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193200Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-json-decode","LastModifiedDate":1.533929520301E9,"Name":"test-json-decode","Type":"String","Value":"[\n{\"Name\":
      \"Ed\", \"Text\": \"Knock knock.\"},\n{\"Name\": \"Sam\", \"Text\": \"Who''s
      there?\"}\n]","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 73c9853b-b29c-44b6-8b4e-ad21ec8aa2c6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-json-decode"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193200Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.533929520301E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-json-decode","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 78617310-faed-4881-8e06-04267b7ed1bb
    status: 200 OK
    code: 200
    duration: ""
[...]
