---
version: 1
interactions:
- request:
    body: Hello World
    form: {}
    headers:
      X-Ms-Blob-Cache-Control:
      - no-cache
      X-Ms-Blob-Content-Disposition:
      - inline
      X-Ms-Blob-Content-Encoding:
      - identity
      X-Ms-Blob-Content-Language:
      - en
      X-Ms-Blob-Content-Type:
      - text/plain
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Sat, 06 Apr 2019 01:13:44 GMT
    url: https://gocloudblobtests.blob.core.windows.net/go-cloud-bucket/blob-for-copying-src
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - sQqNsWTgdUEFt6mb5y4/5Q==
      Etag:
      - '"0x8D6BA2D1D3A4BF3"'
      Last-Modified:
      - Sat, 06 Apr 2019 01:13:44 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Sat, 06 Apr 2019 01:13:44 GMT
    url: https://gocloudblobtests.blob.core.windows.net/go-cloud-bucket/blob-for-copying-src
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      Content-Language:
      - en
      Content-Md5:
      - sQqNsWTgdUEFt6mb5y4/5Q==
      Content-Type:
      - text/plain
      Etag:
      - '"0x8D6BA2D1D3A4BF3"'
      Last-Modified:
      - Sat, 06 Apr 2019 01:13:44 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Thu, 04 Apr 2019 16:29:23 GMT
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: clobber me
    form: {}
    headers:
      X-Ms-Blob-Cache-Control:
      - ""
      X-Ms-Blob-Content-Disposition:
      - ""
      X-Ms-Blob-Content-Encoding:
      - ""
      X-Ms-Blob-Content-Language:
      - ""
      X-Ms-Blob-Content-Type:
      - text/plain; charset=utf-8
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Sat, 06 Apr 2019 01:13:44 GMT
    url: https://gocloudblobtests.blob.core.windows.net/go-cloud-bucket/blob-for-copying-dest-exists
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - oPqafXJA1cXuvXCJlDDFlw==
      Etag:
      - '"0x8D6BA2D1D4C78EF"'
      Last-Modified:
      - Sat, 06 Apr 2019 01:13:44 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Copy-Source:
      - https://gocloudblobtests.blob.core.windows.net/go-cloud-bucket/blob-for-copying-src
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Sat, 06 Apr 2019 01:13:44 GMT
    url: https://gocloudblobtests.blob.core.windows.net/go-cloud-bucket/blob-for-copying-dest
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D6BA2D1D56183D"'
      Last-Modified:
      - Sat, 06 Apr 2019 01:13:44 GMT
      X-Ms-Copy-Id:
      - ef904385-66b5-46f6-87c0-0553174be641
      X-Ms-Copy-Status:
      - success
      X-Ms-Version:
      - "2018-03-28"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Version:
      - "2018-03-28"
      x-ms-date:
      - Sat, 06 Apr 2019 01:13:44 GMT
    url: https://gocloudblobtests.blob.core.windows.net/go-cloud-bucket/blob-for-copying-dest
    method: GET
  response:
    body: Hello World
    headers:
      Content-Disposition:
      - inline
      Content-Language:
      - en
      Content-Md5:
      - sQqNsWTgdUEFt6mb5y4/5Q==
      Content-Type:
      - text/plain
      Etag:
      - '"0x8D6BA2D1D56183D"'
      Last-Modified:
      - Sat, 06 Apr 2019 01:13:44 GMT
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Sat, 06 Apr 2019 01:13:44 GMT
      X-Ms-Copy-Id:
      - ef904385-66b5-46f6-87c0-0553174be641
      X-Ms-Copy-Progress:
      - 11/11
      X-Ms-Copy-Source:
      - https://gocloudblobtests.blob.core.windows.net/go-cloud-bucket/blob-for-copying-src
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Fri, 05 Apr 2019 16:36:07 GMT
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
