---
version: 1
interactions:
- request:
    body: '{"Name":"test-watch-observes-change","Overwrite":true,"Type":"String","Value":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193159Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - ebf13a98-7166-4fe8-bb38-4d4c9bf675ce
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-watch-observes-change"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193159Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"ARN":"arn:aws:ssm:us-east-2:462380225722:parameter/test-watch-observes-change","LastModifiedDate":1.533929519341E9,"Name":"test-watch-observes-change","Type":"String","Value":"foo","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 4348924e-345a-42b6-ac29-ae0d4cebedb9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-watch-observes-change"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180810T193159Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.533929519341E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/rvangent","Name":"test-watch-observes-change","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - f52e111e-5fc0-42ff-805f-412da0f16fa1
    status: 200 OK
    code: 200
    duration: ""
[...]
