---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestCancelSendReceive-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestCancelSendReceive-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestCancelSendReceive-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>2cf86bf1-951a-5296-810e-3f3f55ee86e1</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 2cf86bf1-951a-5296-810e-3f3f55ee86e1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestCancelSendReceive-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestCancelSendReceive-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestCancelSendReceive-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>98b49386-bdde-50f1-8c01-c7487d2abece</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 98b49386-bdde-50f1-8c01-c7487d2abece
    status: 200 OK
    code: 200
    duration: ""
