---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>914a3712-d36e-5fc2-8f20-63dc139abbb5</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 914a3712-d36e-5fc2-8f20-63dc139abbb5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>377db6e3-737a-5976-a4f8-e22db38e4749</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 377db6e3-737a-5976-a4f8-e22db38e4749
    status: 200 OK
    code: 200
    duration: ""
