---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestSendReceiveTwo-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestSendReceiveTwo-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214834Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>600261bf-5f57-5187-ac9f-35719fa505f0</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 600261bf-5f57-5187-ac9f-35719fa505f0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestSendReceiveTwo-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestSendReceiveTwo-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214834Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceiveTwo-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>6aed551a-a220-5986-8e6e-01d462d2ade6</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 6aed551a-a220-5986-8e6e-01d462d2ade6
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=Publish&Message=0&MessageAttributes.entry.1.Name=a&MessageAttributes.entry.1.Value.DataType=String&MessageAttributes.entry.1.Value.StringValue=0&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestSendReceiveTwo-topic-1&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - "0"
      MessageAttributes.entry.1.Name:
      - a
      MessageAttributes.entry.1.Value.DataType:
      - String
      MessageAttributes.entry.1.Value.StringValue:
      - "0"
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214834Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <PublishResult>
          <MessageId>88a017cc-e69a-5c7e-a844-430226695809</MessageId>
        </PublishResult>
        <ResponseMetadata>
          <RequestId>018f953b-9f56-50b7-8ce0-c1f55fa504c0</RequestId>
        </ResponseMetadata>
      </PublishResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 018f953b-9f56-50b7-8ce0-c1f55fa504c0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestSendReceiveTwo-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceiveTwo-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214835Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>fa167e7b-583a-4952-a83a-0571eaf7201e</MessageId><ReceiptHandle>AQEBoK5WNQ96FPmjD1l2kDEeXUvzd/LQYRSxFylGyn5xjIqLqQELC6WikPbseNVJcHd5z4IH5W0Yt8z8cDXZyQqJXKa5BuEEkhbiO6XMWUQKT6FxXKKzyPzZ0Hz2MN61ed3S5anOEVcwO/LipKEsMqjXgQFZxjuMn1k4N3rNE+OzfL2W49Wryw0Cvpe3dSsgGpOQtkZbAcrSC0gYUBcbhel3piEXjv8n1fZv2i5UW530fFk5APjyZjLpqZAhgfxcXkKrRz0UHHm+tRhNrZCTpwK/9xXshYNI+SMktmiZue544TLJLT+TQZ+g9reBXshp7Cv6U41c5JYQPTUbt2ywxPeO3s4k25dJV4cKfo8ajurL4/eVnrgDer5LeGBssrfP+bSWpUrz7JSs3wmjoZp5zasE4PT9oYU3AFRpfHq3gjzFP62VEOBa7chx/NE+sGfOlUJp</ReceiptHandle><MD5OfBody>fb7c86e365a6d7907fa441ed5a968d3a</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;88a017cc-e69a-5c7e-a844-430226695809&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1&quot;,
        &quot;Message&quot; : &quot;0&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-01T21:48:35.007Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;FS/DRC7jXUNfcoAz20RtJgL1aiSJsATMe3[...]
[...]
