---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestMetadata-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestMetadata-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190207T194854Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:462380225722:TestConformance_TestMetadata-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>83a68b8f-7d44-5c02-8dcc-df59f0a30f52</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 83a68b8f-7d44-5c02-8dcc-df59f0a30f52
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestMetadata-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestMetadata-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190207T194855Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/462380225722/TestConformance_TestMetadata-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>adbc6532-08cf-5b31-9086-31e4852819ef</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - adbc6532-08cf-5b31-9086-31e4852819ef
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F462380225722%2FTestConformance_TestMetadata-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/462380225722/TestConformance_TestMetadata-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190207T194855Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>df11877d-7250-4b3c-a68d-633d2023ee3e</MessageId><ReceiptHandle>AQEBErhTNiNnrQZdwN41p8g0cyM2MC5mQh5aOyhFsaRV9C9+6ca6IS0rCKaKKiWv3PKfPda9brjhC9mbYyhtS6maztGggueTwbl/IYrN7nuZ2x+vIxvSEMW/73204fnEVbl+16NBFXOepkIP0WAc3bx4lXaq4iMS36CH/uM+V286Yv9LtKwmC08+aEw1+bcVXblAh94aSTLOSBWbg2SfaYodHM1Peyd/iUCTqocS2KYHRJ09tQ8EPYhWcTz3GT9VoZfD5FsdtIeDtvUIky0n94jrM/woObyDpauKJvDJ5CH6kHz6o55xMNPblNUuaWqurN6sqcqTzSMvuu41ttZx22z4BwVeOO0EuNlXSyqnQthxMFV29eJ1OhWzFAz8wwchGmDpHo0uTMScHFb5QiN6rT7QhQQBL+v1wHQZfACqWy8X2VhkoXqO/Tg184fQdMtXUGLM</ReceiptHandle><MD5OfBody>a372b6631c6478246fa1470465537abc</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;c8cef9bb-3952-58ab-818a-ad6db4b57bfb&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:462380225722:TestConformance_TestMetadata-topic-1&quot;,
        &quot;Message&quot; : &quot;hello world&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-07T19:48:55.586Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;covkzAODWQB2G3GA2iG6fg9W09/Qpp[...]
[...]
