---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestSendReceiveTwo-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestSendReceiveTwo-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191018Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>59afb36d-98bd-520a-84e6-e7a303675913</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 59afb36d-98bd-520a-84e6-e7a303675913
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestSendReceiveTwo-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestSendReceiveTwo-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191018Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceiveTwo-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>8e2fe8f8-30f7-5545-b79b-bc36ab2d2c9b</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 8e2fe8f8-30f7-5545-b79b-bc36ab2d2c9b
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=Publish&Message=0&MessageAttributes.entry.1.Name=a&MessageAttributes.entry.1.Value.DataType=String&MessageAttributes.entry.1.Value.StringValue=0&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestSendReceiveTwo-topic-1&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - "0"
      MessageAttributes.entry.1.Name:
      - a
      MessageAttributes.entry.1.Value.DataType:
      - String
      MessageAttributes.entry.1.Value.StringValue:
      - "0"
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191018Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <PublishResult>
          <MessageId>44faa21a-553f-5eb8-afc1-f6d4cee555a1</MessageId>
        </PublishResult>
        <ResponseMetadata>
          <RequestId>29fd3bc1-f822-58fd-bcd5-6f0f63f8a3e4</RequestId>
        </ResponseMetadata>
      </PublishResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 29fd3bc1-f822-58fd-bcd5-6f0f63f8a3e4
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestSendReceiveTwo-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceiveTwo-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191018Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>7fc0830f-24ba-4082-8d63-f9c90c308228</MessageId><ReceiptHandle>AQEBxtDwHEARTwItafOrfdDbRAOu3YQCmEsbL3ag0zeniXrIwMO0xK7oQALY/HqRKvWuyFY4kSYOSqbQ0H1VNNeyrbiqmqBnKCjbvtD1S+I8pKB5r7E2bi816s+1qBwAhBAggQui0HFDlfmXUPcohCAOa6eEKMzl0978YksyOIjMNfQPF2BbBZ0KBCMzFZ3URg6avWK/mKPLJHUtvQpG+4SE4/Y2ztsjgEizdsTXbGn/wxqPq3z3CFJQNFCgILMtLRe6Wb9vdXQOKPaNMKxqgcS6DKlxLcGxez1tabL13x3jg/Bg4fNmKB+AR/YfFkDk+6dqUuzEQ/IkjZddrnIsdWE15qBbtH64TwBkpIENsJJaxtyKukoMxd3cWwcrw7KkWk6Mu33Gng78y7xQZLEMBzOtPVdh9UXnC7rS47/cQmNUw/4lfik22ZRjV6zgnimo5dpM</ReceiptHandle><MD5OfBody>fad5668e8b31f9e23f1131a00d84bb13</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;388b7321-786e-5dce-8bae-27efe3b426d7&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1&quot;,
        &quot;Message&quot; : &quot;2&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-01T19:10:18.799Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;Re6EAvldQwnXIGhr2YgeVJidYAbWx427dy[...]
[...]
