---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestSendReceive-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestSendReceive-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191016Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>6caebc0f-93bd-5c68-9834-e8c10865f771</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 6caebc0f-93bd-5c68-9834-e8c10865f771
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestSendReceive-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestSendReceive-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191016Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceive-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>15186055-8da9-5749-99bc-349b1670420b</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 15186055-8da9-5749-99bc-349b1670420b
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Publish&Message=0&MessageAttributes.entry.1.Name=a&MessageAttributes.entry.1.Value.DataType=String&MessageAttributes.entry.1.Value.StringValue=0&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestSendReceive-topic-1&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - "0"
      MessageAttributes.entry.1.Name:
      - a
      MessageAttributes.entry.1.Value.DataType:
      - String
      MessageAttributes.entry.1.Value.StringValue:
      - "0"
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191017Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <PublishResult>
          <MessageId>dc84d9dd-e611-54af-8323-8d137dc89fb6</MessageId>
        </PublishResult>
        <ResponseMetadata>
          <RequestId>32691caa-102a-54a8-b859-48648bf33fb1</RequestId>
        </ResponseMetadata>
      </PublishResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 32691caa-102a-54a8-b859-48648bf33fb1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestSendReceive-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceive-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T191017Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>b6637a65-b5d6-4cf5-abd4-4ccc3e58a356</MessageId><ReceiptHandle>AQEBB0im04hSSiYTx8EGx6Fidybakbb+G2sLqJ/9oPHYz5OnETOtsUO1D4PYd0ox1j9NRFaiCt9SIS75XnYrsIjsUkF2rG+BtOohasDr7/MX/aN1eNnddew7UbKFmZLcxPTYRd/NKN8EFlnasY5QoRsC2x8ccwgOPZT+tOyyiEk1WUVZUGgHEkQjbL+bglYTr98ObnOyQ5WYWUaTDDvYe33Sgk8CGHR1qbB+7eIDToAa5z4r0LN3EOt8rvRUXFR6VyUdCGr4tHrvtTU76JUj8lpQGNgTRlmJPn9zTyJ7dSZTOEB2DXD8IC6MFy21l6CT1tXE78sPOJszf3qbQCz2K5VEWvREDHSv7IJEag4D6K/YKo1sr+j25EFVn91zzBjMsLQcnwQA5klSAalYGnDIDKQqXQe8xh9LEBCas0Tu7boJP62hf2hhQ57HCDjRx/rB66B4</ReceiptHandle><MD5OfBody>9a6c88c7efb7a3d8c2cf64fbb35f27bc</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;e78ba3fb-b9e4-54fe-b335-f735223defe7&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1&quot;,
        &quot;Message&quot; : &quot;1&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-01T19:10:17.502Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;G6BglOY/NQZskzPZ6HOyuZAmwT6T4MFdd+/Pg[...]
[...]
