---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestMetadata-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestMetadata-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190208T180611Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:462380225722:TestConformance_TestMetadata-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>840f4a97-dd83-5ae5-93d0-1e401ad7ced7</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 840f4a97-dd83-5ae5-93d0-1e401ad7ced7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestMetadata-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestMetadata-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190208T180612Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/462380225722/TestConformance_TestMetadata-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>5919bff3-d223-5b0e-a372-eb241577aeae</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 5919bff3-d223-5b0e-a372-eb241577aeae
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F462380225722%2FTestConformance_TestMetadata-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/462380225722/TestConformance_TestMetadata-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190208T180612Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>1cac8226-1144-46e8-99e9-de788d171628</MessageId><ReceiptHandle>AQEBqqx/GLRYAny/q/vDR8/OT6yOeLK8ddSx7yrpxGvN1MvI8WlDsRhUi9UlhJKwJvUNqimhcKEr1SW8DiaiBwoLsoLyyO1dh2Od94TKVgR6ZDDicXqV3Tr9eYHecN0KOuUg6yL28bzOD+T9nHDx+QQTvitrSfXAbHYfu8s17qb0nubsiW844IKQhGNa21GQ+mzbfJEM1ou9dbtEDT/L/h1WZUmrMO77noCmyApiuMQLsRelxYwi9J/9qgIpf3rVZdVpj81lRqCAivUFQR43gITOJ7MIs7OgM7GjkVdSXMJGGr/3jyKsxB/9nmhfAZFlPk9ZmK2bgk06iuS2ExS7HEc8g5CUBAxheyBkP9eusPMp+BI08PsqiMJntPm3gbb7iMQ+U2DTNGxXo0kHZJSJetih8tBmQv1z/HCQpO1zXM/pQ8wIb4YtKheVl+zEJq/u27Vh</ReceiptHandle><MD5OfBody>e774ea677c0dbe49c8c4abc54b231fd2</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;b047fa36-31fc-5da1-8c37-aee1f6a8f993&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:462380225722:TestConformance_TestMetadata-topic-1&quot;,
        &quot;Message&quot; : &quot;hello world&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-08T18:06:12.735Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;tVTy11aC+tmtGOL3edOqXSB2MddhrG[...]
[...]
