---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestErrorOnSendToClosedTopic-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestErrorOnSendToClosedTopic-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020127Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnSendToClosedTopic-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>f08b78b9-16bf-568a-bae4-2c0e5788abb2</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - f08b78b9-16bf-568a-bae4-2c0e5788abb2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestErrorOnSendToClosedTopic-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestErrorOnSendToClosedTopic-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020127Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnSendToClosedTopic-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>2aff5d5b-772b-5c34-b283-09ec361c9634</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 2aff5d5b-772b-5c34-b283-09ec361c9634
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=QueueArn&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestErrorOnSendToClosedTopic-subscription-1&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - QueueArn
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnSendToClosedTopic-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020127Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:us-east-2:221420415498:TestConformance_TestErrorOnSendToClosedTopic-subscription-1</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>f4dfb66b-cbdc-5a43-bb64-e2dc8aeb05e2</RequestId></ResponseMetadata></GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - f4dfb66b-cbdc-5a43-bb64-e2dc8aeb05e2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Subscribe&Endpoint=arn%3Aaws%3Asqs%3Aus-east-2%3A221420415498%3ATestConformance_TestErrorOnSendToClosedTopic-subscription-1&Protocol=sqs&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestErrorOnSendToClosedTopic-topic-1&Version=2010-03-31
    form:
      Action:
      - Subscribe
      Endpoint:
      - arn:aws:sqs:us-east-2:221420415498:TestConformance_TestErrorOnSendToClosedTopic-subscription-1
      Protocol:
      - sqs
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnSendToClosedTopic-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020128Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <SubscribeResult>
          <SubscriptionArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnSendToClosedTopic-topic-1:85da86fc-0759-4a8b-94be-ee81a693f30f</SubscriptionArn>
        </SubscribeResult>
        <ResponseMetadata>
          <RequestId>c347fcd8-5451-5643-a944-a86f15692b7b</RequestId>
        </ResponseMetadata>
      </SubscribeResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - c347fcd8-5451-5643-a944-a86f15692b7b
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestErrorOnSendToClosedTopic-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnSendToClosedTopic-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020128Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult/><ResponseMetadata><RequestId>2329edc1-439d-5535-8539-b97602a5ea94</RequestId></ResponseMetadata></ReceiveMessageResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 2329edc1-439d-5535-8539-b97602a5ea94
    status: 200 OK
    code: 200
    duration: ""
