---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020128Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>c3df9944-28da-5e09-9755-cdf369e21331</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - c3df9944-28da-5e09-9755-cdf369e21331
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020128Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>7351b759-cde7-5572-b062-e3ee8cdffad3</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 7351b759-cde7-5572-b062-e3ee8cdffad3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=QueueArn&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - QueueArn
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020128Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:us-east-2:221420415498:TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>742bd384-a109-52aa-882a-8733e0310d0b</RequestId></ResponseMetadata></GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 742bd384-a109-52aa-882a-8733e0310d0b
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Subscribe&Endpoint=arn%3Aaws%3Asqs%3Aus-east-2%3A221420415498%3ATestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1&Protocol=sqs&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1&Version=2010-03-31
    form:
      Action:
      - Subscribe
      Endpoint:
      - arn:aws:sqs:us-east-2:221420415498:TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1
      Protocol:
      - sqs
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020128Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <SubscribeResult>
          <SubscriptionArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnReceiveFromClosedSubscription-topic-1:201a674c-237c-445e-888d-088e710130f2</SubscriptionArn>
        </SubscribeResult>
        <ResponseMetadata>
          <RequestId>76f1fc03-788a-51f0-8427-a8b439b31cc8</RequestId>
        </ResponseMetadata>
      </SubscribeResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 76f1fc03-788a-51f0-8427-a8b439b31cc8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnReceiveFromClosedSubscription-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190115T020129Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult/><ResponseMetadata><RequestId>940d66cc-21b5-514d-b18b-327b608caeec</RequestId></ResponseMetadata></ReceiveMessageResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 940d66cc-21b5-514d-b18b-327b608caeec
    status: 200 OK
    code: 200
    duration: ""
