---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestSendReceiveTwo-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestSendReceiveTwo-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193358Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>b0f7ad13-0c5d-5c6d-a130-f9c199bba002</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - b0f7ad13-0c5d-5c6d-a130-f9c199bba002
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestSendReceiveTwo-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestSendReceiveTwo-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193358Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceiveTwo-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>02159b6f-46c0-5ef3-a801-cfbdd32663f2</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 02159b6f-46c0-5ef3-a801-cfbdd32663f2
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=Publish&Message=0&MessageAttributes.entry.1.Name=a&MessageAttributes.entry.1.Value.DataType=String&MessageAttributes.entry.1.Value.StringValue=0&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestSendReceiveTwo-topic-1&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - "0"
      MessageAttributes.entry.1.Name:
      - a
      MessageAttributes.entry.1.Value.DataType:
      - String
      MessageAttributes.entry.1.Value.StringValue:
      - "0"
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193358Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <PublishResult>
          <MessageId>6e0a9a4d-772a-5852-8f81-ce9fe2cc743d</MessageId>
        </PublishResult>
        <ResponseMetadata>
          <RequestId>5fe4fa4c-3acf-5701-a17d-ae9eaf295b6e</RequestId>
        </ResponseMetadata>
      </PublishResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 5fe4fa4c-3acf-5701-a17d-ae9eaf295b6e
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestSendReceiveTwo-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceiveTwo-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193358Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>7d372f8f-33c3-4461-8aaa-c3dd307088e0</MessageId><ReceiptHandle>AQEBpQQWK66Pr3gydsTTHMwM+TuNzi0eSZ76603TjZ0XcnRfqecFDi8ws36DWH7YaYukrPFOEXa84eKFiJx8EK0rP8HpG+Jm5fTbB3+Ps7wmFtg6CJWPHzrWPsZpkSXqxlC3IXl0axylyt9xPKCeL4JmYs0pf3yNryEY8kQxlUoDxMuCkSk27e2MvGSTtSTWd9exI2MqwpAXydYuLNczsQz5NRTeKaRBoANs7+uiqrf6OSB/+zn2WEsDSXQUBCqMC737xExvDowfwanbjqNsCNgLQsy4QNJ4ym7BO44AqVvDvf0rNZ7wMBQ14Zm1csxAoIR9O9dl/gdS4itt3Q0KnvjwGypkszSouKaDWZWVeqUPXH/U592zTpwyCHoelvvhGs8/gz6Sgp9/FAMlrP162S77DLGKaEKL2tEbT9yuaWQxd2uomG5SyOV8kyUEa5Dr4avs</ReceiptHandle><MD5OfBody>823055ca6d04b920914231fc60f43e04</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;6e0a9a4d-772a-5852-8f81-ce9fe2cc743d&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceiveTwo-topic-1&quot;,
        &quot;Message&quot; : &quot;0&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-04T19:33:58.645Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;eNUFBnFm7SLTKXhcv4Oiw5hyn7u3jTlLXv[...]
[...]
