---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestSendReceive-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestSendReceive-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214832Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>6f4484de-c203-5824-9709-d01002f2ac53</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 6f4484de-c203-5824-9709-d01002f2ac53
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestSendReceive-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestSendReceive-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214833Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceive-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>d0585dbb-2849-56b1-ae48-0975e8b8ba11</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - d0585dbb-2849-56b1-ae48-0975e8b8ba11
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Publish&Message=0&MessageAttributes.entry.1.Name=a&MessageAttributes.entry.1.Value.DataType=String&MessageAttributes.entry.1.Value.StringValue=0&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestSendReceive-topic-1&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - "0"
      MessageAttributes.entry.1.Name:
      - a
      MessageAttributes.entry.1.Value.DataType:
      - String
      MessageAttributes.entry.1.Value.StringValue:
      - "0"
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214833Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <PublishResult>
          <MessageId>1a77951b-d828-589f-9d4f-c1d518d9bce8</MessageId>
        </PublishResult>
        <ResponseMetadata>
          <RequestId>e5c128ce-d0c9-50cf-b48b-7c00103844b8</RequestId>
        </ResponseMetadata>
      </PublishResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - e5c128ce-d0c9-50cf-b48b-7c00103844b8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestSendReceive-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceive-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214833Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>e0e59058-dae1-48df-bea0-c4da25b44aba</MessageId><ReceiptHandle>AQEB1socBK1J0hmYjtaIoQZ2KlI5vOBXYZ/WMUaegNuwEgkTXhSU8RRjRZbst6E9S3f8Sk86/y2BEY58D4bAPLqh/0+8sLNfSUW/13gGvBhQsOg0S5URKSdIc/0WIBy/MyA9ccoMF07x8CVLHXUz8SRETeKXDUoPD+iU8xf8xOV9svUgAv/b7BSNImlXPyWKMgiChfXwQR5cQ42i1XGICsEpr43tOlI1xpsal3T4uCS6WwSZPdqLtqeps1wdzBOBnMaOr2dwRfdKdduuIHbabJheyU+mO3bd3XWSIAbZ6UnnBTQxLvzQx/fsixOU6E5lq5K+B68/7LpkI/opECpBJniPaJSOgYnd/5Fegts9zytrrOUSpIrDHzHWsqwBH3lF9PnlCj5ztzHjXRhhz82YpBswcA5FTihqNMkQxVcvUC6KIk2u829jHLVcFXIuKJdaN1CW</ReceiptHandle><MD5OfBody>ce9f8c3d04d61d2c123ea7217fd493df</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;eb5d5063-4b6e-57ce-ae8f-04ad8b9fe3b9&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1&quot;,
        &quot;Message&quot; : &quot;1&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-01T21:48:33.710Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;Xskt405DfxmpPXo7y0PW5b54AxrMMIRZ2bC54[...]
[...]
