---
version: 1
interactions:
- request:
    body: Action=ReceiveMessage&QueueUrl=nonexistent-subscription&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - nonexistent-subscription
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214836Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>InvalidAddress</Code><Message>The
      address nonexistent-subscription is not valid for this endpoint.</Message><Detail/></Error><RequestId>0896343f-7dd5-53e0-b1a3-60f1bd217ddf</RequestId></ErrorResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 0896343f-7dd5-53e0-b1a3-60f1bd217ddf
    status: 404 Not Found
    code: 404
    duration: ""
