---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestSendReceive-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestSendReceive-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193357Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>e580f9c4-5b35-5b63-97ba-ad16ced0670c</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - e580f9c4-5b35-5b63-97ba-ad16ced0670c
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestSendReceive-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestSendReceive-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193357Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceive-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>352793e2-a838-5c22-8b97-c7303ddd6b1c</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 352793e2-a838-5c22-8b97-c7303ddd6b1c
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=Publish&Message=0&MessageAttributes.entry.1.Name=a&MessageAttributes.entry.1.Value.DataType=String&MessageAttributes.entry.1.Value.StringValue=0&TopicArn=arn%3Aaws%3Asns%3Aus-east-2%3A221420415498%3ATestConformance_TestSendReceive-topic-1&Version=2010-03-31
    form:
      Action:
      - Publish
      Message:
      - "0"
      MessageAttributes.entry.1.Name:
      - a
      MessageAttributes.entry.1.Value.DataType:
      - String
      MessageAttributes.entry.1.Value.StringValue:
      - "0"
      TopicArn:
      - arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193357Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <PublishResult>
          <MessageId>adc949fd-78a3-5da5-92b8-1d2fed46b1ca</MessageId>
        </PublishResult>
        <ResponseMetadata>
          <RequestId>9d3cb8f0-e8e4-551d-963b-ec227d01b972</RequestId>
        </ResponseMetadata>
      </PublishResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 9d3cb8f0-e8e4-551d-963b-ec227d01b972
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2F221420415498%2FTestConformance_TestSendReceive-subscription-1&Version=2012-11-05
    form:
      Action:
      - ReceiveMessage
      QueueUrl:
      - https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestSendReceive-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190204T193357Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |-
      <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>19cfa617-a5b1-4227-8492-251546a61693</MessageId><ReceiptHandle>AQEBwC6M97NWyVqfQrZWAzYsQPhGk3QBZqjqvVMVBsMp7MaL1Di/lJ59u25gUTr+3JC3oeJcldn5EuXRtLQ1VeoVXXL7wwGDHO/+v2dvnexCXUvliP/usRACMMQHUodRxzgqaZbYv8g/NRPPsch6g+kdQlZ6M5vdDq6Y8UkdgR9FpX+JPT7JQ/od0JsyYYjgQxBXGymuUB4YvgpM/92g/FyfQR47UcIUUXU0IfQedqNUB4MaAh8Zqzqu/to04PtbsZXQsMEZQn72mh4V3vcnjjcrsLFXfakQt1G3Hub1KmEpHEg89hHgs+JP+Rpc+9XeLOjeuuTfiqnYgGY9t4suS9j4niSEAHlTsV6wkHEPfSBMpVJaIPEyhh2fy3m/TDTdkDIar2mC8HSG8GgQSn1G3HkGv05cTWsdUr7PLd1+gKIIJGZI/+UpTWvAb3qb5B9K+Kyp</ReceiptHandle><MD5OfBody>38b3a749b7aadcd08d7d7f8c37bb48bb</MD5OfBody><Body>{
        &quot;Type&quot; : &quot;Notification&quot;,
        &quot;MessageId&quot; : &quot;adc949fd-78a3-5da5-92b8-1d2fed46b1ca&quot;,
        &quot;TopicArn&quot; : &quot;arn:aws:sns:us-east-2:221420415498:TestConformance_TestSendReceive-topic-1&quot;,
        &quot;Message&quot; : &quot;0&quot;,
        &quot;Timestamp&quot; : &quot;2019-02-04T19:33:57.629Z&quot;,
        &quot;SignatureVersion&quot; : &quot;1&quot;,
        &quot;Signature&quot; : &quot;DQ146kWm6T4yHSdprvpuykKn+1pCiZVn5O3K0[...]
[...]
