---
version: 1
interactions:
- request:
    body: Action=CreateTopic&Name=TestConformance_TestErrorOnSendToClosedTopic-topic-1&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - TestConformance_TestErrorOnSendToClosedTopic-topic-1
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214835Z
    url: https://sns.us-east-2.amazonaws.com/
    method: POST
  response:
    body: |
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
        <CreateTopicResult>
          <TopicArn>arn:aws:sns:us-east-2:221420415498:TestConformance_TestErrorOnSendToClosedTopic-topic-1</TopicArn>
        </CreateTopicResult>
        <ResponseMetadata>
          <RequestId>bfd6b913-cdd9-5f61-a10b-eddd0d2a2b16</RequestId>
        </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - bfd6b913-cdd9-5f61-a10b-eddd0d2a2b16
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&QueueName=TestConformance_TestErrorOnSendToClosedTopic-subscription-1&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      QueueName:
      - TestConformance_TestErrorOnSendToClosedTopic-subscription-1
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190201T214835Z
    url: https://sqs.us-east-2.amazonaws.com/
    method: POST
  response:
    body: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/221420415498/TestConformance_TestErrorOnSendToClosedTopic-subscription-1</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>e6968fe0-0a8d-50e6-b9e8-db2eca7eeed9</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - e6968fe0-0a8d-50e6-b9e8-db2eca7eeed9
    status: 200 OK
    code: 200
    duration: ""
