---
version: 1
interactions:
- request:
    body: '{"Name":"test-json-decode","Overwrite":true,"Type":"String","Value":"[\n{\"Name\":
      \"Ed\", \"Text\": \"Knock knock.\"},\n{\"Name\": \"Sam\", \"Text\": \"Who''s
      there?\"}\n]"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180509T222444Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Gocloud-Seq:
      - "0"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Name":"test-json-decode"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180509T222446Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Gocloud-Seq:
      - "1"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"Name":"test-json-decode","Type":"String","Value":"[\n{\"Name\":
      \"Ed\", \"Text\": \"Knock knock.\"},\n{\"Name\": \"Sam\", \"Text\": \"Who''s
      there?\"}\n]","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-json-decode"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180509T222446Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
      X-Gocloud-Seq:
      - "2"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.525904684941E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/shantuo","Name":"test-json-decode","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
