---
version: 1
interactions:
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-watch-observes-change"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210952Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
      X-Gocloud-Seq:
      - "2"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.531861792249E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/cflewis","Name":"test-watch-observes-change","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"Name":"test-watch-observes-change","Overwrite":true,"Type":"String","Value":"bar"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210952Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Gocloud-Seq:
      - "3"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Version":2}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"Name":"test-watch-observes-change"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210952Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Gocloud-Seq:
      - "1"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"Name":"test-watch-observes-change","Type":"String","Value":"foo","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
