---
version: 1
interactions:
- request:
    body: '{"Filters":[{"Key":"Name","Values":["test-good-param"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210948Z
      X-Amz-Target:
      - AmazonSSM.DescribeParameters
      X-Gocloud-Seq:
      - "2"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameters":[{"LastModifiedDate":1.531861788509E9,"LastModifiedUser":"arn:aws:iam::462380225722:user/cflewis","Name":"test-good-param","Policies":[],"Type":"String","Version":1}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"Name":"\n\t\tHodor. Hodor HODOR hodor, hodor hodor, hodor. Hodor hodor
      hodor hodor?!\n\t\tHodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor; hodor
      hodor hodor,\n\t\thodor. Hodor hodor, hodor, hodor hodor. Hodor. Hodor hodor...
      Hodor hodor\n\t\thodor hodor! Hodor. Hodor hodor hodor - hodor, hodor, hodor
      hodor. Hodor.\n\t\tHodor hodor hodor hodor hodor - hodor? Hodor HODOR hodor,
      hodor hodor\n\t\thodor hodor?! Hodor. Hodor hodor... Hodor hodor hodor?\n\t\t","Overwrite":true,"Type":"String","Value":"HODOOORRRRR!"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210949Z
      X-Amz-Target:
      - AmazonSSM.PutParameter
      X-Gocloud-Seq:
      - "5"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"ValidationException","message":"Parameter name: can''t be prefixed
      with \"ssm\" (case-insensitive). If formed as a path, it can consist of sub-paths
      divided by slash symbol; each sub-path can be formed as a mix of letters, numbers
      and the following 3 symbols .-_"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"Name":"test-good-param"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Date:
      - 20180717T210948Z
      X-Amz-Target:
      - AmazonSSM.GetParameter
      X-Gocloud-Seq:
      - "1"
    url: https://ssm.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Parameter":{"Name":"test-good-param","Type":"String","Value":"Jolly snowman
      to test Unicode handling: ☃️","Version":1}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
    status: 200 OK
    code: 200
    duration: ""
[...]
