---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-list&projection=full&versions=false
    method: GET
  response:
    body: |
      {
       "kind": "storage#objects",
       "items": [
        {
         "kind": "storage#object",
         "id": "go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0",
         "name": "blob-for-list-0",
         "bucket": "go-cloud-blob-test-bucket",
         "generation": "1539125360581567",
         "metageneration": "1",
         "contentType": "text/plain; charset=utf-8",
         "timeCreated": "2018-10-09T22:49:20.581Z",
         "updated": "2018-10-09T22:49:20.581Z",
         "storageClass": "REGIONAL",
         "timeStorageClassUpdated": "2018-10-09T22:49:20.581Z",
         "size": "5",
         "md5Hash": "XUFAKrxLKna5cZ2REBfFkg==",
         "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0?generation=1539125360581567&alt=media",
         "acl": [
          {
           "kind": "storage#objectAccessControl",
           "id": "go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-owners-892942638129",
           "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-owners-892942638129",
           "bucket": "go-cloud-blob-test-bucket",
           "object": "blob-for-list-0",
           "generation": "1539125360581567",
           "entity": "project-owners-892942638129",
           "role": "OWNER",
           "projectTeam": {
            "projectNumber": "892942638129",
            "team": "owners"
           },
           "etag": "CL+3h+O4+t0CEAE="
          },
          {
           "kind": "storage#objectAccessControl",
           "id": "go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-editors-892942638129",
           "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-editors-892942638129",
           "bucket": "go-cloud-blob-test-bucket",
           "object": "blob-for-list-0",
           "generation": "1539125360581567",
           "entity"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=2&pageToken=&prefix=blob-for-list&projection=full&versions=false
    method: GET
  response:
    body: |
      {
       "kind": "storage#objects",
       "nextPageToken": "Cg9ibG9iLWZvci1saXN0LTE=",
       "items": [
        {
         "kind": "storage#object",
         "id": "go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0",
         "name": "blob-for-list-0",
         "bucket": "go-cloud-blob-test-bucket",
         "generation": "1539125360581567",
         "metageneration": "1",
         "contentType": "text/plain; charset=utf-8",
         "t[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=2&pageToken=Cg9ibG9iLWZvci1saXN0LTE%3D&prefix=blob-for-list&projection=full&versions=false
    method: GET
  response:
    body: |
      {
       "kind": "storage#objects",
       "items": [
        {
         "kind": "storage#object",
         "id": "go-cloud-blob-test-bucket/blob-for-list-2/1539125360905455",
         "selfLink": "https:/[...]
[...]
