---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-list&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-list-0/1549660921699363","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0","name":"blob-for-list-0","bucket":"go-cloud-blob-test-bucket","generation":"1549660921699363","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-08T21:22:01.698Z","updated":"2019-02-08T21:22:01.698Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-08T21:22:01.698Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0?generation=1549660921699363&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1549660921699363/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1549660921699363","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKO4iuaIreACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1549660921699363/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1549660921699363","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CKO4iuaIreACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1549660921699363/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1549660921699363","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CKO4iuaIreACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1549660921699363/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1549660921699363","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CKO4iuaIreACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CKO4iuaIreACEAE="},{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-list-1/1552581502867640","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-1","name":"blob-for-list-1","bucket":"go-cloud-blob-test-bucket","generation":"1552581502867640","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-03-14T16:38:22.867Z","updated":"2019-03-14T16:38:22.867Z","storageClass":"REGIONAL","timeSt[...]
[...]
