---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-list&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0","name":"blob-for-list-0","bucket":"go-cloud-blob-test-bucket","generation":"1539125360581567","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-09T22:49:20.581Z","updated":"2018-10-09T22:49:20.581Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-09T22:49:20.581Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0?generation=1539125360581567&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CL+3h+O4+t0CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-list-1/1539125360735545","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-1","name":"blob-for-list-1","bucket":"go-cloud-blob-test-bucket","generation":"1539125360735545","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-09T22:49:20.735Z","updated":"2018-10-09T22:49:20.735Z","storageClass":"REGIONAL","timeSt[...]
[...]
