---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=blob-for-list&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0","name":"blob-for-list-0","bucket":"go-cloud-blob-test-bucket","generation":"1539125360581567","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-09T22:49:20.581Z","updated":"2018-10-09T22:49:20.581Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-09T22:49:20.581Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0?generation=1539125360581567&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-list-0/1539125360581567/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-0/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-list-0","generation":"1539125360581567","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CL+3h+O4+t0CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CL+3h+O4+t0CEAE="},{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-list-1/1539125360735545","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-list-1","name":"blob-for-list-1","bucket":"go-cloud-blob-test-bucket","generation":"1539125360735545","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2018-10-09T22:49:20.735Z","updated":"2018-10-09T22:49:20.735Z","storageClass":"REGIONAL","timeSt[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&delimiter=&maxResults=1000&pageToken=&prefix=no-objects-with-this-prefix&prettyPrint=false&projection=full&versions=false
    method: GET
  response:
    body: '{"kind":"storage#objects"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Google-Apiary-Auth-Expires:
      - "1539826868000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/cloud-platform.read-only https://www.googleapis.com/auth/devstorage.read_write
        https://www.googleapis.com/auth/devstorage.read_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hglaxaaf2:4116,/bns/hg/borg/hg/bns/blobstore2/bitpusher/54.scotty,acsfoa15-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=iOPHW_uTJcmRxgOXk5voBQ
      X-Google-Gfe-Request-Trace:
      - acsfoa15-v6:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/54.scotty,acsfoa15-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/54:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6gAEKEmNsb3VkLXN0b3JhZ2Utcm9zeRIIYmlnc3RvcmUYisjPuJ4WIkg3NjQwODYwNTE4NTAtNnFyNHA2Z3BpNmhuNTA2cHQ4ZWp1cTgzZGkzNDFodXIuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20wkJYCMOArMJGWAjDhKzDiK0qXARKDAXlhMjkuR2x3NkJ0bjNoT2p4WlVveXJtSldMWlo0Njh5alZ1YnI1NmhKMExyc25nNVZmTExoNHpBdE0tYWxCeVdsRWo1OU1jdmllQVhYNFdUTjBCWUliLXdrQmM1Um1SRGh1dFdoZmpIb1Q2ZHR6SnBnb0FFekw1UEs2SW54cjlEN0J3MAQ6DTEvUjJiVkNGakc1SH4
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
