---
version: 1
interactions:
- request:
    body: "--4056d316dd78d49c1b048b52225938ee7dee6166c35134033a858da305ca\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"metadata\":{\"foo\":\"bar\"},\"name\":\"blob-for-metadata\"}\n\r\n--4056d316dd78d49c1b048b52225938ee7dee6166c35134033a858da305ca\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--4056d316dd78d49c1b048b52225938ee7dee6166c35134033a858da305ca--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=4056d316dd78d49c1b048b52225938ee7dee6166c35134033a858da305ca
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606691589245","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"1555606691589245","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:11.588Z","updated":"2019-04-18T16:58:11.588Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:11.588Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?generation=1555606691589245&alt=media","metadata":{"foo":"bar"},"acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606691589245/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606691589245","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CP3YjMKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606691589245/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606691589245","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CP3YjMKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606691589245/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606691589245","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CP3YjMKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606691589245/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606691589245","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"CP3YjMKO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"CP3YjMKO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CP3YjMKO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606691589245","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"155[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
