---
version: 1
interactions:
- request:
    body: "--afdfd6629ceb7404cac24e61938d836213dd84fb024a7060adbc87d3a557\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain\",\"metadata\":{\"foo\":\"bar\"},\"name\":\"blob-for-metadata\"}\n\r\n--afdfd6629ceb7404cac24e61938d836213dd84fb024a7060adbc87d3a557\r\nContent-Type:
      text/plain\r\n\r\nhello\r\n--afdfd6629ceb7404cac24e61938d836213dd84fb024a7060adbc87d3a557--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=afdfd6629ceb7404cac24e61938d836213dd84fb024a7060adbc87d3a557
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1539645452159513","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"1539645452159513","metageneration":"1","contentType":"text/plain","timeCreated":"2018-10-15T23:17:32.159Z","updated":"2018-10-15T23:17:32.159Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2018-10-15T23:17:32.159Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?generation=1539645452159513&alt=media","metadata":{"foo":"bar"},"acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1539645452159513/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1539645452159513","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJmUhqLKid4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1539645452159513/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1539645452159513","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CJmUhqLKid4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1539645452159513/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1539645452159513","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CJmUhqLKid4CEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1539645452159513/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1539645452159513","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CJmUhqLKid4CEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CJmUhqLKid4CEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CJmUhqLKid4CEAE=
      X-Google-Apiary-Auth-Expires:
      - "1539645752000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hhlaxbbi3:4224,/bns/hi/borg/hi/bns/blobstore2/bitpusher/12.scotty,acsfoc4-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=DCDFW_vqBsqmxgPZ0KVY
      X-Google-Gfe-Cloud-Project-Number:
      - "892942638129"
      X-Google-Gfe-Request-Trace:
      - acsfoc4-v6:443,/bns/hi/borg/hi/bns/blobstore2/bitpusher/12.scotty,acsfoc4-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hi/borg/hi/bns/blobstore2/bitpusher/12:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5LkdsdzNCcDc3ZDd0WFZJaXhvX09BUE5GN2ZHSE4zdTR3dUplTHhpdjZ3T2k1dmZjTkgwRzgzbW94bEE1ak04a0pDMTZqaWZTRnY0SVM5Rm1SN0Vlem5tYkNaNEhTaTRaWDBUOXBTWWp3N1pVc3pGNTJ1NXdxTEV6YWdobWNBUTAEOg0xL1IyYlZDRmpHNUh-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1539645452159513","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"153[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1539645752000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hhlaxbai4:4069,/bns/hi/borg/hi/bns/blobstore2/bitpusher/17.scotty,acsfoc4-v6:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=DCDFW-6yE-OmxgP-06DgCQ
      X-Google-Gfe-Request-Trace:
      - acsfoc4-v6:443,/bns/hi/borg/hi/bns/blobstore2/bitpusher/17.scotty,acsfoc4-v6:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hi/borg/hi/bns/blobstore2/bitpusher/17:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5LkdsdzNCcDc3ZDd0WFZJaXhvX09BUE5GN2ZHSE4zdTR3dUplTHhpdjZ3T2k1dmZjTkgwRzgzbW94bEE1ak04a0pDMTZqaWZTRnY0SVM5Rm1SN0Vlem5tYkNaNEhTaTRaWDBUOXBTWWp3N1pVc3pGNTJ1NXdxTEV6YWdobWNBUTAEOg0xL1IyYlZDRmpHNUh-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
