---
version: 1
interactions:
- request:
    body: "--b1d6887a62ba5f0981de27e7d4fdcea9a363dd626e2e6bedf669cea29c37\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain\",\"metadata\":{\"foo\":\"bar\"},\"name\":\"blob-for-metadata\"}\n\r\n--b1d6887a62ba5f0981de27e7d4fdcea9a363dd626e2e6bedf669cea29c37\r\nContent-Type:
      text/plain\r\n\r\nhello\r\n--b1d6887a62ba5f0981de27e7d4fdcea9a363dd626e2e6bedf669cea29c37--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=b1d6887a62ba5f0981de27e7d4fdcea9a363dd626e2e6bedf669cea29c37
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-metadata/1538695874046526",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata",
       "name": "blob-for-metadata",
       "bucket": "go-cloud-blob-test-bucket",
       "generation": "1538695874046526",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-10-04T23:31:14.046Z",
       "updated": "2018-10-04T23:31:14.046Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-10-04T23:31:14.046Z",
       "size": "5",
       "md5Hash": "XUFAKrxLKna5cZ2REBfFkg==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?generation=1538695874046526&alt=media",
       "metadata": {
        "foo": "bar"
       },
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-metadata/1538695874046526/project-owners-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-owners-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-metadata",
         "generation": "1538695874046526",
         "entity": "project-owners-892942638129",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "892942638129",
          "team": "owners"
         },
         "etag": "CL7U9ef47d0CEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-metadata/1538695874046526/project-editors-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-editors-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-metadata",
         "generation": "1538695874046526",
         "entity": "project-e[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&projection=full
    method: GET
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-metadata/1538695874046526",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata",
       "name": "blob-for-metadata",
       "bucket": "go-cloud-b[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1538696173000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - lmnf1:4052,/bns/lu/borg/lu/bns/blobstore2/bitpusher/13.scotty,lubdo2:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=wqK2W8inNNCbqwHR9oioAw
      X-Google-Gfe-Request-Trace:
      - lubdo2:443,/bns/lu/borg/lu/bns/blobstore2/bitpusher/13.scotty,lubdo2:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/lu/borg/lu/bns/blobstore2/bitpusher/13:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKDzoNMS9SMmJWQ0ZqRzVIfg
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
