---
version: 1
interactions:
- request:
    body: "--6bb31440e45bed19101f6cab82b66523e0b273f7a1b7f1d3a3eecc21abe6\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"metadata\":{\"\\u0000\\u0001\\u0002\\u0003\\u0004\\u0005\\u0006\\u0007\\u0008\\t\\n\\u000b\\u000c\\r\\u000e\\u000f\\u0010\\u0011\\u0012\\u0013\\u0014\\u0015\\u0016\\u0017\\u0018\\u0019\\u001a\\u001b\\u001c\\u001d\\u001e\\u001f\":\"\\u0000\\u0001\\u0002\\u0003\\u0004\\u0005\\u0006\\u0007\\u0008\\t\\n\\u000b\\u000c\\r\\u000e\\u000f\\u0010\\u0011\\u0012\\u0013\\u0014\\u0015\\u0016\\u0017\\u0018\\u0019\\u001a\\u001b\\u001c\\u001d\\u001e\\u001f\",\"
      !\\\"#$%\\u0026'()*+,-./:;\\u003c=\\u003e?\":\" !\\\"#$%\\u0026'()*+,-./:;\\u003c=\\u003e?\",\"../foo/../bar/../../baz../\":\"../foo/../bar/../../baz../\",\"..\\\\foo\\\\..\\\\bar\\\\..\\\\..\\\\baz..\\\\\":\"..\\\\foo\\\\..\\\\bar\\\\..\\\\..\\\\baz..\\\\\",\"..\\\\foo\\\\\\\\bar\\\\\\\\\\\\baz\":\"..\\\\foo\\\\\\\\bar\\\\\\\\\\\\baz\",\"@[\\\\]^_\":\"@[\\\\]^_\",\"`{|}~\x7F\":\"`{|}~\x7F\",\"foo
      bar baz\":\"foo bar baz\",\"foo\\\"bar\\\"baz\":\"foo\\\"bar\\\"baz\",\"foo//bar///baz\":\"foo//bar///baz\",\"foo/bar/baz\":\"foo/bar/baz\",\"foo\\\\bar\\\\baz\":\"foo\\\\bar\\\\baz\",\"☺☺☺\":\"☺☺☺\"},\"name\":\"blob-for-metadata\"}\n\r\n--6bb31440e45bed19101f6cab82b66523e0b273f7a1b7f1d3a3eecc21abe6\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--6bb31440e45bed19101f6cab82b66523e0b273f7a1b7f1d3a3eecc21abe6--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=6bb31440e45bed19101f6cab82b66523e0b273f7a1b7f1d3a3eecc21abe6
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1549570751131302","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"1549570751131302","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-02-07T20:19:11.130Z","updated":"2019-02-07T20:19:11.130Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-02-07T20:19:11.130Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?generation=1549570751131302&alt=media","metadata":{"\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t\n\u000b\f\r\u000e\u000f\u0010\u0011\u0012\u0013\u0014\u0015\u0016\u0017\u0018\u0019\u001a\u001b\u001c\u001d\u001e\u001f":"\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t\n\u000b\f\r\u000e\u000f\u0010\u0011\u0012\u0013\u0014\u0015\u0016\u0017\u0018\u0019\u001a\u001b\u001c\u001d\u001e\u001f","
      !\"#$%&''()*+,-./:;\u003c=\u003e?":" !\"#$%&''()*+,-./:;\u003c=\u003e?","../foo/../bar/../../baz../":"../foo/../bar/../../baz../","..\\foo\\..\\bar\\..\\..\\baz..\\":"..\\foo\\..\\bar\\..\\..\\baz..\\","..\\foo\\\\bar\\\\\\baz":"..\\foo\\\\bar\\\\\\baz","@[\\]^_":"@[\\]^_","`{|}~\u007f":"`{|}~\u007f","foo
      bar baz":"foo bar baz","foo\"bar\"baz":"foo\"bar\"baz","foo//bar///baz":"foo//bar///baz","foo/bar/baz":"foo/bar/baz","foo\\bar\\baz":"foo\\bar\\baz","☺☺☺":"☺☺☺"},"acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1549570751131302/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1549570751131302","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CKbds/G4quACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1549570751131302/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1549570751131302","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CKbds/G4quACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1549570751131302/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1549570751131302","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CKbds/G4quACEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1549570751131302/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1549570751131302","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CKbds/G4quACEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"mnG7TA==","etag":"CKbds/G4quACEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CKbds/G4quACEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1549570751131302","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"154[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
