---
version: 1
interactions:
- request:
    body: "--62baf2bdd8213ced9245e76a0a87c1d178e20a348a7076b1a2165622749e\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XUFAKrxLKna5cZ2REBfFkg==\",\"metadata\":{\"\\u0000\\u0001\\u0002\\u0003\\u0004\\u0005\\u0006\\u0007\\u0008\\t\\n\\u000b\\u000c\\r\\u000e\\u000f\":\"\\u0000\\u0001\\u0002\\u0003\\u0004\\u0005\\u0006\\u0007\\u0008\\t\\n\\u000b\\u000c\\r\\u000e\\u000f\",\"\\u0010\\u0011\\u0012\\u0013\\u0014\\u0015\\u0016\\u0017\\u0018\\u0019\\u001a\\u001b\\u001c\\u001d\\u001e\\u001f\":\"\\u0010\\u0011\\u0012\\u0013\\u0014\\u0015\\u0016\\u0017\\u0018\\u0019\\u001a\\u001b\\u001c\\u001d\\u001e\\u001f\",\"
      !\\\"#$%\\u0026'()*+,-./\":\" !\\\"#$%\\u0026'()*+,-./\",\"../foo/../bar/../../baz../\":\"../foo/../bar/../../baz../\",\"..\\\\foo\\\\..\\\\bar\\\\..\\\\..\\\\baz..\\\\\":\"..\\\\foo\\\\..\\\\bar\\\\..\\\\..\\\\baz..\\\\\",\"..\\\\foo\\\\\\\\bar\\\\\\\\\\\\baz\":\"..\\\\foo\\\\\\\\bar\\\\\\\\\\\\baz\",\"12345\":\"12345\",\":;\\u003c=\\u003e?\":\":;\\u003c=\\u003e?\",\"@\":\"@\",\"[\\\\]^_\":\"[\\\\]^_\",\"`\":\"`\",\"foo
      bar baz\":\"foo bar baz\",\"foo\\\"bar\\\"baz\":\"foo\\\"bar\\\"baz\",\"foo//bar///baz\":\"foo//bar///baz\",\"foo/bar/baz\":\"foo/bar/baz\",\"foo\\\\bar\\\\baz\":\"foo\\\\bar\\\\baz\",\"{|}~\x7F\":\"{|}~\x7F\",\"☺☺☺\":\"☺☺☺\"},\"name\":\"blob-for-metadata\"}\n\r\n--62baf2bdd8213ced9245e76a0a87c1d178e20a348a7076b1a2165622749e\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello\r\n--62baf2bdd8213ced9245e76a0a87c1d178e20a348a7076b1a2165622749e--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=62baf2bdd8213ced9245e76a0a87c1d178e20a348a7076b1a2165622749e
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606692373735","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"1555606692373735","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-18T16:58:12.373Z","updated":"2019-04-18T16:58:12.373Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-18T16:58:12.373Z","size":"5","md5Hash":"XUFAKrxLKna5cZ2REBfFkg==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?generation=1555606692373735&alt=media","metadata":{"\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t\n\u000b\f\r\u000e\u000f":"\u0000\u0001\u0002\u0003\u0004\u0005\u0006\u0007\b\t\n\u000b\f\r\u000e\u000f","\u0010\u0011\u0012\u0013\u0014\u0015\u0016\u0017\u0018\u0019\u001a\u001b\u001c\u001d\u001e\u001f":"\u0010\u0011\u0012\u0013\u0014\u0015\u0016\u0017\u0018\u0019\u001a\u001b\u001c\u001d\u001e\u001f","
      !\"#$%&''()*+,-./":" !\"#$%&''()*+,-./","../foo/../bar/../../baz../":"../foo/../bar/../../baz../","..\\foo\\..\\bar\\..\\..\\baz..\\":"..\\foo\\..\\bar\\..\\..\\baz..\\","..\\foo\\\\bar\\\\\\baz":"..\\foo\\\\bar\\\\\\baz","12345":"12345",":;\u003c=\u003e?":":;\u003c=\u003e?","@":"@","[\\]^_":"[\\]^_","`":"`","foo
      bar baz":"foo bar baz","foo\"bar\"baz":"foo\"bar\"baz","foo//bar///baz":"foo//bar///baz","foo/bar/baz":"foo/bar/baz","foo\\bar\\baz":"foo\\bar\\baz","{|}~\u007f":"{|}~\u007f","☺☺☺":"☺☺☺"},"acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606692373735/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606692373735","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"COfJvMKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606692373735/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606692373735","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"COfJvMKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606692373735/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606692373735","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"COfJvMKO2uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606692373735/user-light@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata/acl/user-light@google.com","bucket":"go-cloud-blob-test-bucket","object":"blob-for-metadata","generation":"1555606692373735","entity":"user-light@google.com","role":"OWNER","email":"light@google.com","etag":"COfJvMKO2uECEAE="}],"owner":{"entity":"user-light@google.com"},"crc32c":"mnG7TA==","etag":"COfJvMKO2uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - COfJvMKO2uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false&projection=full
    method: GET
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/blob-for-metadata/1555606692373735","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata","name":"blob-for-metadata","bucket":"go-cloud-blob-test-bucket","generation":"155[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-metadata?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
