---
version: 1
interactions:
- request:
    body: |
      {"name":"go-cloud-test-obj-naming"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.googleapis.com/storage/v1/b?alt=json
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: "\nContent-Type: application/json\r\n\r\n{\"bucket\":\"go-cloud-test-obj-naming\",\"contentType\":\"text/plain;
      charset=utf-8\",\"name\":\"object-name\"}\n\nContent-Type: text/plain; charset=utf-8\r\n\r\nfoo\r\n\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=092fdac93c375aad8ae941cbc70166586a43d66fe57ee30914c6f5ef23ed
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-test-obj-naming/o?alt=json
    method: POST
  response:
    body: '{ "kind": "storage#object",    "bucket": "go-cloud-test-obj-naming", "generation":
      "1531846633117957", "metageneration": "1", "contentType": "text/plain; charset=utf-8",
      "timeCreated": "2018-07-17T16:57:13.117Z", "updated": "2018-07-17T16:57:13.117Z",
      "storageClass": "STANDARD", "timeStorageClassUpdated": "2018-07-17T16:57:13.117Z",
      "size": "3", "md5Hash": "rL0Y20zC+Fzt72VPzMSk2A==", "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-test-obj-naming/o/object-name?generation=1531846633117957&alt=media",
      "acl": [  {   "kind": "storage#objectAccessControl",         "bucket": "go-cloud-test-obj-naming",   "object":
      "object-name",   "generation": "1531846633117957",   "entity": "project-owners-640193379878",   "role":
      "OWNER",   "projectTeam": {        "team": "owners"   },   "etag": "CIWyq7PNptwCEAE="  },  {   "kind":
      "storage#objectAccessControl",         "bucket": "go-cloud-test-obj-naming",   "object":
      "object-name",   "generation": "1531846633117957",   "entity": "project-editors-640193379878",   "role":
      "OWNER",   "projectTeam": {        "team": "editors"   },   "etag": "CIWyq7PNptwCEAE="  },  {   "kind":
      "storage#objectAccessControl",         "bucket": "go-cloud-test-obj-naming",   "object":
      "object-name",   "generation": "1531846633117957",   "entity": "project-viewers-640193379878",   "role":
      "READER",   "projectTeam": {        "team": "viewers"   },   "etag": "CIWyq7PNptwCEAE="  },  {   "kind":
      "storage#objectAccessControl",         "bucket": "go-cloud-test-obj-naming",   "object":
      "object-name",   "generation": "1531846633117957",   "entity": "user-cflewis@google.com",   "role":
      "OWNER",   "email": "cflewis@google.com",   "etag": "CIWyq7PNptwCEAE="  } ],
      "owner": {  "entity": "user-cflewis@google.com" }, "crc32c": "z8SuHQ==", "etag":
      "CIWyq7PNptwCEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CIWyq7PNptwCEAE=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-test-obj-naming?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 409 Conflict
    code: 409
    duration: ""
