---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-8ucket_nam3?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-bucket-name?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      {"name":"go-cloud-8ucket_nam3"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.googleapis.com/storage/v1/b?alt=json
    method: POST
  response:
    body: |
      {
       "kind": "storage#bucket",
       "id": "go-cloud-8ucket_nam3",
       "projectNumber": "640193379878",
       "name": "go-cloud-8ucket_nam3",
       "timeCreated": "2018-07-17T22:41:22.690Z",
       "updated": "2018-07-17T22:41:22.690Z",
       "metageneration": "1",
       "location": "US",
       "storageClass": "STANDARD",
       "etag": "CAE="
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CAE=
    status: 200 OK
    code: 200
    duration: ""
[...]
