---
version: 1
interactions:
- request:
    body: "--e21734d61587fb2040a6a269bb119906e50dc7c929ae69a1f9b3feeec391\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XrY7u+Ae7tCTyyK7j1rNww==\",\"name\":\"precondition-key\"}\n\r\n--e21734d61587fb2040a6a269bb119906e50dc7c929ae69a1f9b3feeec391\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--e21734d61587fb2040a6a269bb119906e50dc7c929ae69a1f9b3feeec391--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=e21734d61587fb2040a6a269bb119906e50dc7c929ae69a1f9b3feeec391
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&ifGenerationMatch=-999&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"error":{"errors":[{"domain":"global","reason":"conditionNotMet","message":"Precondition
      Failed","locationType":"header","location":"If-Match","debugInfo":"com.google.net.rpc3.RpcException:
      cloud.bigstore.ResponseCode.ErrorCode::INCORRECT_GENERATION_SPECIFIED: Expected
      generation to match -999, but object does not exist.\n\tat com.google.cloud.bigstore.common.BigstoreException.toRpc3Exception(BigstoreException.java:144)\n\tat
      com.google.cloud.bigstore.common.BigstoreException.throwRpc3OnError(BigstoreException.java:301)\n\tat
      com.google.cloud.bigstore.api.json.handlers.objects.InsertObject.handleRequestReceived(InsertObject[...]
- request:
    body: "--886af3af40c8334b81fe633df698cc44d1808df8d259625465400b83d78b\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XrY7u+Ae7tCTyyK7j1rNww==\",\"name\":\"precondition-key\"}\n\r\n--886af3af40c8334b81fe633df698cc44d1808df8d259625465400b83d78b\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--886af3af40c8334b81fe633df698cc44d1808df8d259625465400b83d78b--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=886af3af40c8334b81fe633df698cc44d1808df8d259625465400b83d78b
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&ifGenerationMatch=0&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/precondition-key/1556296995766992","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key","name":"precondition-key","bucket":"go-cloud-blob-test-bucket","generation":"1556296995766992","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-26T16:43:15.765Z","updated":"2019-04-26T16:43:15.765Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-26T16:43:15.765Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key?generation=1556296995766992&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556296995766992/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556296995766992","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CNCF5Iya7uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556296995766992/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556296995766992","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CNCF5Iya7uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556296995766992/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556296995766992","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CNCF5Iya7uECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556296995766992/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556296995766992","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CNCF5Iya7uECEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"CNCF5Iya7uECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CNCF5Iya7uECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
