---
version: 1
interactions:
- request:
    body: "--d438767e09cb038bb48032e680a4b45b57396989db1a085ea8b2d908869a\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XrY7u+Ae7tCTyyK7j1rNww==\",\"name\":\"precondition-key\"}\n\r\n--d438767e09cb038bb48032e680a4b45b57396989db1a085ea8b2d908869a\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--d438767e09cb038bb48032e680a4b45b57396989db1a085ea8b2d908869a--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=d438767e09cb038bb48032e680a4b45b57396989db1a085ea8b2d908869a
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&ifGenerationMatch=-999&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"error":{"errors":[{"domain":"global","reason":"conditionNotMet","message":"Precondition
      Failed","locationType":"header","location":"If-Match","debugInfo":"com.google.net.rpc3.RpcException:
      cloud.bigstore.ResponseCode.ErrorCode::INCORRECT_GENERATION_SPECIFIED: Expected
      generation to match -999, but actual value was 1556223607374273.\n\tat com.google.cloud.bigstore.common.BigstoreException.toRpc3Exception(BigstoreException.java:144)\n\tat
      com.google.cloud.bigstore.common.BigstoreException.throwRpc3OnError(BigstoreException.java:301)\n\tat
      com.google.cloud.bigstore.api.json.handlers.objects.InsertObject.handleRequestReceived([...]
- request:
    body: "--a06e1c9d5bc28c9d527cbc660eadb26af2d27d3b90e2a3a7ac63cf3e98a1\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain;
      charset=utf-8\",\"md5Hash\":\"XrY7u+Ae7tCTyyK7j1rNww==\",\"name\":\"precondition-key\"}\n\r\n--a06e1c9d5bc28c9d527cbc660eadb26af2d27d3b90e2a3a7ac63cf3e98a1\r\nContent-Type:
      text/plain; charset=utf-8\r\n\r\nhello world\r\n--a06e1c9d5bc28c9d527cbc660eadb26af2d27d3b90e2a3a7ac63cf3e98a1--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=a06e1c9d5bc28c9d527cbc660eadb26af2d27d3b90e2a3a7ac63cf3e98a1
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&ifGenerationNotMatch=-999&prettyPrint=false&projection=full&uploadType=multipart
    method: POST
  response:
    body: '{"kind":"storage#object","id":"go-cloud-blob-test-bucket/precondition-key/1556223659419926","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key","name":"precondition-key","bucket":"go-cloud-blob-test-bucket","generation":"1556223659419926","metageneration":"1","contentType":"text/plain;
      charset=utf-8","timeCreated":"2019-04-25T20:20:59.419Z","updated":"2019-04-25T20:20:59.419Z","storageClass":"REGIONAL","timeStorageClassUpdated":"2019-04-25T20:20:59.419Z","size":"11","md5Hash":"XrY7u+Ae7tCTyyK7j1rNww==","mediaLink":"https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key?generation=1556223659419926&alt=media","acl":[{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556223659419926/project-owners-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/project-owners-892942638129","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556223659419926","entity":"project-owners-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"owners"},"etag":"CJbSpPOI7OECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556223659419926/project-editors-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/project-editors-892942638129","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556223659419926","entity":"project-editors-892942638129","role":"OWNER","projectTeam":{"projectNumber":"892942638129","team":"editors"},"etag":"CJbSpPOI7OECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556223659419926/project-viewers-892942638129","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/project-viewers-892942638129","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556223659419926","entity":"project-viewers-892942638129","role":"READER","projectTeam":{"projectNumber":"892942638129","team":"viewers"},"etag":"CJbSpPOI7OECEAE="},{"kind":"storage#objectAccessControl","id":"go-cloud-blob-test-bucket/precondition-key/1556223659419926/user-rvangent@google.com","selfLink":"https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/precondition-key/acl/user-rvangent@google.com","bucket":"go-cloud-blob-test-bucket","object":"precondition-key","generation":"1556223659419926","entity":"user-rvangent@google.com","role":"OWNER","email":"rvangent@google.com","etag":"CJbSpPOI7OECEAE="}],"owner":{"entity":"user-rvangent@google.com"},"crc32c":"yZRlqg==","etag":"CJbSpPOI7OECEAE="}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - CJbSpPOI7OECEAE=
      X-Guploader-Customer:
      - apiary_cloudstorage_single_post_uploads
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 200 OK
    code: 200
    duration: ""
