---
version: 1
interactions:
- request:
    body: '{"ExpressionAttributeNames":{"#pk":"_id"},"ProjectionExpression":"#pk","TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T152500Z
      X-Amz-Target:
      - DynamoDB_20120810.Scan
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"Count":6,"Items":[{"_id":{"S":"testPut1"}},{"_id":{"S":"testData"}},{"_id":{"S":"testGet1"}},{"_id":{"S":"Alice"}},{"_id":{"S":"testUpdate"}},{"_id":{"S":"testReplace"}}],"ScannedCount":6}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2385532917"
      X-Amzn-Requestid:
      - G882SVPA8FFNTTFDBH5KCLNHD3VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"RequestItems":{"docstore-test":[{"DeleteRequest":{"Key":{"_id":{"S":"testPut1"}}}},{"DeleteRequest":{"Key":{"_id":{"S":"testData"}}}},{"DeleteRequest":{"Key":{"_id":{"S":"testGet1"}}}},{"DeleteRequest":{"Key":{"_id":{"S":"Alice"}}}},{"DeleteRequest":{"Key":{"_id":{"S":"testUpdate"}}}},{"DeleteRequest":{"Key":{"_id":{"S":"testReplace"}}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T152501Z
      X-Amz-Target:
      - DynamoDB_20120810.BatchWriteItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"UnprocessedItems":{}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "4185382651"
      X-Amzn-Requestid:
      - P917PKF3AUE4EL14E5B7P6CHGNVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
