---
version: 1
interactions:
- request:
    body: "--34546847cf2fdfbda266f346f0c5b1192e371ca4cb173d4f32102f16cf41\r\nContent-Type:
      application/json\r\n\r\n{\"bucket\":\"go-cloud-blob-test-bucket\",\"contentType\":\"text/plain\",\"name\":\"blob-for-attributes\"}\n\r\n--34546847cf2fdfbda266f346f0c5b1192e371ca4cb173d4f32102f16cf41\r\nContent-Type:
      text/plain\r\n\r\nHello World!\r\n--34546847cf2fdfbda266f346f0c5b1192e371ca4cb173d4f32102f16cf41--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/related; boundary=34546847cf2fdfbda266f346f0c5b1192e371ca4cb173d4f32102f16cf41
    url: https://www.googleapis.com/upload/storage/v1/b/go-cloud-blob-test-bucket/o?alt=json&projection=full&uploadType=multipart
    method: POST
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-attributes/1537380226651553",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "go-cloud-blob-test-bucket",
       "generation": "1537380226651553",
       "metageneration": "1",
       "contentType": "text/plain",
       "timeCreated": "2018-09-19T18:03:46.651Z",
       "updated": "2018-09-19T18:03:46.651Z",
       "storageClass": "REGIONAL",
       "timeStorageClassUpdated": "2018-09-19T18:03:46.651Z",
       "size": "12",
       "md5Hash": "7Qdih1MuhjZehB6Sv8UNjA==",
       "mediaLink": "https://www.googleapis.com/download/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes?generation=1537380226651553&alt=media",
       "acl": [
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-attributes/1537380226651553/project-owners-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes/acl/project-owners-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-attributes",
         "generation": "1537380226651553",
         "entity": "project-owners-892942638129",
         "role": "OWNER",
         "projectTeam": {
          "projectNumber": "892942638129",
          "team": "owners"
         },
         "etag": "CKGrrdLTx90CEAE="
        },
        {
         "kind": "storage#objectAccessControl",
         "id": "go-cloud-blob-test-bucket/blob-for-attributes/1537380226651553/project-editors-892942638129",
         "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes/acl/project-editors-892942638129",
         "bucket": "go-cloud-blob-test-bucket",
         "object": "blob-for-attributes",
         "generation": "1537380226651553",
         "entity": "pro[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes?alt=json&projection=full
    method: GET
  response:
    body: |
      {
       "kind": "storage#object",
       "id": "go-cloud-blob-test-bucket/blob-for-attributes/1537380226651553",
       "selfLink": "https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes",
       "name": "blob-for-attributes",
       "bucket": "go[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.googleapis.com/storage/v1/b/go-cloud-blob-test-bucket/o/blob-for-attributes?alt=json
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      X-Google-Apiary-Auth-Expires:
      - "1537380526000"
      X-Google-Apiary-Auth-Scopes:
      - https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/devstorage.full_control
        https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/devstorage.write_only
      X-Google-Apiary-Auth-User:
      - "61688748495"
      X-Google-Backends:
      - hglaxaar12:4094,/bns/hg/borg/hg/bns/blobstore2/bitpusher/31.scotty,acsfoi11:443
      X-Google-Dos-Service-Trace:
      - main:apps-upload-cloud-storage-unified
      X-Google-Gfe-Backend-Request-Info:
      - eid=go-iW9uEMsqWxgO3jZqQAg
      X-Google-Gfe-Request-Trace:
      - acsfoi11:443,/bns/hg/borg/hg/bns/blobstore2/bitpusher/31.scotty,acsfoi11:443
      X-Google-Gfe-Response-Code-Details-Trace:
      - response_code_set_by_backend
      X-Google-Gfe-Service-Trace:
      - bitpusher-gcs-apiary
      X-Google-Netmon-Label:
      - /bns/hg/borg/hg/bns/blobstore2/bitpusher/31:caf3
      X-Google-Service:
      - bitpusher-gcs-apiary
      X-Google-Session-Info:
      - CM-zvuflARoCGAY6fAoSY2xvdWQtc3RvcmFnZS1yb3N5EghiaWdzdG9yZRiKyM-4nhYiSDc2NDA4NjA1MTg1MC02cXI0cDZncGk2aG41MDZwdDhlanVxODNkaTM0MWh1ci5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTCQlgIw4Csw4Ssw4ytKlwESgwF5YTI5Lkdsd2RCbFNRMTJjR0VsbmJOdFQ2TkMwaUcwMVcyR1B6QVZPZ0ZPU2tPamZ6VktBQ3BFX3RfQUpEOXhzV1lyLTlxZjZSV01LMWp5Qm96WmV0NXZ6YjFWRmRWTDlKV01EZjNVekRVTGF2cnprcWlrX2tDdGF2SFh5b0VPbUhGUTAEOg0xL2pEbkFzZkxEUV9-
      X-Google-Shellfish-Status:
      - CA0gBEBG
      X-Guploader-Customer:
      - apiary_cloudstorage_metadata
      X-Guploader-Request-Result:
      - success
      X-Guploader-Upload-Result:
      - success
    status: 204 No Content
    code: 204
    duration: ""
